@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys }) 
</hide>

@* TODO:: @2dm Merge into 000-data-sources-home, delete this view and file *@
 
<h2>Custom Dynamic DataSources - Introduction</h2>
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <p>
      Here we'll give you a first taste of <strong>Custom Dynamic DataSources</strong> - a new feature in 2sxc 15.
    </p>
    <p>
      This allows you to create DataSources directly in your App, without compiling to DLL or anything.
    </p>

  </div>
</div> 
@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
