@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys }) 
</hide>


<h2>Custom Dynamic DataSources - Multiple Lists/Streams</h2>
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <p>
      DataSources can have one or more streams.
    </p>

  </div>
</div>

<trim>
  <h2>Two Streams: Default and Settings</h2>
  <p>
      The default stream is called <code>Default</code> so you don't need to specify it.
      In the following example, we have a second stream called <code>Settings</code>.
  </p>
</trim>

@Sys.SourceCode.ResultStart("custom-101", "ListMultiStream.cs")
  @{
    // Create the Dynamic DataSource with the name "ListMultiStream"
    var multiStream = Kit.Data.GetSource(name: "ListMultiStream");
    var settings = AsDynamic(multiStream["Settings"].List.FirstOrDefault());
  }
  <h3>Data in the stream "Settings"</h3>
  <ul>
    <li>PageSize: @settings.PageSize</li>
    <li>ShowStuff: @settings.ShowStuff</li>
  </ul>
  <h3>List of Data in the Default stream (@multiStream.List.Count())</h3>
  <ul>
    @foreach (var item in AsList(multiStream)) {
      <li>
        <strong>@item.Title</strong> (@item.EntityId / @item.EntityGuid) - Fav Number: @item.FavoriteNumber
      </li>
    }
  </ul>
@Sys.SourceCode.ResultEnd("file:../DataSources/ListMultiStream.cs")
