@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys }) 
</hide>


<h2>Custom Dynamic DataSources - Process Attached Data</h2>
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <p>
      DataSources be attached together.
      This means that you can create a DataSource which takes one or more DataSources as input.
    </p>

  </div>
</div>

<trim>
  <h2>Keep Only Odd IDs</h2>
  <p>
    This example has a DataSource which receives data from an <em>upstream</em> source.
    The upstream source is the list of all authors in this App.
    Our DataSource will then filter this list, and only keep the authors with an odd ID.
  </p>
</trim>

@Sys.SourceCode.ResultStart("custom-101", "KeepOdd.cs")
  @{
    var authors = App.Data["Persons"];
    // Create the Dynamic DataSource with the name "KeepOdd"
    var keepOdd = Kit.Data.GetSource(name: "KeepOdd", attach: authors);
  }
  <h3>List of Data in the CSV DataSource (@keepOdd.List.Count())</h3>
  <ul>
    @foreach (var item in AsList(keepOdd)) {
      <li>
        <strong>@item.EntityTitle</strong> - the Answer: @item.TheAnswer
      </li>
    }
  </ul>
@Sys.SourceCode.ResultEnd("file:../DataSources/KeepOdd.cs")
