@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys }) 
</hide>


<h2>Custom Dynamic DataSources - Get Data from Other DataSources</h2>
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <p>
      DataSources can also get other DataSources.
      For example, a DataSource could get data from the App directly to process them.
    </p>

  </div>
</div>

<trim>
  <h2>Retrieve all the Authors</h2>
  <p>
    The <code>Authors</code> DataSource demonstrates how to get all App data
    and then filter it using an inner <code>EntityTypeFilter</code> DataSource.
  </p>
</trim>

@Sys.SourceCode.ResultStart("custom-101", "Authors.cs")
  @{
    // Create the Dynamic DataSource with the name "Basic101"
    var authors = Kit.Data.GetSource(name: "Authors");
  }
  <h3>Items in the DataSource (@authors.List.Count())</h3>
  <ul>
    @foreach (var item in AsList(authors)) {
      <li>
        <strong>@item.EntityTitle</strong>
      </li>
    }
  </ul>
@Sys.SourceCode.ResultEnd("file:../DataSources/Authors.cs")

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
