@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }

@{ var snip = Sys.SourceCode.QuickRef(item: MyModel.Item("Item")); }
@snip.SnipStart()
  <ol>
    <li>Platform name: '<code>@MyContext.Platform.Name</code>'</li>
    <li>Platform type: '<code>@MyContext.Platform.Type</code>'</li>
    <li>Platform version: '<code>@MyContext.Platform.Version</code>'</li>

    <li>Culture Current Code: '<code>@MyContext.Culture.CurrentCode</code>'</li>
    <li>Culture Default Code: '<code>@MyContext.Culture.DefaultCode</code>'</li>

    <li>Site Id: '<code>@MyContext.Site.Id</code>'</li>
    <li>Site Url: '<code>@MyContext.Site.Url</code>'</li>
    <li>Site UrlRoot: '<code>@MyContext.Site.UrlRoot</code>'</li>

    <li>Page Id: '<code>@MyPage.Id</code>'</li>
    <li>Page Url: '<code>@MyPage.Url</code>'</li>
    <li>Page Url Parameters: '<code>@MyPage.Parameters</code>'</li>

    <li>Module Id: '<code>@MyContext.Module.Id</code>'</li>

    <li>User Id: '<code>@MyUser.Id</code>'</li>
    <li>User Name: '<code>@MyUser.Name</code>'</li>
    <li>User IsContentAdmin: '<code>@MyUser.IsContentAdmin</code>'</li>
    <li>User IsSiteAdmin: '<code>@MyUser.IsSiteAdmin</code>'</li>
    <li>User IsSystemAdmin: '<code>@MyUser.IsSystemAdmin</code>'</li>

    <li>View Id: '<code>@MyView.Id</code>'</li>
    <li>View Identifier: '<code>@MyView.Identifier</code>' (blank if no special identifier) </li>
    <li>View Name: '<code>@MyView.Name</code>'</li>
    <li>View Edition: '<code>@MyView.Edition</code>' (blank if no special CSS Framework edition) </li>

    <li>Unique Key '<code>@UniqueKey</code>'</li>
  </ol>
@snip.SnipEnd()