@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
  @Html.Partial("header.cshtml", new { Sys = Sys })  
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Platform Specific Sub-Razor-Files</h2>
      <p>
        In some cases it's just simple to provide different <code>cshtml</code> files for each platform. 
      </p>
      <p>
        Using <code>CmsContext.Platform.Name</code> you can switch between files using CmsContext.Platform.Name. Here's a simple example.
      </p>
    </div>
  </div>


@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: new Dictionary<string, string> {
  { "Dnn Razor", "file:./CodeSwitching.Dnn.cshtml" },
  { "Oqtane Razor", "file:./CodeSwitching.Oqtane.cshtml" },
  })).SnipStart())
  @Html.Partial("CodeSwitching." + CmsContext.Platform.Name + ".cshtml")
@snip.SnipEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
