@inherits Custom.Hybrid.Razor12
<hide>
@Html.Partial("_header.cshtml")
</hide>

<trim>
<h2>Hybrid Templates using Preprocessor Directives</h2>
<p>
  Razor is mostly <code>HTML</code> + <code>C#</code>. 
  But we need often need .net features, which can vary a bit from .net Framework and DNN, or .net core and Oqtane.
  This is where <code>#if</code>, <code>#if !</code>, <code>#else</code> and <code>#endif</code> are used. 
  Read more about this in the <a href="https://docs.2sxc.org/net-code/razor/hybrid/index.html" target="_blank">docs</a>.
</p>
<p>
  Using <code>#if</code> you can mark code to only be compiled in .net Core or in Dnn. Here's a simple example.
</p>
</trim>

<hr>

<snippet id="hybrid">
@{#if NETCOREAPP}
  <h3>.net Core code = Oqtane 💧</h3>
  <p>
    On Oqtane or any .net core system you should see this because <code>#if NETCOREAPP</code> was <code>true</code>. <br>

    Here you can also place code which only works in Oqtane, like: 
    Version: @Oqtane.Shared.Constants.Version
  </p>
@{#else}
  <h3>NON .net Core code = Dnn ☢</h3>
  <p>
    On Dnn you'll see this because <code>#if NETCOREAPP</code> was <code>false</code>. <br>

    Here you can also place code which only compiles in DNN, like: 
    PortalId = @DotNetNuke.Entities.Portals.PortalSettings.Current.PortalId
  </p>
@{#endif}

</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "hybrid", Size = 400 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 600 }) 

@* 2sxclint:disable:no-dnn-namespaces *@

</hide>