@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })  
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Platform Specific Razor using Preprocessor <code>#if</code></h2>
    <p>
      Razor is mostly <code>HTML</code> + <code>C#</code>. 
      But we need often need .net features, which can vary a bit from .net Framework and DNN, or .net core and Oqtane.
    </p>
    <p>
      Preprocessor directives such as <code>#if</code>, <code>#if !</code>, <code>#else</code> and <code>#endif</code> 
      can be used for simple switching of 2-3 lines of code. 
      This is ideal if for example the <code>Request</code> object has a slightly different signature
      or if you need to get a list of pages which is different in Dnn and Oqtane.
    </p>
    <div class="alert alert-warning">
      <h3>
        Important Limitations when using this
      </h3>
      <p>
        Razor only has limited support for Preprocessor directives. 
        For example, you cannot conditionally use <code>@@inherits</code> statements. 
      </p>
    </div>
  </div>
</div>

</p>

<hr>

@Sys.SourceCode.SnippetInlineStart("hybrid")
  @{#if NETCOREAPP}
    This is Oqtane (a .net core app) version: @Oqtane.Shared.Constants.Version
  @{#else}
    This is DNN (not a .net core app) version: @DotNetNuke.Application.DotNetNukeContext.Current.Application.Version
  @{#endif}
@Sys.SourceCode.SnippetInlineEnd()

<hide>
@* 2sxclint:disable:no-dnn-namespaces *@
</hide>

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })