@* FYI: THIS PAGE IS NOT BEING USED *@
@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  
  var linker = CreateInstance("../shared/Helpers.cs");
  var infoBox = CreateInstance("../shared/InfoBox.cs");
  
  var sxcRequirements = infoBox.InfoSection(infoBox.InfoContent("2sxc 13.00 - download latest", "https://2sxc.org/en/download"), "Requirements", "fa-exclamation-circle");
  var sxcResources = infoBox.InfoSection(
    Tag.Div(
      infoBox.InfoContent("Read about js in the docs", "https://docs.2sxc.org/js-code/2sxc-api/sxc.data.html"),
      infoBox.InfoContent("Read about sxc-query in the docs", "https://docs.2sxc.org/js-code/2sxc-api/sxc.query.html"),
      infoBox.InfoContent("Learn more about our JS Web API fetch", "https://app-dev.2sxc.org/tutorial-razor/en-bs4/Home/webapi/home")
    ), "Resources");
}
</hide>

<trim>
  <div class="row">
    <div class="col-md-7 mb-2">
      <h2>JavaScript APIs in 2sxc</h2>
      <p>
        This section will show you all the magic you can do with the 2sxc JS API.
      </p>

      <ol>
        @linker.TutorialLink("Get Data from the Backend using JS", 
          "js200",
          "Use the 2sxc data API and get data of a specific Content-Type")
        @linker.TutorialLink("Get a Query from the Backend using JS", 
          "js220",
          "Use the 2sxc data API and get data from a Query")
        @linker.TutorialLink("Create data, update and delete using JS APIs", 
          "js300",
          "Use the 2sxc data API and create, update, delete data")
        @linker.TutorialLink("Create Metadata using JS APIs", 
          "js310",
          "Use the 2sxc data API and create new metadata")
      </ol>
    </div>
    <div class="col-md-5">
      @sxcRequirements
      @sxcResources
    </div>
  </div>


</trim>
