@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  var helper = CreateInstance("../shared/Helpers.cs");
  var infoResources = helper.InfoSection(helper.InfoContent("This tutorial uses turnOn, learn more", "https://app-dev.2sxc.org/tutorial-razor/en-bs4/Home/turn-on/home"), "Resources");
}
</hide>
<trim>
  <div class="row">
    <div class="col-md-7">
      <h2>Use the sxc.data() API to delete data</h2>
      <div>This page uses the sxc.data() API to delete data from the backend.</div>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Delete data using the .delete() method
        </li>
      </ul>
      <br>
      Look at the content below to see the effect. 
    </div>
    <div class="col-md-5">
      @infoResources
    </div>
  </div>
</trim>

<table id="example-content" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth date</th>
      <th>Poems</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @{
      var poetIndex = 0;
    }
    @* Reverse show newest entries first *@
    @foreach(var poet in AsList(App.Data["Poets"]).Reverse()) {
      // make sure only 3 elements are shown
      if (poetIndex >= 3) { 
        break; 
      }

      <tr>
        <td>@poet.Name</td>
        <td>@poet.BirthDate.ToShortDateString()</td>
        <td>@poet.Poems</td>
        <td>
          <button type="button" class="btn btn-primary" onclick="deletePoet(@poet.EntityId)">Delete Poet</button>
        </td>
      </tr>
      poetIndex++;
    }
  </tbody>
</table>

@* This tutorial uses turnOn, see https://app-dev.2sxc.org/tutorial-razor/en-bs4/Home/turn-on/home *@
@{
  // Use the PageService to activate turnOn
  GetService<ToSic.Sxc.Web.IPageService>().Activate("turnOn");
}
<turnOn turn-on='{ "run": "window.sxcDataTutorial230.init()", "data": { "moduleId": "@CmsContext.Module.Id" } }'></turnOn>

<script src="@App.Path/js/_230-delete data.js"></script>

<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 950 }) 
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 400,
  File = "_230-delete data.js"
}) 
</hide>