@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@{
  // Tell the page that we need the 2sxc Js APIs
  Kit.Page.Activate("2sxc.JsCore"); 
}
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>
<trim>
  <div class="row">
    <div class="col-md-7">
      <h2>Use the sxc data API to create metadata</h2>
      <p>This page uses the sxc data API to create metadata in the backend.</p>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Create metadata for other entities using the javascript <code>.create(..., ...)</code> method
        </li>
        <li>
          Delete existing items (so the demo doesn't grow uncontrollably) using the <code>.delete(...)</code> method
        </li>
      </ul>
      <br>
      Look at the content below to see the effect. 
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>

<table id="example-content" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Memberships</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var poet in AsList(App.Data["Poets"])) {
      var membershipMd = AsList(poet.Metadata.OfType("DeadPoetSocietyMembership") as object);
      <tr>
        <td>@poet.Name</td>
        <td>
          @if(membershipMd.Any()) {
            foreach (var membership in membershipMd) {
              <span>
                @membership.MembershipNumber
                <a href="#" onclick="window.sxcDataTutorial240.del(@membership.EntityId)">delete</a>
              </span>
            }
          } else {
            <button type="button" class="btn btn-primary" onclick='window.sxcDataTutorial240.add("@poet.EntityGuid")'>
              add membership (metadata)
            </button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

@* This tutorial uses turnOn, see https://app-dev.2sxc.org/tutorial-razor/en-bs4/Home/turn-on/home *@
@{ Kit.Page.Activate("turnOn"); }
<turnOn turn-on='{ "run": "window.sxcDataTutorial240.init()", "data": { "moduleId": "@CmsContext.Module.Id" } }'></turnOn>
<script src="@App.Path/js/_310-create metadata.js"></script>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 900 }) 
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 900,
  File = "_310-create metadata.js"
}) 
</hide>