@inherits Custom.Hybrid.RazorTyped
@{/*! Tut.Tabs=ViewConfig */
  // Patch so the tutorial works reliably even if the main module had data added which are not a person
  // So we're simulating that `MyData` is the assigned query for this view
  var tutCode = MyModel.Code("Tutorial");
  var MyItem = AsItem(tutCode.SimulateViewContent(query: "QuickRef-Persons-Selected") as object);
/*!*/}
@MyItem.Picture("Mugshot", settings: "Square", width: 100, imgClass: "rounded-circle")
<ul>
  <li>Name: @MyItem.String("FirstName") @MyItem.String("LastName")</li>
  <li>Birthday: @MyItem.DateTime("Birthday").ToString("d")</li>
  <li>Award: @MyItem.Child("Awards").String("Name")</li>
</ul>
