<hide>
@{  var helpers = CreateInstance("shared/_helpers.cshtml"); }
@helpers.Title("Razor Tutorial - Home (" + App.Configuration.Version + ")")
</hide>

<trim>
<h2>How to use this Tutorial</h2>
<p>
  Below you'll find a list of topics this tutorial covers. The easiest way to work with it is to look at an example, then look at the code shown below the examples. You can also modify the source files and see what happens :)
</p>
</trim>

<hr>
<h2>Razor Basics</h2>

<ol>
  @helpers.TutorialLinkHome("Very Basics", "basics", "Basic use of Razor with variables, loops, conditions etc.", newText: "(new: working with url parameters)")
  @helpers.TutorialLinkHome("Working with HTML", "html", "Learn the difference of showing variables with @variable and @Html.Raw(variable), and re-using snippets with @helper")
  @helpers.TutorialLinkHome("Reuse templates and code", "reuse", "You can place common templates, helpers and functions into shared files.")
</ol>

<hr>
<h2>Working with Content &amp; Data</h2>
<p>In most cases a template will run in a context - so something prepared data for the template, which should now be visualized. These examples assume you're working with 2sxc, which let's editors work with content - and your template only needs to visualize it.</p>

<ol>
  @helpers.TutorialLinkHome("Visualize current Content", "content", "Show content which was entered for this module")

  @helpers.TutorialLinkHome("Visualize Data", "data", "Show data from DNN, the current App, DataSources or SQL, CSV etc.", "(new! list/details examples)")

  @helpers.TutorialLinkHome("LINQ Examples", "linq", "The following examples show how to use LINQ (Language INtegrated Query) to sort, filter and group data. This is for quick work in your views - for more extensive querying, we recommend the Visual Query Designer. ", "(new!)")
</ol>

<hr>
<h2>Advanced Examples</h2>
<p>These examples help you do cool stuff, once you've mastered the basics above</p>
<ol>
  @helpers.TutorialLinkHome("Koi - Cool things with CSS-Frameworks and Classes", "koi", "Automatically include missing frameworks, conditionally modify the HTML or CSS-Classes and more, depending on what CSS-framework is used by the theme of this page.")
</ol>

<hr>
<h2>Next Tutorials (Work-In-Progress</h2>
<p>We'll create some more tutorials in March/April 2019, incl. the following</p>
<ul>
  <li>Linking around in dnn</li>
  <li>Using js/css and image resources in the app folder</li>
  <li>Using app settings and resources</li>
  <li>Image Resizing on the server</li>
  <li>Navigation links</li>
  <li>Leveraging Connect.Koi</li>
  <li>Permission examples</li>
  <li>In-Page Editing experience</li>
  <li>Customizing Search Results</li>
  <li>Add multi-language examples</li>
  <li>More data examples, working with users, SQL-write, PetaPoco etc.</li>
  <li>Working with DataSources in all kinds of ways</li>
  <li>Using data from other apps</li>
  <li>customizing search from data</li>
</ul>
