<hide>
@RenderPage("shared/_title.cshtml", new { Title = "Razor Tutorial - Home"})
</hide>

<trim>
<h2>How to use this Tutorial</h2>
<p>
  Below you'll find a list of topics this tutorial covers. The easiest way to work with it is to look at an example, then click on "edit-code" to see how it's written. You can also make changes and see what happens, but of course you could also break the code :)
</p>
</trim>

<hr>
<h2>Razor Basics</h2>

<ol>
  @TutorialLink("Very Basics", "basics", "Basic use of Razor with variables, loops, conditions etc.")
  @TutorialLink("Working with HTML", "html", "Learn the difference of showing variables with @variable and @Html.Raw(variable)")
  @TutorialLink("Reuse parts of templates and code", "reuse", "You can place shared templates and functions into separate files.")
  @TutorialLink("", "", "todo")
</ol>

<hr>
<h2>Advanced Tutorials</h2>
<ol>
  @TutorialLink("LINQ Examples", "linq", "The following examples show how to use LINQ (Language INtegrated Query) to sort, filter and group data. This is for quick work in your views - for more extensive querying, we recommend the Visual Query Designer. ")
</ol>



@* hide *@
@* anything below this is not shown in the page view-source, as it's internal "plumbing" and not helpful for the tutorial *@


@helper TutorialLink(string label, string target, string description) {
  <li>
    <strong>
    <a href='@Link.To(parameters: target + "/home")'>
      @label
    </a>
    </strong><br>
    @description
  </li>
}