@inherits Custom.Hybrid.Razor14
@{
  // var tutorialSet = DynamicModel.TutorialSet;
  var tutorialSet = AsDynamic(DynamicModel.TutorialSet);
  if (tutorialSet == null) {
    return;
  }


  var Sys = CreateInstance("shared/Helpers.cs");

  var featureLogoFallback = App.Path + "/app-icon.png";
  var featureLogoPath = tutorialSet.FeatureLogo != "" && tutorialSet.FeatureLogo != null 
    ? tutorialSet.FeatureLogo 
    : featureLogoFallback;

  if (featureLogoPath != featureLogoFallback && featureLogoPath.IndexOf("/") == -1) {
    featureLogoPath = App.Path + "/img/assets/" + featureLogoPath;
  }
}

@* Show a heading section to introduce a new main topic *@
@{
  var category = AsList(tutorialSet.Category as object).FirstOrDefault();
}
@if (category != null) {
  <div @Edit.TagToolbar(category)>
    <br>
    <h2>@category.Title</h2>
    <br>
  </div>
}

@if (DynamicModel.IsSubSection == true) {
  <hr>
}

<div class='tutorial-item (DynamicModel.IsSubSection == true ? "sub-section" : "")'>
  <div class='tutorial-title' data-accordion-parent="@tutorialSet.NameId">
    <div class="row">
      <div class="col-auto">
        <div class="icon-wrapper"><img loading="lazy" class="img-fluid" src='@featureLogoPath'></div>
      </div>
      <div class="ml-3 col" @Edit.TagToolbar(tutorialSet)>
        <h2 class='co-no-icon'>@Html.Raw(tutorialSet.Title)</h2>
        @Html.Raw(tutorialSet.Introduction)
      </div>
    </div>
    @* Up / Down arrows as SVG - hidden by default, become visible based on CSS *@
    <img loading="lazy" src="@App.Path/assets/svg/arrow-up.svg" class="fa-chevron-up">
    <img loading="lazy" src="@App.Path/assets/svg/arrow-down.svg" class="fa-chevron-down">
  </div>
  <div class='tutorial-group pt-3' data-accordion-child="@tutorialSet.NameId">
    <ol>
      @foreach (var tutView in AsList(tutorialSet.Views ?? tutorialSet.Tutorials)) {
        // Used for wip section - in this case we don't have a tutView
        if (AsDynamic(tutView).Title != null) {
          <li>@AsDynamic(tutView).Title</li>
          continue;
        }
        @Sys.TutorialLiFromView(tutView)
      }
    </ol>
  </div>
</div>

@* Show All Sub Sections *@
@foreach (var section in AsList(DynamicModel.SubSections)) {
  @Html.Partial("home-Section.cshtml", new { TutorialSet = section, IsSubSection = true } )
}