@inherits Custom.Hybrid.Razor14
@using System.Linq;
@{
  var Sys = CreateInstance("shared/Helpers.cs");
  var hdHlp = CreateInstance("./Shared/Layout/HeaderHelpers.cs");

  // Set Title etc.
  var pageTitle = Content.Title + " (" + App.Configuration.Version + ")";
  Kit.Page.SetBase();
  Kit.Page.SetTitle(pageTitle + " - 2sxc Razor Tutorials for Dnn / Oqtane");

  var newConfig = Kit.Toolbar
    .Metadata(CmsContext.View, "TutorialViewSharing")
    .Settings(hover: "left");

  @Html.Partial("./Shared/Layout/Header.Part OpenGraph.cshtml", new { Sys = Sys})
}

<div class="tutorial-wrapper" @Edit.TagToolbar(Content)>
  <div @Edit.TagToolbar(newConfig)>
    @Html.Partial("./Shared/Layout/Header.Part Title and Assets.cshtml", new { Sys = Sys, Title = pageTitle })
  </div>
  @Html.Raw(Content.Teaser)

  @* Show all the sections - they are in the demo-data of the current view *@
  @{
    var group = "";
    var sections = AsList(Content.Sections as object);
    var grouped = sections.Select(s => {
      group = (s.Subsection == true) ? group : s.NameId;
      return new { Group = group, Section = s };
    })
    .GroupBy(g => g.Group);
  }

  @foreach (var sectionGroup in grouped)
  {
    @Html.Partial("Home-Section.cshtml", new { 
      TutorialSet = sectionGroup.First().Section, 
      IsSubSection = false,
      SubSections = sectionGroup.Skip(1).Select(s => { return s.Section; }) 
    })
    // Create a thicker line after sub-sections
    <hr style='height: 4px'>
  }

  @* Show the other links which are still ideas etc. and don't exist as views *@
  @{
    var wipSection = new {
      NameId = "wip",
      Title = "Next Tutorials (Work-In-Progress)",
      Introduction = "We'll create some more tutorials in 2022, incl. the following",
      Tutorials = new[] {
        new { Title = "Typed.IsEmpty / IsNotEmpty"},
        new { Title = "Typed.ContainsKey / Typed.Keys()"},
        new { Title = "Typed.Mock"},
        // many more
        new { Title = "---"},
        new { Title = "UI Formulas" },
        new { Title = "Linking around in dnn" },
        new { Title = "Using js/css and image resources in the app folder" },
        new { Title = "Using app settings and resources" },
        new { Title = "Navigation links" },
        new { Title = "Leveraging Connect.Koi" },
        new { Title = "Permission examples" },
        new { Title = "In-Page Editing experience" },
        new { Title = "Customizing Search Results" },
        new { Title = "Work with icon-fonts, font-awesome etc." },
        new { Title = "More data examples, working with users, SQL-write, PetaPoco etc." },
        new { Title = "Working with DataSources in all kinds of ways" },
        new { Title = "Using data from other apps" },
        new { Title = "Customizing search from data" },
        new { Title = "Custom dynamic WebApi" },
      }
    };
  }
  @Html.Partial("Home-Section.cshtml", new { TutorialSet = wipSection })
</div>

@Html.Partial("./home.PartAssets.cshtml")