@inherits Custom.Hybrid.Razor14
@using System.Linq;
@{
  var Sys = GetCode("/Shared/Helpers.cs");
  var hdHlp = GetCode("/Shared/Layout/HeaderHelpers.cs");

  // Set Title etc.
  var pageTitle = Content.Title + " (" + App.Configuration.Version + ")";
  Kit.Page.SetBase();
  Kit.Page.SetTitle(pageTitle + " - 2sxc Razor Tutorials for Dnn / Oqtane");

  var homeMdData = AsDynamic(App.Data.GetStream("TutorialGroup").FirstOrDefault(tg => tg.Get<string>("NameId") == "home-page"));

  var newConfig = Kit.Toolbar.Empty().Settings(hover: "left")
    .Edit(homeMdData as object, tweak: t => t.Note("Edit Sharing Data for this virtual page"));

  @Html.Partial("./Shared/Tutorial/Part OpenGraph.cshtml", new { Sys, tutPage = homeMdData })
}

<div class="tutorial-wrapper" @Edit.TagToolbar(Content)>
  <div @Edit.TagToolbar(newConfig)>
    @Html.Partial("./Shared/Layout/Header.Part Title and Assets.cshtml", new { Sys = Sys, Title = pageTitle })
  </div>
  @Html.Raw(Content.Teaser)

  @* Show all the sections - they are in the demo-data of the current view *@
  @{
    var group = "";
    var sections = AsList(Content.Sections as object);
    var grouped = sections.Select(s => {
      group = (s.Subsection == true) ? group : s.NameId;
      return new { Group = group, Section = s };
    })
    .GroupBy(g => g.Group);
  }
  @* <div>
    2dm: Sections: @sections.Count() <br>
    2dm: groups: @grouped.Count() <br>
  </div> *@

  @foreach (var sectionGroup in grouped)
  {
    var mainSection = sectionGroup.First().Section;
    var subSections = sectionGroup.Skip(1).Select(s => { return s.Section; });
    var subSectionList = AsList(subSections);

    @Html.Partial("Home-Section.cshtml", new { 
      TutorialSet = mainSection, 
      IsSubSection = false
      // SubSections = subSections 
    })
    @* <div>test 2dm before loop - subsections: @subSectionList.Count()</div> *@
    foreach (var section in subSectionList) {
      @* <div>test 2dm inside new loop</div> *@
      @Html.Partial("home-Section.cshtml", new { TutorialSet = section, IsSubSection = true } )
    }
    // Create a thicker line after sub-sections
    <hr style='height: 4px'>
  }

  @* Show the other links which are still ideas etc. and don't exist as views *@
  <h3>Future Tutorials (Work-In-Progress)</h3>
  <ol>
        <li>Typed.Mock</li>
        <li>Linking around in dnn</li>
        <li>Using js/css and image resources in the app folder</li>
        <li>Navigation links</li>
        <li>Permission examples</li>
        <li>In-Page Editing experience</li>
        <li>Customizing Search Results</li>
        <li>Work with icon-fonts, font-awesome etc.</li>
        <li>More data examples, working with users, SQL-write, PetaPoco etc.</li>
        <li>Working with DataSources in all kinds of ways</li>
        <li>Using data from other apps</li>
        <li>Customizing search from data</li>
        <li>Custom dynamic WebApi</li>    
  </ol>
</div>

@Html.Partial("./home.PartAssets.cshtml")