@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
<hide-silent>
<p>
  Click on the links to change the url-parameters of this page and see the results below.
</p>
<ul>
  <li>
    <a href='@Link.To(parameters: CmsContext.Page.Parameters.Remove("id"))'>This page without id</a>
  </li>
  <li>
    <a href='@Link.To(parameters: CmsContext.Page.Parameters.Set("id", 27))'>put ?id=27 in the url</a>
  </li>
</ul>
<hr>
</hide-silent>
@{
  // This variable is a string, but could be null or empty
  var idAsString = CmsContext.Page.Parameters["id"];
  // This converts the id parameter to int. First sample auto-falls back to 0, other to -1
  var id = Kit.Convert.ToInt(CmsContext.Page.Parameters["id"]);
  var idOrMinus1 = Kit.Convert.ToInt(CmsContext.Page.Parameters["id"], -1);
}
<ul>
  <li>
    <strong>Raw id from URL:</strong> @idAsString <br>
    Equal to string "27": @(idAsString == "27") <br>
    Equal to number 27: (would throw error) <br>
  </li>
  <li>
    <strong>Number id from URL:</strong> @id <br>
    Equal to string "27": (would throw error) <br>
    Equal to number 27: @(id == 27) <br>
  </li>
  <li>
    <strong>Number id from URL or -1:</strong> @idOrMinus1 <br>
    Equal to string "27": (would throw error) <br>
    Equal to number 27: @(idOrMinus1 == 27) <br>
  </li>
</ul>