@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@using ToSic.Eav.DataSources

@{
  // First get the root data source - the App with all data
  var appDs = Kit.Data.GetAppSource();

  // Now create a Type-Filter and tell it to only keep Books / Authors
  var books = Kit.Data.GetSource<EntityTypeFilter>(
    attach: appDs,
    parameters: new { TypeName = "Books" }
  );
  var authors = Kit.Data.GetSource<EntityTypeFilter>(
    attach: appDs,
    parameters: new { TypeName = "Persons" }
  );

  // To attach multiple data sources, we need to create a list of links
  // Note that these lines are written in expanded form so we can explain them.
  // Usually you would write in inline
  var dataSourceLinks = books.Link    // Get the link to the books
    .Add(authors.Link                 // Add the authors link renamed as "Stream2"
      .Rename(inName: "Stream2")      // but rename the link so it's attached as "Stream2"
    );
  var mergedDs = Kit.Data.GetSource<StreamMerge>(attach: dataSourceLinks);
}
<h3>Statistics</h3>
<ul>
  <li>App Item Count (unfiltered): @appDs.List.Count()</li>
  <li>Books Item Count (filtered): @books.List.Count()</li>
  <li>Authors Item Count (filtered): @authors.List.Count()</li>
  <li>Merged Item Count: @mergedDs.List.Count()</li>
</ul>

<h3>List of Persons from the Merged DataSource</h3>
<ul>
  @foreach (var item in AsList(mergedDs)) {
    <li>
      @item.EntityTitle (@item.EntityType)
    </li>
  }
</ul>