@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@using ToSic.Eav.DataSources

@{
  // First get the root data source - the App with all data
  var appDs = Kit.Data.GetAppSource();

  // Now create a Type-Filter and tell it to only keep Books / Authors
  var books = Kit.Data.GetSource<EntityTypeFilter>(
    attach: appDs,
    parameters: new { TypeName = "Books" }
  );
  var authors = Kit.Data.GetSource<EntityTypeFilter>(
    attach: appDs,
    parameters: new { TypeName = "Persons" }
  );

  // To attach multiple data sources, we need a list of DataSource links
  var mergedDs = Kit.Data.GetSource<StreamMerge>(
    attach: Kit.Data.CombineLinks(
      books,  // Link to the books, will connect to "Default" in-stream
      Kit.Data.CreateLink(authors, inName: "Stream2") // Link authors on "Stream2" In-stream
    )
  );
}
<h3>Statistics</h3>
<ul>
  <li>App Item Count (unfiltered): @appDs.List.Count()</li>
  <li>Books Item Count (filtered): @books.List.Count()</li>
  <li>Authors Item Count (filtered): @authors.List.Count()</li>
  <li>Merged Item Count: @mergedDs.List.Count()</li>
</ul>

<h3>List of Persons from the Merged DataSource</h3>
<ul>
  @foreach (var item in AsList(mergedDs)) {
    <li>
      @item.EntityTitle (@item.EntityType)
    </li>
  }
</ul>