@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }


@* UniqueKey / Kit.Key.UniqueKeyWith *@
@{ var snip = Sys.SourceCode.QuickRef(item: MyModel.Item("Item")); }
@snip.SnipStart()
  <ol>
    <li>
      Unique Key with <code>12345</code>:
      <code>@Kit.Key.UniqueKeyWith(12345)</code>
    </li>
    <li>
      Unique Key with <code>"hello"</code>:
      <code>@Kit.Key.UniqueKeyWith("hello")</code>
    </li>
    <li>
      Unique Key with <code>"bad chars in id ! % / 👍🏽"</code>:
      <code>@Kit.Key.UniqueKeyWith("bad chars in id ! % / 👍🏽")</code>
    </li>
    <li>
      Unique Key with <code>"this is a long text and should be shortened"</code>:
      <code>@Kit.Key.UniqueKeyWith("this is a long text and should be shortened")</code>
    </li>
    <li>
      Unique Key with <code>12345</code> and <code>"hello"</code>:
      <code>@Kit.Key.UniqueKeyWith(12345, "hello")</code>
    </li>
  </ol>
@snip.SnipEnd()
