@inherits Custom.Hybrid.Razor14
@using System.Collections;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>

<h2>Query Content-Blocks</h2>
<p>
  In this example, we'll see what content-blocks are in the system, and where they are in use. 
</p>
<div class="alert alert-info">
  You are on portal <strong>@CmsContext.Site.Id</strong> - this sample has hard-wired IDs for portal 59 (our dev-environment) and 24 (the tutorials on 2sxc.org). If one of these is detected, it will show the stats for a portal we know on that system, otherwise from the current app - which won't show much, since this tutorial app doesn't have many content-blocks. 
</div>

@Sys.SourceCode.ResultStart("demo", "Full DNN Code")
  @if (CmsContext.Platform.Name == "Oqtane") {
    @Html.Partial("../shared/_MessageOqtaneDisabled.cshtml")
  } else {
    @Html.Partial("_110-content-blocks.dnn.cshtml")
  }
@Sys.SourceCode.ResultEnd("file:_110-content-blocks.dnn.cshtml")

@Sys.PageParts.FooterWithSource()
