@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
</hide>



@((snip = Sys.SourceCode.TabsWithSnippet()).SnipStart("demo1"))
  @Kit.Image.Img(Content.Field("Mugshot"), settings: "Square", width: 100, imgClass: "rounded-circle")
  <ul>
    <li>Name: @Content.FirstName @Content.LastName</li>
    <li>Birthday: @Content.Birthday.ToString("d")</li>
    <li>Award: @Content.Awards.Name</li>
  </ul>
@snip.SnipEnd()


@((snip = Sys.SourceCode.TabsWithSnippet()).SnipStart("demo2"))
  <ul>
  @foreach (var person in AsList(Data)) {
    <li>
      @if (Text.Has(person.Mugshot)) {
        @Kit.Image.Img(Content.Field("Mugshot"), settings: "Square", width: 50, imgClass: "rounded-circle")
      }
      @person.FirstName @person.LastName
    </li>
  }
  </ul>
@snip.SnipEnd()



@((snip = Sys.SourceCode.TabsWithSnippet()).SnipStart("demo3"))
  <ul>
    @foreach (var person in AsList(Data)) {
      <li>
        @if (Text.Has(person.Mugshot)) {
          <img loading="lazy" src="@person.Mugshot?w=50&h=50&mode=crop" width="50px" style="border-radius: 50%">
        }
        @person.FirstName @person.LastName
        @if (person.Awards.Count > 0 ) {
          // we just want the award names - to understand this, look at the LINQ tutorial
          var awardNames = AsList(person.Awards as object).Select(a => a.Name);
          <span>
            (awards: @string.Join(",", awardNames))
          </span>
        }
      </li>
    }
  </ul>
@snip.SnipEnd()
