@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys }) 
</hide>

@* TODO:: @2dm Merge into 000-data-sources-use, delete this view and file *@

<h2>Data Sources Tutorial - Use GetQuery</h2>
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <p>
      <code>Kit.Data.GetQuery()</code> should be used to retrieve a query.
      It also allows us to pass in parameters if the query supports it.
      The following demos all use this query. 
      TODO: PIC of query
    </p>

  </div>
</div>

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
