@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
</hide>


@((snip = Sys.SourceCode.TabsWithSnippet()).SnipStart("snippet"))
  @Kit.Image.Img(Content.Field("Mugshot"), settings: "Square", width: 100, imgClass: "rounded-circle")
  <ul>
    <li>Name: @Content.FirstName @Content.LastName</li>
    <li>Birthday: @Content.Birthday.ToString("d")</li>
    <li>Award: @Content.Awards.Name</li>
  </ul>
@snip.SnipEnd()
