@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Formulas affecting Groups of Fields</h2>
    <p>We'll show you examples where formulas can be applied to change visibility, collpased, Help Text and more.</p>
    @Html.Partial("./Part NowUsingV2.cshtml")
  </div>
</div>
@Html.Partial("../shared/WarnAnonymousIfFeatureIsOff.cshtml")

@Sys.SourceCode.Formula("group-visible").ShowAll()


@Sys.SourceCode.Formula("group-name").ShowAll()


@Sys.SourceCode.Formula("group-name-emoji").ShowAll()


@Sys.SourceCode.Formula("group-helptext").ShowAll()


@Sys.SourceCode.Formula("group-run-once").ShowAll()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
