@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>

@* TODO:: @2dm Merged into 120, delte this file and view *@

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Formulas using WebAPI and REST calls</h2>
    <p>
      Formulas can retrieve data from WebAPIs and REST. 
      We have various examples of this on other pages, so this page will just repeat the examples from those page. 
    </p>
    @Html.Partial("./Part NowUsingV2.cshtml")
  </div>
</div>

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
