@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>

<hide>
@{
  CreateInstance("../Shared/ToolbarHelpers.cs").EnableEditForAnonymous(Edit);
}
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Create Your First Formula</h2>
    <p>We'll show you how customize your 2sxc edit forms using formulas</p>
    <p>In this tutorial you'll learn how to:</p>
    <ul>
      <li>
        Create new formulas for your content fields
      </li>
      <li>
        Choose the correct target type
      </li>
      <li>
        Add the formula script 
      </li>
    </ul>
    <br>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")


@Sys.SourceCode.FormulaShow("basic-intro")



<h3>How to Add a New Formula</h3>
<p>
  For this example we'll create a formula, that makes the description field visible, once the title has been set.
  <br>
  First: Enter the Debug mode by pressing <code>CTRL</code>, <code>Shift</code>, <code>Alt</code> and <code>clicking</code> on a 2sxc dialog.
  <br>
  Navigate to the items of your content type in 2sxc.
  Click on a item and press the Formulas button.
</p>

@Sys.Fancybox.PreviewWithLightbox(App.Path + "/formulas/images/formulas-open.png", 300, 200)

<p>
  This should bring up the formulas editor.
  Select the attribute from the dropdown, on which the formula should be set.
</p>
@Sys.Fancybox.PreviewWithLightbox(App.Path + "/formulas/images/formulas-attribute.png", 300, 200)

<p>
  Select the formula target from the next dropdown.
  Depending on the chosen attribute available targets can vary due to the content type.
</p>
@Sys.Fancybox.PreviewWithLightbox(App.Path + "/formulas/images/formulas-target.png", 300, 200)

<p>
  Click on edit to make the formula function editable.
</p>
@Sys.Fancybox.PreviewWithLightbox(App.Path + "/formulas/images/formulas-edit.png", 300, 150)

<p>
  Now you can write your formula function and test it by clicking on the run button.
  You will see a change in the current edit form and the result after running it.
</p>
@Sys.Fancybox.PreviewWithLightbox(App.Path + "/formulas/images/formulas-run.png", 300, 200)

<p>You can access other attributes using the passed data. See <a href="https://docs.2sxc.org/js-code/edit-form/formulas/data.html">data</a> and <a href="https://docs.2sxc.org/js-code/edit-form/formulas/context.html">context</a> object docs for additional information.</p>


@Sys.PageParts.FooterWithSource()
