@using ToSic.Sxc.Services;
@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
<hide>
  @Html.Partial("_header.cshtml")
  @{
    var hlp = CreateInstance("../shared/Helpers.cs");
    var viewMd = AsDynamic((CmsContext.View.Metadata.OfType(hlp.TutViewMetadataType) as IEnumerable<dynamic>).FirstOrDefault());
    var fancybox = CreateInstance("../shared/Fancybox.cs");
    Edit.Enabled = true;
    GetService<IPageService>().Activate("2sxc.JsCore", "2sxc.JsCms", "2sxc.Toolbars");
  }
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Many Simple Formulas</h2>
    <p>We'll show you Examples where formulas can be applied</p>
    <p>In this tutorial you'll learn how to:</p>
    <ul>
      <li>
        Change field and group visibility
      </li>
      <li>
        Make fields required
      </li>
      <li>
        Make fields disabled
      </li>
      <li>
        Make group summaries in titles
      </li>
      <li>
        Add help text
      </li>
    </ul>
    <br>
  </div>
  <div class="col-md-5">
    @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Requirements, Title = "Requirements", Icon = "fa-exclamation-circle" })
    @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Resources, Title = "Resources" })
  </div>
</div>


@{ var basicItemType = "FormulasBasic"; }
<h3>Single Field visibility</h3>
<p>Click on the edit button below to try the field visibility formula.</p>
@Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=" + basicItemType })
@Html.Partial("_PartFormulas.cshtml", new { ContentType = basicItemType, FieldName = "Description"})
@{ var visibleGroupItemType = "FormulasVisibleGroup"; }
<h3>Group visibility</h3>
<p>Click on the edit button below to try the group visibility formula.</p>
@Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=" + visibleGroupItemType })
@Html.Partial("_PartFormulas.cshtml", new { ContentType = visibleGroupItemType, FieldName = "AdvancedSettings"})
@{ var requiredItemType = "FormulasRequired"; }
<h3>Required fields</h3>
<p>Click on the edit button below to try the required field formula.</p>
@Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=" + requiredItemType })
@Html.Partial("_PartFormulas.cshtml", new { ContentType = requiredItemType, FieldName = "Name"})
@{ var disabledItemType = "FormulasDisabled"; }
<h3>Disabled fields</h3>
<p>Click on the edit button below to try the disabled field formula.</p>
@Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=" + disabledItemType })
@Html.Partial("_PartFormulas.cshtml", new { ContentType = disabledItemType, FieldName = "ApiKeyV2"})
@{ var textSummaryItemType = "FormulasTextSummary"; }
<h3>Group Name - Text summary</h3>
<p>Click on the edit button below to try the group text summary.</p>
@Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=" + textSummaryItemType })
@Html.Partial("_PartFormulas.cshtml", new { ContentType = textSummaryItemType, FieldName = "PersonGroup"})
@{ var emojiSummaryItemType = "FormulasEmojiSummary"; }
<h3>Group Name - Emoji summary</h3>
<p>Click on the edit button below to try the group emoji summary.</p>
@Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=" + emojiSummaryItemType })
@Html.Partial("_PartFormulas.cshtml", new { ContentType = emojiSummaryItemType, FieldName = "ProductGroup", Size = 200})
@{ var helpTextItemType = "FormulasHelpText"; }
<h3>Helptext</h3>
<p>Click on the edit button below to try the help text formula.</p>
@Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=" + helpTextItemType + "&prefill:ProductCode=n0t0k code" })
@Html.Partial("_PartFormulas.cshtml", new { ContentType = helpTextItemType, FieldName = "ProductCode", Size = 200})