@inherits Custom.Hybrid.Razor14<dynamic, ToSic.Sxc.Services.ServiceKit14>
@using ToSic.Razor.Blade;
<hide>
  @Html.Partial("_header.cshtml")
  @{
    var hlp = CreateInstance("../shared/Helpers.cs");
    var viewMd = AsDynamic((CmsContext.View.Metadata.OfType(hlp.TutViewMetadataType) as IEnumerable<dynamic>).FirstOrDefault());
    var fancybox = CreateInstance("../shared/Fancybox.cs");
    Edit.Enabled = true;
    Kit.Page.Activate("2sxc.JsCore", "2sxc.JsCms", "2sxc.Toolbars");
  }
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Many Simple Formulas</h2>
    <p>We'll show you examples where formulas can be applied</p>
    <p>In this tutorial you'll learn how to:</p>
    <ul>
      <li>
        Change field and group visibility
      </li>
      <li>
        Make fields required
      </li>
      <li>
        Make fields disabled
      </li>
      <li>
        Make group summaries in titles
      </li>
      <li>
        Add help text
      </li>
    </ul>
    <br>
  </div>
  <div class="col-md-5">
    @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Requirements, Title = "Requirements", Icon = "fa-exclamation-circle" })
    @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Resources, Title = "Resources" })
  </div>
</div>

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Single Field visibility",
  Instructions = "This formula determines the visibility of the Description field. It only becomes visible when the Title field isn't empty.",
  ContentType = "FormulasBasic",
  FieldName = "Description"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Group visibility",
  Instructions = "This formula determines the visibility of the Advanced settings group. The group becomes visible, when the Advanced toggle is active.",
  ContentType = "FormulasVisibleGroup",
  FieldName = "AdvancedSettings"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Required fields",
  Instructions = "This formula determines wether the Name field is required. It becomes required if the age isn't specified.",
  ContentType = "FormulasRequired",
  FieldName = "Name"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Disabled fields",
  Instructions = "This formula determines wether the ApiKeyV2 field is disabled. It becomes disabled if the UseNewFeatures field is true.",
  ContentType = "FormulasDisabled",
  FieldName = "ApiKeyV2"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Group Name - Text summary",
  Instructions = "This formula changes the Name of the PersonGroup field. The name becomes \"Person - Profile complete\" if all group fields are filled out and \"Person - Profile incomplete\" if not.",
  ContentType = "FormulasTextSummary",
  FieldName = "PersonGroup"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Group Name - Emoji summary",
  Instructions = "This formula changes the Name of the ProductGroup field. The name becomes \"Product ✅\" if all group fields are filled out and \"Product ✏️\" if not.",
  ContentType = "FormulasEmojiSummary",
  FieldName = "ProductGroup",
  Size = 150
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Helptext",
  Instructions = "This formula adds a help text based on the ProductCode Field text. If the ProductCode field contains \"n0t0k\" the helptext \"This product code is deprecated. Please request a new product code. \" is added, or if it contains spaces the helptext \"Please remove all spaces from your product code.\" is added.",
  ContentType = "FormulasHelpText",
  FieldName = "ProductCode",
  More = "prefill:ProductCode=n0t0k code",
  Size = 175
})
