@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Formulas affecting Values</h2>
    <p>We'll show you examples where formulas can be applied to set the Value in many ways. </p>
    @Html.Partial("./Part NowUsingV2.cshtml")
  </div>
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@* Fill Field If Empty *@
@Sys.SourceCode.FormulaShow("value-set-if-empty")


@* Combine Values of Fields *@
@Sys.SourceCode.FormulaShow("value-combine")

@* Get Value from WebApi *@
@Sys.SourceCode.FormulaShow("ValueFromWebApi")



<h2>Date Examples</h2>

@* Date Examples #1 *@
@Sys.SourceCode.FormulaShow("value-date-prefill")

@* Date Examples #2 *@
@Sys.SourceCode.FormulaShow("value-date-calculate")

@Sys.PageParts.FooterWithSource()
