@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @Html.Partial("_header.cshtml")
  @{
    var hlp = CreateInstance("../shared/Helpers.cs");
    var fancybox = CreateInstance("../shared/Fancybox.cs");
    Edit.Enabled = true;
    Kit.Page.Activate("2sxc.JsCore", "2sxc.JsCms", "2sxc.Toolbars");
    var sharedExamples = CreateInstance("SharedExamples.cs");
  }
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Formulas affecting DropDowns Options</h2>
    <p>These examples show how Formulas can modify the list of available options. </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@* Change Dropdown Values *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Change dropdown options: Country to Offices",
  Instructions = "This formula changes the values in the second dropdown based on the country picked first. ",
  ContentType = "FormulasDropdown",
  FieldName = "Office"
})

@* Change Dropdown Values #2 *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Change dropdown options: Limited or More Options",
  Instructions = "This formula changes the values in the second dropdown if the user wants more options. ",
  ContentType = "FormulasDropdownDirections",
  FieldName = "Options"
})

@* Dropdown Values From WebAPI *@
@Html.Partial("_PartFormulas.cshtml", sharedExamples.DropdownFromWebApi())

@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/api/",
  File = "FormulasController.cs",
  Size = 600,
  TitlePath = "/api/"
}) 