@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Formulas affecting DropDowns Options</h2>
    <p>These examples show how Formulas can modify the list of available options. </p>
  </div>
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@* Change Dropdown Values *@
@Sys.SourceCode.FormulaShow("dropdown-country-office")

@* Change Dropdown Values #2 *@
@Sys.SourceCode.FormulaShow("dropdown-expand-options")

@* Dropdown Values From WebAPI *@
@Sys.SourceCode.FormulaShow("DropdownFromWebApi")

@* Dropdown Values From WebAPI App.Data *@
@Sys.SourceCode.FormulaShow("DropdownFromWebApiData")

<hr>

@Sys.SourceCode.ShowFileContents("../api/FormulasController.cs")

@Sys.PageParts.FooterWithSource()
