@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>

<hide>
@{
  string sourceCode = Sys.ShowCodeFile; // must be typed, because Html.Partial on Oqtane can't use dynamic variables

  var fancybox = CreateInstance("../shared/Fancybox.cs");

  CreateInstance("../Shared/ToolbarHelpers.cs").EnableEditForAnonymous(Edit);

  var sharedExamples = CreateInstance("SharedExamples.cs");
}
@functions {
  dynamic ShowFormula(object specs) {
    return Html.Partial("_PartFormulas.cshtml", specs);
  }
}
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Formulas affecting DropDowns Options</h2>
    <p>These examples show how Formulas can modify the list of available options. </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@* Change Dropdown Values *@
@{ var specs = Sys.SourceCode.Formulas.Specs(
  title: "Change dropdown options: Country to Offices",
  instructions: "This formula changes the values in the second dropdown based on the country picked first. ",
  contentType: "FormulasDropdown",
  field: "Office"
);}
@Sys.SourceCode.FormulaShow(specs)

@* Change Dropdown Values #2 *@
@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Change dropdown options: Limited or More Options",
  instructions: "This formula changes the values in the second dropdown if the user wants more options. ",
  contentType: "FormulasDropdownDirections",
  field: "Options"
);}
@Sys.SourceCode.FormulaShow(specs)

@* Dropdown Values From WebAPI *@
@ShowFormula(sharedExamples.DropdownFromWebApi())

@* Dropdown Values From WebAPI App.Data *@
@ShowFormula(sharedExamples.DropdownFromWebApiData())

<hr>

@Html.Partial(sourceCode, new { 
  Path = App.PhysicalPath + "/api/",
  File = "FormulasController.cs",
  TitlePath = "/api/"
})

@Sys.PageParts.FooterWithSource()
