@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
  string sourceCode = hlp.ShowCodeFile; // must be typed, because Oqtane can't use dynamic

  var fancybox = CreateInstance("../shared/Fancybox.cs");

  CreateInstance("../Shared/ToolbarHelpers.cs").EnableEditForAnonymous(Edit);

  var sharedExamples = CreateInstance("SharedExamples.cs");
}
@functions {
  dynamic ShowFormula(object specs) {
    return Html.Partial("_PartFormulas.cshtml", specs);
  }
}
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Formulas affecting DropDowns Options</h2>
    <p>These examples show how Formulas can modify the list of available options. </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@* Change Dropdown Values *@
@ShowFormula(new {
  Title = "Change dropdown options: Country to Offices",
  Instructions = "This formula changes the values in the second dropdown based on the country picked first. ",
  ContentType = "FormulasDropdown",
  FieldName = "Office"
})

@* Change Dropdown Values #2 *@
@ShowFormula(new {
  Title = "Change dropdown options: Limited or More Options",
  Instructions = "This formula changes the values in the second dropdown if the user wants more options. ",
  ContentType = "FormulasDropdownDirections",
  FieldName = "Options"
})

@* Dropdown Values From WebAPI *@
@ShowFormula(sharedExamples.DropdownFromWebApi())

@* Dropdown Values From WebAPI App.Data *@
@ShowFormula(sharedExamples.DropdownFromWebApiData())

<hr>

@Html.Partial(sourceCode, new { 
  Path = App.PhysicalPath + "/api/",
  File = "FormulasController.cs",
  TitlePath = "/api/"
}) 