@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Formulas affecting Field Settings</h2>
    <p>We'll show you examples where formulas can be applied to change visibility, required, and more.</p>
    <p>In this tutorial you'll learn how to:</p>
    <ul>
      <li>
        Change field and group visibility
      </li>
      <li>
        Make fields required
      </li>
      <li>
        Make fields disabled
      </li>
      <li>
        and much more...
      </li>
    </ul>
    <br>
  </div>
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")


@Sys.SourceCode.FormulaShow("fieldsettings-visible")


@Sys.SourceCode.FormulaShow("fieldsettings-required")


@Sys.SourceCode.FormulaShow("fieldsettings-disabled")



@* Errors and Warnings *@
@Sys.SourceCode.FormulaShow("fieldsettings-warning")

@Sys.PageParts.FooterWithSource()
