@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>

<hide>
  @{
    var fancybox = CreateInstance("../shared/Fancybox.cs");
    CreateInstance("../Shared/ToolbarHelpers.cs").EnableEditForAnonymous(Edit);
  }
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Formulas affecting Field Settings</h2>
    <p>We'll show you examples where formulas can be applied to change visibility, required, and more.</p>
    <p>In this tutorial you'll learn how to:</p>
    <ul>
      <li>
        Change field and group visibility
      </li>
      <li>
        Make fields required
      </li>
      <li>
        Make fields disabled
      </li>
      <li>
        and much more...
      </li>
    </ul>
    <br>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@{ var specs = Sys.SourceCode.Formulas.Specs(
  title: "Single Field visibility",
  instructions: "This formula determines the visibility of the Description field. It only becomes visible when the Title field isn't empty.",
  contentType: "FormulasBasic",
  field: "Description"
);}
@Sys.SourceCode.FormulaShow(specs)


@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Required fields",
  instructions: "This formula determines wether the Name field is required. It becomes required if the age isn't specified.",
  contentType: "FormulasRequired",
  field: "Name"
);}
@Sys.SourceCode.FormulaShow(specs)


@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Disabled fields",
  instructions: "This formula determines wether the ApiKeyV2 field is disabled. It becomes disabled if the UseNewFeatures field is true.",
  contentType: "FormulasDisabled",
  field: "ApiKeyV2"
);}
@Sys.SourceCode.FormulaShow(specs)



@* Errors and Warnings *@
@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Warnings and Errors based on Value",
  instructions: "This formula shows a warning if a field has upper case letters, and an error if empty.",
  contentType: "FormulasValidation",
  field: "Title"
);}
@Sys.SourceCode.FormulaShow(specs)

@Sys.PageParts.FooterWithSource()
