@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @Html.Partial("_header.cshtml")
  @{
    var hlp = CreateInstance("../shared/Helpers.cs");
    var viewMd = AsDynamic((CmsContext.View.Metadata.OfType(hlp.TutViewMetadataType) as IEnumerable<dynamic>).FirstOrDefault());
    var fancybox = CreateInstance("../shared/Fancybox.cs");
    Edit.Enabled = true;
    Kit.Page.Activate("2sxc.JsCore", "2sxc.JsCms", "2sxc.Toolbars");
  }
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Formulas affecting DropDowns TODO:</h2>
    <p>We'll show you examples where formulas can be applied</p>
    <p>In this tutorial you'll learn how to:</p>
    <ul>
      <li>
        Change field and group visibility
      </li>
      <li>
        Make fields required
      </li>
      <li>
        Make fields disabled
      </li>
      <li>
        Make group summaries in titles
      </li>
      <li>
        Add help text
      </li>
    </ul>
    <br>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>

@* Fill If Empty *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Set the Value if it's empty",
  Instructions = "This formula sets the value of a field if it's empty. As long as it's not empty, the user can type anything he/she wants. ",
  ContentType = "FormulasIfEmpty",
  FieldName = "Title",
  Size = 100
})

@* Combine Values of Fields *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Generate a Field Combining Others",
  Instructions = "This formula combines the values of 3 fields into a URL Slug. ",
  ContentType = "FormulasCombineValues",
  FieldName = "UrlKey",
  Size = 100
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Single Field visibility",
  Instructions = "This formula determines the visibility of the Description field. It only becomes visible when the Title field isn't empty.",
  ContentType = "FormulasBasic",
  FieldName = "Description"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Group visibility",
  Instructions = "This formula determines the visibility of the Advanced settings group. The group becomes visible, when the Advanced toggle is active.",
  ContentType = "FormulasVisibleGroup",
  FieldName = "AdvancedSettings"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Required fields",
  Instructions = "This formula determines wether the Name field is required. It becomes required if the age isn't specified.",
  ContentType = "FormulasRequired",
  FieldName = "Name"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Disabled fields",
  Instructions = "This formula determines wether the ApiKeyV2 field is disabled. It becomes disabled if the UseNewFeatures field is true.",
  ContentType = "FormulasDisabled",
  FieldName = "ApiKeyV2"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Group Name - Text summary",
  Instructions = "This formula changes the Name of the PersonGroup field. The name becomes \"Person - Profile complete\" if all group fields are filled out and \"Person - Profile incomplete\" if not.",
  ContentType = "FormulasTextSummary",
  FieldName = "PersonGroup"
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Group Name - Emoji summary",
  Instructions = "This formula changes the Name of the ProductGroup field. The name becomes \"Product ✅\" if all group fields are filled out and \"Product ✏️\" if not.",
  ContentType = "FormulasEmojiSummary",
  FieldName = "ProductGroup",
  Size = 150
})

@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Helptext",
  Instructions = "This formula adds a help text based on the ProductCode Field text. If the ProductCode field contains \"n0t0k\" the helptext \"This product code is deprecated. Please request a new product code. \" is added, or if it contains spaces the helptext \"Please remove all spaces from your product code.\" is added.",
  ContentType = "FormulasHelpText",
  FieldName = "ProductCode",
  More = "prefill:ProductCode=n0t0k code",
  Size = 175
})


@* Run Code Once only *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Run Code Only when Form Opens",
  Instructions = "This formula determines the initial open/closed state - in this case randomly. "
    + "Normally it would do this based on how complete data in that section is or based on other criterias. "
    + "This is often used to improve initial state of a form based on how much data is already filled in. ",
  ContentType = "FormulasRunAtStart",
  FieldName = "GroupRandomlyOpen",
  Size = 200
})

@* Change Dropdown Values *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Change dropdown options: Country to Offices",
  Instructions = "This formula changes the values in the second dropdown based on the country picked first. ",
  ContentType = "FormulasDropdown",
  FieldName = "Office",
  Size = 160
})

@* Change Dropdown Values #2 *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Change dropdown options: Limited or More Options",
  Instructions = "This formula changes the values in the second dropdown if the user wants more options. ",
  ContentType = "FormulasDropdownDirections",
  FieldName = "Options",
  Size = 160
})

@* Date Examples #1 *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Date - Prefill but leave editable",
  Instructions = "This formula sets the initial value to the current date (if the field is empty). You can try it by deleting the value, once you leave the field it's updated again. ",
  ContentType = "FormulasDates",
  FieldName = "RightNow",
  Size = 125
})

@* Date Examples #2 *@
@Html.Partial("_PartFormulas.cshtml", new {
  Title = "Date - Calculate value",
  Instructions = "This formula sets the third field to the current date/time + an offset the user can choose in a dropdown. "
    + "Note that since we do some calculations, we must make sure the result is time-zone cleaned. ",
  ContentType = "FormulasDates",
  FieldName = "PublishWhen",
  Size = 125
})