@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Formulas affecting Groups of Fields</h2>
    <p>We'll show you examples where formulas can be applied to change visibility, collpased, Help Text and more.</p>
    @Html.Partial("./Part NowUsingV2.cshtml")
  </div>
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@{ var specs = Sys.SourceCode.Formulas.Specs(
  title: "Group visibility",
  instructions: "This formula determines the visibility of the Advanced settings group. The group becomes visible, when the Advanced toggle is active.",
  contentType: "FormulasVisibleGroup",
  field: "AdvancedSettings"
);}
@Sys.SourceCode.FormulaShow("group-visible")


@Sys.SourceCode.FormulaShow("group-name")


@Sys.SourceCode.FormulaShow("group-name-emoji")


@Sys.SourceCode.FormulaShow("group-helptext") 


@Sys.SourceCode.FormulaShow("group-run-once") 


@Sys.PageParts.FooterWithSource()
