@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>

<hide>
  @{
    var fancybox = CreateInstance("../shared/Fancybox.cs");
    CreateInstance("../Shared/ToolbarHelpers.cs").EnableEditForAnonymous(Edit);
  }
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Formulas affecting Groups of Fields</h2>
    <p>We'll show you examples where formulas can be applied to change visibility, collpased, Help Text and more.</p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")

@{ var specs = Sys.SourceCode.Formulas.Specs(
  title: "Group visibility",
  instructions: "This formula determines the visibility of the Advanced settings group. The group becomes visible, when the Advanced toggle is active.",
  contentType: "FormulasVisibleGroup",
  field: "AdvancedSettings"
);}
@Sys.SourceCode.FormulaShow(specs)


@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Group Name - Text summary",
  instructions: "This formula changes the Name of the PersonGroup field. The name becomes \"Person - Profile complete\" if all group fields are filled out and \"Person - Profile incomplete\" if not.",
  contentType: "FormulasTextSummary",
  field: "PersonGroup"
);}
@Sys.SourceCode.FormulaShow(specs)


@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Group Name - Emoji summary",
  instructions: "This formula changes the Name of the ProductGroup field. The name becomes \"Product ✅\" if all group fields are filled out and \"Product ✏️\" if not.",
  contentType: "FormulasEmojiSummary",
  field: "ProductGroup"
);}
@Sys.SourceCode.FormulaShow(specs)


@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Helptext",
  instructions: "This formula adds a help text based on the ProductCode Field text. If the ProductCode field contains \"n0t0k\" the helptext \"This product code is deprecated. Please request a new product code. \" is added, or if it contains spaces the helptext \"Please remove all spaces from your product code.\" is added.",
  contentType: "FormulasHelpText",
  field: "ProductCode",
  parameters: "prefill:ProductCode=n0t0k code"
);}
@Sys.SourceCode.FormulaShow(specs)


@* Run Code Once only *@
@{ specs = Sys.SourceCode.Formulas.Specs(
  title: "Run Code Only when Form Opens",
  instructions: "This formula determines the initial open/closed state - in this case randomly. "
    + "Normally it would do this based on how complete data in that section is or based on other criterias. "
    + "This is often used to improve initial state of a form based on how much data is already filled in. ",
  contentType: "FormulasRunAtStart",
  field: "GroupRandomlyOpen"
);}

@Sys.PageParts.FooterWithSource()
