@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Formulas using WebAPI and REST calls</h2>
    <p>
      Formulas can retrieve data from WebAPIs and REST. 
      We have various examples of this on other pages, so this page will just repeat the examples from those page. 
    </p>
    @* @Html.Partial("./Part NowUsingV2.cshtml") *@
  </div>
</div>


@* Get Value from WebApi *@
<h2>Get Data for a Field from a Web API</h2>
@Sys.SourceCode.FormulaShow("ValueFromWebApi")


@* Dropdown Values From WebAPI *@
@Sys.SourceCode.FormulaShow("DropdownFromWebApi")


@* Dropdown Values From WebAPI App.Data *@
@Sys.SourceCode.FormulaShow("DropdownFromWebApiData")


@Sys.SourceCode.ShowFileContents("../api/FormulasController.cs")


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
