@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @Html.Partial("_header.cshtml")
  @{
    var hlp = CreateInstance("../shared/Helpers.cs");
    var fHlp = CreateInstance("Helpers.cs");
    Edit.Enabled = true;
    Kit.Page.Activate("2sxc.JsCore", "2sxc.JsCms", "2sxc.Toolbars");
    var sharedExamples = CreateInstance("SharedExamples.cs");
  }
</hide>

<div class="row">
  <div class="col-md-7">
    <h2>Formulas using WebAPI and REST calls</h2>
    <p>
      Formulas can retrieve data from WebAPIs and REST. 
      We have various examples of this on other pages, so this page will just repeat the examples from those page. 
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>



<h2>Get Data for a Field from a Web API</h2>
@* Get Value from WebApi *@
@Html.Partial("_PartFormulas.cshtml", sharedExamples.ValueFromWebApi())

<hr>

<h2>Get DropDown options from a WebAPI</h2>
@* Dropdown Values From WebAPI *@
@Html.Partial("_PartFormulas.cshtml", sharedExamples.DropdownFromWebApi())
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/api/",
  File = "FormulasController.cs",
  Size = 600,
  TitlePath = "/api/"
}) 


<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 440 }) 
</hide>