@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@{
  var fHlp = CreateInstance("Helpers.cs");
  var formulas = fHlp.GetFormulas(DynamicModel.ContentType, DynamicModel.FieldName);

  var title = DynamicModel.Title;
}

@if (Text.Has(title)) {
  <h3>@title @fHlp.DemoToolbar(DynamicModel.ContentType, DynamicModel.More).AsTag()</h3>
  <p>
    @if(Text.Has(DynamicModel.Instructions)) {
      @DynamicModel.Instructions
      <br />
    }
    <em>Click on the (Σ) button above to see the edit-UI with the formula. </em>
  </p>
}

<div class="mb-5">
  <h3>Formulas of <code>@(DynamicModel.ContentType).@DynamicModel.FieldName</code></h3>
  @foreach (var formula in formulas)
  {
    // try to auto-calc height
    var formulaCode = formula.Formula;
    var lines = formulaCode.Split(new string[] { "\n" }, System.StringSplitOptions.RemoveEmptyEntries).Length;
    var autoSize = lines * 23;
    // @lines
    <p><strong>@formula.Title</strong> (Formula-Target: @formula.Target)</p>
    @Html.Partial("../shared/_result.cshtml", new { Result = formulaCode, Language = "javascript", Size = DynamicModel.Size ?? autoSize })
  }
</div>