@* 




  NOTE: THIS FILE IS NOT BEING USED 



*@
@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/Helpers.cs"); }
@Html.Partial("_ShortIntro.cshtml")
</hide>

<hr>
<h2>Reuse Shared Stuff Examples</h2>

<ol>
  @linker.TutorialLink("Read Global/Site/App/View Settings using the Settings object", "settings100")
  @linker.TutorialLink("Deep dive into the Settings stack", "settings120")

</ol>

<h2>Using Settings with Automation Helpers</h2>
<ol>
  @linker.TutorialLink("Creating image links using predefined settings", "settings200")
  @linker.TutorialLink("Load features, CSS and JS using PageService.Activate", "settings300")
</ol>