@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@Html.Partial("_ShortIntro.cshtml")
</hide>
<hr>

<trim>
<h2>Global/Site/App/View Settings</h2>
<p>
  Settings can easily be read using the <code>Settings</code> object. It combines all the settings in the system to match what the code needs. 
</p>
</trim>

<hr>
<h3>View Settings</h3>
<hide>
  <p>The following settings were configured on this View - see <a href="https://docs.2sxc.org/basics/app/views/settings.html" target="_blank">docs</a></p>
</hide>
<snippet id="settings-view">
<ul>
  <li>
    <div style="width: 20px; height: 20px; float: left; background-color: @Settings.PrimaryColor"></div>
    &nbsp; <code>@@Settings.PrimaryColor</code>: @Settings.PrimaryColor 
  </li>
  <li>
    <div style="width: 20px; height: 20px; float: left; background-color: @Settings.SecondaryColor"></div>
    &nbsp; <code>@@Settings.SecondaryColor</code>: @Settings.SecondaryColor
  </li>
  <li><code>@@Settings.Tiles</code> (for example to configure images side-by-side): @Settings.Tiles</li>
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "settings-view", Size = 300 }) 
</hide-silent>


<hr>
<h3>App Settings</h3>
<hide>
  <p>The following settings were configured on this App - see <a href="https://docs.2sxc.org/basics/app/settings.html" target="_blank">docs</a></p>
</hide>
<snippet id="settings-app">
<ul>
  <li>
    <div style="width: 20px; height: 20px; float: left; background-color: @Settings.QrForegroundColor"></div>
    &nbsp; <code>@@Settings.QrForegroundColor</code>: @Settings.QrForegroundColor 
  </li>
  <li>
    <div style="width: 20px; height: 20px; float: left; background-color: @Settings.QrBackgroundColor"></div>
    &nbsp; <code>@@Settings.QrBackgroundColor</code>: @Settings.QrBackgroundColor
  </li>
  <li><code>@@Settings.QrDimension</code>: @Settings.QrDimension</li>
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "settings-app", Size = 300 }) 
</hide-silent>

<hr>

<h3>Site ond Global (across Sites) Settings</h3>
<hide>
  <p>
    The same concept applies to Site and Global settings - see <a href="https://r.2sxc.org/settings" target="_blank">docs</a></p>
  <p>
    <em>This demo app will be installed on many sites which don't have any settings, so there is no code to demo this.</em>
  </p>
</hide>

<hr>
<h3>Predefined System Settings</h3>
<hide>
  <p>
    Each installation of 2sxc has predefined settings which you can also read - see <a href="https://r.2sxc.org/settings" target="_blank">docs</a></p>
</hide>
<snippet id="settings-system">
<ul>
  <li><code>@@Settings.Images.Content.Width</code>: @Settings.Images.Content.Width</li>
  <li><code>@@Settings.Images.Content.AspectRatio</code>: @Settings.Images.Content.AspectRatio</li>
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "settings-system", Size = 150 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 1200 }) 
</hide>