@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@Html.Partial("_ShortIntro.cshtml")
</hide>
<hr>

<trim>
<h2>Settings Stack</h2>
<p>
  Settings are <em>stacked</em> in a way that the View-settings have a higher priority than App-settings, which has a higher priority than Site, etc. 
  In rare cases you may want to explicitly check for a setting at a specific place in the stack. 
</p>
<p>
  This example has a setting called <code>CustomColor</code> which is set at App and View level. Using <code>GetSource(...)</code> we can access a specific source.
</p>
</trim>

<ul>
  <li>
    <div style='width: 20px; height: 20px; float: left; background-color: @Settings.CustomColor'></div>
    &nbsp; <code>@@Settings.CustomColor</code>: @Settings.CustomColor 
  </li>
  <li>
    <div style='width: 20px; height: 20px; float: left; background-color: @Settings.GetSource("View").CustomColor'></div>
    &nbsp; <code>@@Settings.GetSource("View").CustomColor</code>: @Settings.GetSource("View").CustomColor 
  </li>
  <li>
    <div style='width: 20px; height: 20px; float: left; background-color: @Settings.GetSource("App").CustomColor'></div>
    &nbsp; <code>@@Settings.GetSource("App").CustomColor</code>: @Settings.GetSource("App").CustomColor 
  </li>
  <li>
    <div style='width: 20px; height: 20px; float: left; background-color: @Settings.GetSource("Site").CustomColor'></div>
    &nbsp; <code>@@Settings.GetSource("Site").CustomColor</code>: @Settings.GetSource("Site").CustomColor <br>
    <em>Note: this will be empty, as Site doesn't have this setting)</em>
  </li>
  <li>
    <div style='width: 20px; height: 20px; float: left; background-color: @Settings.GetSource("Global").CustomColor'></div>
    &nbsp; <code>@@Settings.GetSource("Global").CustomColor</code>: @Settings.GetSource("Global").CustomColor <br>
    <em>Note: this will be empty, as Site doesn't have this setting)</em>
  </li>
</ul>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 800, isExpanded=true }) 
</hide>