@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
@{/*! Tut.Tabs=file:../assets/products.csv.txt, ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  var MyItem = AsItem(viewCnf.Content(query: "ProductsFromCsvInAppSettings") as ToSic.Eav.DataSource.IDataSource);
/*!*/}
@{
  // get the query
  var query = Kit.Data.GetQuery("ProductsFromCsvInAppSettings");

  // get the data from the query
  var products = AsItems(query);

  // get the current author (if available) from the stream Current
  var current = AsItem(query["Current"]);

  // Get the current url params so we can derive from it for details links
  var urlParams = MyContext.Page.Parameters;
}
<ul>
  @foreach (var product in products) {
    <!-- this li will have class=selected if it's the current one -->
    <li class='@(product == current ? "selected" : "")'>
      <!-- this creates a link to the current page and product=id -->
      <a href='@Link.To(parameters: urlParams.Set("product", product.Id.ToString()))'>
        @product.Get("Name") (#@product.Get("Id"))
      </a>
      @if (current == product) {
        <br>
        <em>
          @current.Get("Description") 
          (<a href="@product.Url("Link")" target="_blank">find out more</a>)
        </em>
      }
    </li>
  }
</ul>