@* 




  NOTE: THIS FILE IS NOT BEING USED 



*@
@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>
</hide>
<trim>
  <p>
    Learn the basics of Razor, like using variables, if/else and loops. 
  </p>

  <hr>
</trim>

<h2>Basic Examples</h2>

<ol>
  @Sys.TutorialLink("Create variables and show using @variableName", "basics110")
  @Sys.TutorialLink("if/else and ternary operator (condition ? true : false)", "basics210")
  @Sys.TutorialLink("Loops using for() and foreach()", "basics220")
</ol>

<hr>

<h2>Working with the URL and URL Parameters</h2>
<ol>
  @Sys.TutorialLink("Working with text URL Parameters like ?sort=ascending", "basics310", newText: "")
  @Sys.TutorialLink("Working with number URL Parameters like ?id=27", "basics311", newText: "")
</ol>


<hr>

<h2>Working with difficult URLs @Sys.Highlighted("(new!)")</h2>
<ol>
  @Sys.TutorialLink("Working difficult URLs like images containing umlauts", "basics410", newText: "(new!)")
</ol>
