@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


@* 2dg: neue info section part *@
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Create and Show Variables</h2>

    <h3>Basic set variable and show</h3>
    <p><code>var Firstname = "Terry"</code> and <code>show with @@firstName</code></p>
  </div>
</div>
@* 2dg: neue info section part *@

@Sys.SourceCode.SnippetInlineStart("basic-set-show")
  @{
    var firstName = "Terry";
  }

  Name: @firstName
@Sys.SourceCode.SnippetInlineEnd()


<h3>Numbers and Dates</h3>

@Sys.SourceCode.SnippetInlineStart("basic-numbers-dates")
  @{
    var age = 27;
    var birthday = new DateTime(1999, 09, 09);
  }
  Age: @age <br>
  Birthday: @birthday <br>
  Birthday nicer using ToString("d"): @birthday.ToString("d") <br>
  Birthday as ISO ToString("yyyy-MM-dd"): @birthday.ToString("yyyy-MM-dd")
@Sys.SourceCode.SnippetInlineEnd()


<h3>Arrays (lists of things)</h3>

@Sys.SourceCode.SnippetInlineStart("basic-arrays")
  @{
    var dogs = new string[] { "hound", "dackel", "doggy" };
    birthday = new DateTime(1999, 09, 09);
  }
  Age: @age <br>
  Birthday: @birthday <br>
  Birthday nicer using ToString("d"): @birthday.ToString("d") <br>
  Birthday as ISO ToString("yyyy-MM-dd"): @birthday.ToString("yyyy-MM-dd")
@Sys.SourceCode.SnippetInlineEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })