@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Loops - <code>for</code> and <code>foreach</code></h2>
  </div>
</div>
<h3>Using a <code>foreach</code> - the most common way of looping</h3>

@((snip = Sys.SourceCode.Intro()).SnipStart())
  @{
    var pets = new string[] { "dog", "cat", "mouse"};
    var owners = new string[] { "Daniel", "John", "Markus"};
  }
@snip.SnipEnd()

@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
  <ul>
    @foreach (var pet in pets) {
      <li>@pet</li>
    }
  </ul>
@snip.SnipEnd()


<trim>
<h3>Basic <code>for</code></h3>
</trim>

@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
 <ul>
    @for(var i = 0; i < pets.Length; i++) {
      <li>@pets[i]</li>
    }
  </ul>
@snip.SnipEnd()

<trim>
<h3>Using a <code>for</code> index with two lists (arrays)</h3>
</trim>

@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
 <ul>
    @for(var i = 0; i < pets.Length; i++) {
      <li>@pets[i] - owned by @owners[i]</li>
    }
  </ul>
@snip.SnipEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })