<hide>
@RenderPage("_header.cshtml")
</hide>
<trim>
  <p>
    Learn the basics of Razor, like using variables, if/else and loops. 
  </p>

  <hr>

  <h2>Some notes before we start</h2>
  <p>
    All our code uses some general stuff explained here:
  </p>

  <hr>
</trim>

<h2>Basic Examples</h2>

<ol>
  @TutorialLink("Create variables and show using @variableName", "basics110")
  @TutorialLink("Use If/Else and Ternary operator ?", "basics210")
  @TutorialLink("Loops using for and foreach", "basics220")
</ol>

<hide>



@helper TutorialLink(string label, string target) {
  <li>
    <a href='@Link.To(parameters: target + "/" + target)'>
      @label
    </a>
  </li>
}

</hide>