@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>

<div class="row">
  <div class="col-lg-7">
    <h2>Using if and if-else</h2>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>

<h3>Basic <code>if</code></h3>
<snippet id="basic-if">
@{
  var aValue = "green";
}
@if(aValue == "green") {
  <span>it's green </span>
}
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "basic-if", Size = 150 }) 
</hide-silent>

<hr>
<h3>If-Else</h3>
<snippet id="basic-if-else">
@{
  var val2 = "blue";
}
@if(val2 == "green") {
  <span>it's green </span>
} else {
  <span>it's blue</span>
}
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "basic-if-else", Size = 180 }) 
</hide-silent>


<hr>
<h3>Using if-else and <code>&lt;text&gt;</code> tags</h3>
<p>This is important, if you have an code block like an if, and you don't want a span-tag or similar in the output</p>
<snippet id="basic-if-else-tags">
@{
  var val4 = "orange";
}
@if(val4 != "pink") {
  <text>it's not pink</text>
}
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "basic-if-else-tags", Size = 150 }) 
</hide-silent>


<hr>
<h3>Quick if-else using Ternary operator <code>? :</code></h3>
<snippet id="basic-if-else-ternary">
@{
  var val3 = "blue";
}
@(val3 == "red" ? "it's red" : "it's not red")
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "basic-if-else-ternary", Size = 100 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 1100 }) 
</hide>