@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>
@{
  var pets = new string[] { "dog", "cat", "mouse"};
  var owners = new string[] { "Daniel", "John", "Markus"};
}

<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>Loops - <code>for</code> and <code>foreach</code></h2>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
<h3>Using a <code>foreach</code> - the most common way of looping</h3>
</trim>
<snippet id="basic-foreach">
<ul>
@foreach(var pet in pets) {
  <li>@pet</li>
}
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "basic-foreach", Size = 130 }) 
</hide-silent>


<trim>
<hr>
<h3>Basic <code>for</code></h3>
</trim>
<snippet id="basic-for">
<ul>
@for(var i = 0; i < pets.Length; i++) {
  <li>@pets[i]</li>
}
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "basic-for", Size = 130 }) 
</hide-silent>

<trim>
<hr>
<h3>Using a <code>for</code> index with two lists (arrays)</h3>
</trim>
<snippet id="basic-for-index">
<ul>
@for(var i = 0; i < pets.Length; i++) {
  <li>@pets[i] - owned by @owners[i]</li>
}
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "basic-for-index", Size = 130 }) 
</hide-silent>
<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 800 }) 
</hide>