@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>Loops - <code>for</code> and <code>foreach</code></h2>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
<h3>Using a <code>foreach</code> - the most common way of looping</h3>
</trim>

@Sys.SourceCode.SnippetInitStart("intro")
  @{
    var pets = new string[] { "dog", "cat", "mouse"};
    var owners = new string[] { "Daniel", "John", "Markus"};
  }
@Sys.SourceCode.SnippetInitEnd()


@Sys.SourceCode.SnippetInlineStart("basic-foreach")
  <ul>
    @foreach(var pet in pets) {
      <li>@pet</li>
    }
  </ul>
@Sys.SourceCode.SnippetInlineEnd()


<trim>
<h3>Basic <code>for</code></h3>
</trim>

@Sys.SourceCode.SnippetInlineStart("basic-for")
 <ul>
    @for(var i = 0; i < pets.Length; i++) {
      <li>@pets[i]</li>
    }
  </ul>
@Sys.SourceCode.SnippetInlineEnd()

<trim>
<h3>Using a <code>for</code> index with two lists (arrays)</h3>
</trim>

@Sys.SourceCode.SnippetInlineStart("basic-for-index")
 <ul>
    @for(var i = 0; i < pets.Length; i++) {
      <li>@pets[i] - owned by @owners[i]</li>
    }
  </ul>
@Sys.SourceCode.SnippetInlineEnd()


@Sys.PageParts.FooterWithSource()