@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@using ToSic.Eav.DataSources
@{/*! Tut.Tabs=datasource:TreeBasic */
/*!*/}
@{
  var tree = Kit.Data.GetSource(name: "TreeBasic");
  var root = AsDynamic(tree.List.FirstOrDefault(i => i.EntityId == 1));
  var rootSubItems = AsList(root.SubItems as object);
}
<h3>Example Reading some Data</h3>
<ul>
  <li>Root name: @root.Title</li>
  <li>Root ID: @root.EntityId</li>
  <li>Item count in <em>field</em> <code>SubItems</code>: @rootSubItems.Count()</li>
  <li>Title of first child: @rootSubItems.First().EntityTitle</li>
  <li>
    Looping through children of Root
    <ul>
      @foreach (var child in AsList(root.SubItems as object)) {
        <li>@child.EntityTitle</li>
      }
    </ul>
  </li>
</ul>

@Html.Partial("../../tut-sys/show/data/Show Tree.cshtml", 
  new { Title = "Show Tree of Data", Root = root, SubNodeNames = "SubItems" })

@Html.Partial("../../tut-sys/show/data/Show Data List.cshtml", 
  new { Title = "Flat List of Items", Data = tree })