@inherits AppCode.Razor.AppRazor<SectionBlockModel>
@using ToSic.Razor.Blade
@using AppCode.Data
@using AppCode.Razor
@using AppCode.TutorialSystem.Sections
@using AppCode.TutorialSystem.Razor
@using AppCode.Tutorial

<!-- Accordion Sections / Drawers -->
@foreach (Section acs in Model.Accordion.Sections(Path)) {
  TutorialSnippet item = acs.Item;
  var runCode = item.IsEmpty("Formula");
  var codeFile = runCode ? acs.SectionFile : "ignore";
  if (codeFile != null) {
    var snip = Sys.SourceCode.SnipFromItem(item: item, file: codeFile);
    var data = new { item, SnippetSection = snip, Tutorial = snip, Dm = "test", Sys = Model.Sys };

    <!-- code file -->
    @acs.Start()
      @snip.SnipStart()
        if (runCode) {
          @Html.Partial("../.." + codeFile, data)
        }
      @snip.SnipEnd()
    @acs.End()
    <!-- /code file -->
  } else if (MyUser.IsSystemAdmin) {
    <div @Kit.Toolbar.Empty(item).Edit().New()>
      SysUserOnly: This section doesn't exist: <strong>@acs.TutorialId</strong> in <em>@Model.Accordion.Variant</em>
    </div>
  } else {
    <!-- this section "@acs.TutorialId" does not exist -->
  }
}
<!-- /Sections -->