@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data
@using AppCode.TutorialSystem.Razor
@using AppCode.Tutorial
@{
  var myParams = MyPage.Parameters;
  
  // This Razor is called with a parameter like tut=home
  var tutIdFromUrl = myParams.String("tut");
  var tutIdWithPage = tutIdFromUrl + "-page";

  var allGroups = App.Data.GetAll<TutorialGroup>().ToList();
  var tutPage = allGroups.FirstOrDefault(i => i.NameId == tutIdWithPage)
    ?? allGroups.FirstOrDefault(i => i.NameId == tutIdFromUrl);

  if (tutPage == null) {
    <h4>Sorry, the tutorial page '@tutIdFromUrl' was not found</h4>
    @Kit.Page.SetHttpStatus(404);
    return;
  }

  @if (!tutPage.IsPage) {
    <h4>Sorry, @tutIdFromUrl is not a tutorial page</h4>
    @Kit.Page.SetHttpStatus(404);
    return;
  }
}
@{
  // Find the parent, which has Segment Title, Link, etc.
  var section = tutPage.Parent<TutorialSection>();

  var headNavData = new NavigationModel {
    Sys = Sys,
    Section = section,
    TutGroup = tutPage
  };

  SetOpenGraph(tutPage);
}
@* Note that the data-enhance-nav="false" is for Oqtane 5.1.2 which has major problems loading JS - ask @iJungleboy *@
<div data-enhance-nav="false">
  @Html.Partial("./Page.Part Header.cshtml", headNavData)

  @* Get the toolbar for: < previous | # Current | Next > *@
  @Html.Partial("./Page.Part Navigation.cshtml", headNavData)


  @Html.Partial("./Accordion Entry.cshtml", new AccordionOneModel { Sys = Sys, TutPage = tutPage, NameId = tutIdWithPage })

  @* Footer *@
  @* Get the toolbar for: < previous | # Current | Next > *@
  @Html.Partial("./Page.Part Navigation.cshtml", headNavData)
</div>
