@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }


@{
  // Variables for the tests
  string jsonRoot = App.Folder.PhysicalPath + "/json/quickref/json";
}


@{ var qref = Sys.SourceCode.QuickRef(item: MyModel.Item("Item"), tabs: "file:json/dude.json" ); }
@qref.SnipStart()
  @{
    // Simple JSON strings which could come from a file or web service
    var jDude = System.IO.File.ReadAllText(jsonRoot + "/dude.json");
    var loose = Kit.Json.ToTyped(jDude, propsRequired: false);
  }
  <ol>
    <li>
      <code>loose.String("Fake")</code> (typed):
      @loose.String("Fake")
    </li>
    <li>
      <code>loose.String("Fake")</code>:
      @loose.String("Fake")
    </li>
    <li>
      <code>loose.String("Fake", fallback: "I don't know!")</code>:
      @loose.String("Fake", fallback: "I don't know!")
    </li>
    <li>
      <code>loose.Int("Fake")</code>:
      @loose.Int("Fake", required: false)
    </li>
    <li>
      <code>loose.Int("Fake", fallback: -1)</code>:
      @loose.Int("Fake", fallback: -1)
    </li>
  </ol>
@qref.SnipEnd()

