@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
@{ dynamic qref; }

@{
  // Patch so the tutorial works reliably even if the main module had data added which are not a person
  // So we're simulating that `MyItem` is a person, even if in the tutorial setup it may not be
  var data = App.GetQuery("QuickRef-Content-Simulation");
  var MyItem = AsItem(data.GetStream("Default"));
  var prepPres = AsItem(data.GetStream("Presentation"));
}


@((qref = Sys.SourceCode.QuickRefSplit33(tutorials: new string[] { "entity", "content" })).SnipStart())
  <h4>A Person on <code>MyItem</code></h4>
  @{
    var itemPres = MyItem.Presentation;
  }
  <hide-silent>
    @{ itemPres = prepPres; /* Silent patching for tutorial only, as it's not a standalone view */ }
  </hide-silent>
  <p>
    Note that the following should be @itemPres.String("Color") (probably green)
  </p>
  <p style='color: @itemPres.Attribute("Color")'>
    @MyItem.Title
  </p>

@qref.SnipEnd()
