@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;

@* Bootstrap 5 Accordions *@
@{
  var accSpecs = MyModel.Item("AccordionSpecs", required: false)
    ?? AsItems(App.Data["TutAccordion"]).FirstOrDefault(i => i.String("NameId") == MyModel.String("NameId"));
  var accordion = MyModel.Code("Accordion", required: false)
    ?? GetCode("./Accordion.cs").Setup(MyModel.Code("Sys"), MyModel.String("Variant", required: false), item: accSpecs);

  var skipPageTools = MyModel.Bool("SkipPageTools", required: false);
}

@if (accSpecs != null) {
  // If we have variants, and the caller didn't explicitly say to skip page tools, then show them
  if (!skipPageTools && accSpecs.Bool("HasVariants")) {
    @Html.Partial("./Variant Selector.cshtml", new { Variant = accordion.Variant })
  }

  // Show each accordion with all sections
  @accordion.Start(accSpecs)
    @Html.Partial("./Accordion Sections.cshtml", new { accordion } )
  @accordion.End()
} else if (MyUser.IsSystemAdmin) {
  <div class="alert alert-danger" @Kit.Toolbar.Empty().New("TutAccordion", prefill: new {
    NameId = MyModel.String("NameId")
  })>
    The Accordion Set <strong>@MyModel.String("NameId")</strong> was not found.
    <br />
    This is something you probably want to create next.
    Use the Toolbar to create.
  </div>
}

@* Add a padding - if ever this may be impractical, then we can change it to be controlled by a parameter *@
<p>&nbsp;</p>
