@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
@{
  // The accordion is an external helper file, so we must treat it as dynamic
  var acc = MyModel.Code("Accordion");
}
@foreach(var acs in acc.Sections(Path, backtrack: "../..")) {
  if (acs.SectionFile != null) {
    @acs.Start()
      // Check if the file has it's own snip.Start/snip.End
      // in which case we don't wrap it here, as the file will do the wrapping
      // this is for more complex samples, which also generate contents for the tabs
      var containsSnipCode = Sys.SourceCode.FileContainsSnipCode(acs.SectionFile);
      var snip = Sys.SourceCode.SnipFromItem(item: acs.Item, file: acs.SectionFile);
      if (containsSnipCode) {
        @Html.Partial(acs.SectionFile, new { acs.Item, SnippetSection = snip, Tutorial = snip })
      } else {
        // var snip = Sys.SourceCode.SnipFromItem(item: acs.Item, file: acs.SectionFile);
        @snip.SnipStart()
          @Html.Partial(acs.SectionFile, new { acs.Item, SnippetSection = snip, Tutorial = snip })
        @snip.SnipEnd()
      }
    @acs.End()
  } else if (MyUser.IsSystemAdmin) {
    <div @Kit.Toolbar.Empty(acs.Item).Edit()>
      SysUserOnly: This section doesn't exist: <strong>@acs.TutorialId</strong> in <em>@acc.Variant</em>
    </div>
  } else {
    <!-- this section '@acs.TutorialId' doesn't exist -->
  }
}
