@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }


@* UniqueKey / Kit.Key.UniqueKeyWith *@
@{ var qref = Sys.SourceCode.QuickRef(item: MyModel.Item("Item"), tabs: "file:shared-uniquekey-message.cshtml,file:js/unique-key.js" ); }
@qref.SnipStart()
  @{
    var buttonId = "demo-uniquekey-btn-" + UniqueKey;
    var messageId = "demo-uniquekey-msg-" + UniqueKey;
  }
  @* Show the button *@
  <button type="button" id="@buttonId" class="btn btn-primary">
    Press this to see JS find the button using the UniqueKey: @buttonId
  </button>

  @* Create the DIV for the message - it's in another file, but shares the UniqueKey *@
  @Html.Partial("./shared-uniquekey-message.cshtml")

  @* Trigger the script, and pass in the IDs it will need based on the UniqueKey *@
  @Kit.Page.TurnOn("window.quickReference.demoUniqueQuey()", data: new { buttonId, messageId })
  @* Load the script - this can be before or after the TurnOn *@
  <script src="@MyView.Folder.Url/js/js/unique-key.js"></script>
@qref.SnipEnd()
