@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Activate turnOn and execute basic tasks</h2>
      <div>This page activates turnOn and executes a JavaScript function using turnOn.</div>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Activate turnOn using the PageService
        </li>
        <li>
          Execute a JavaScript function on initial loading
        </li>
      </ul>
      Look at the text below to see the effect. 
    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("turn-on-demo", "Source of local-js")
  <div id="turn-on-example">
    turnOn is waiting - this will be replaced within 3 seconds... 😔
  </div>

  @* Executes the JavaScript function window.turnOnTutorial100.init() from the included script file *@
    @Kit.Page.TurnOn("window.turnOnTutorial100.init()")

  <script src="@CmsContext.View.Path/100-local-js.js" @Kit.Page.AssetAttributes()></script>
@Sys.SourceCode.ResultEnd("file:100-local-js.js")

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })