@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
  @{ dynamic snip = null; }
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Pass function the Module Id as parameter with turnOn</h2>
      <p>This page creates a anonymous object and sets it on a div. turnOn then passes this attribute to a JavaScript function, which identifies the element with a queryselector and performs DOM manipulations.</p>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Create a anonymous object in c#
        </li>
        <li>
          Pass it's data to a JavaScript function
        </li>
      </ul>
      Look at the text below to see the effect. 
    </div>
  </div>


@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:./120-anonymous-object.js")).SnipStart())
    @* Inject attribute into DIV, to make it accessible for query *@
  <div id="turn-on-example">
    turnOn hasn't started yet.
  </div>

  @{
    
    // Create an anonymous object and define example settings 
    var data = new {
      domId = "turn-on-example",
      style = new {
        backgroundColor = "mediumpurple",
        height = 100,
        width = 400
      }
    };
  }

  @* Passes the exampleObject as parameter in a JSON format and executes the window.turnOnTutorial120.init function *@
  @Kit.Page.TurnOn("window.turnOnTutorial120.init()", data: data)

  <script src="@CmsContext.View.Path/120-anonymous-object.js" @Kit.Page.AssetAttributes()></script>
@snip.SnipEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
