@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>

<trim>
<div class="row">
  <img loading="lazy" src="@App.Path/turn-on/assets/turn-on.svg" class="img-responsive col-md-7 mb-2">
  @Html.Partial("../shared/_DefaultInfoSection.cshtml") 
</div>

<p>
  Learn how to execute JavaScript functions using the 2sxc turnOn. Extend basic usage by passing data, awaiting conditions and more.
  <br>
</p>


<hr>
<h2>Examples of using turnOn</h2>

<ol>
  @hlp.TutorialLink("Basic turnOn usage and activation", 
    "turn-on100",
    "Activate turn-on and execute local JavaScript functions")
  @hlp.TutorialLink("Passing parameters with turnOn", 
    "turn-on110",
    "Pass parameters to JavaScript functions with turnOn")
  @hlp.TutorialLink("Passing module parameters with turnOn", 
    "turn-on111",
    "Pass module parameters to JavaScript functions with turnOn")
  @hlp.TutorialLink("Passing anonymous objects as parameters with turnOn", 
    "turn-on120",
    "Pass anonymous object to JavaScript functions with turnOn")
  @hlp.TutorialLink("Wait for multiple scripts", 
    "turn-on200",
    "Await a library before executing JavaScript functions")
  @hlp.TutorialLink("Await custom conditions through functions", 
    "turn-on201",
    "Await custom conditions before executing JavaScript functions")
  @hlp.TutorialLink("Await system scripts", 
    "turn-on202",
    "Await a system script before executing JavaScript functions")
</ol>

</trim>

<hide>
  @Html.Partial("../shared/_PreCodeFooter.cshtml")
</hide>