@inherits Custom.Hybrid.Razor12
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/Helpers.cs"); }
</hide>

Todo
- Pls design an infobox which is a cshtml in shared
  - Title & Link
<trim>
<img loading="lazy" src="@App.Path/turn-on/assets/turn-on.svg" class="img-responsive" width="100%">

<p>
  Learn how to execute JavaScript functions using the 2sxc turnOn. Extend basic usage by passing data, awaiting conditions and more.
  <br>
  <br>
  turnOn usage requires at least <a href="https://2sxc.org/en/download" target="_blank">2sxc 12.02</a> and works on DNN and Oqtane.<br>
  Read about the <a href="https://docs.2sxc.org/js-code/turn-on/index.html" target="_blank">turnOn in the Docs</a>.
</p>

<hr>
<h2>Examples of using turnOn</h2>

<ol>
  @linker.TutorialLink("Basic turnOn usage and activation", 
    "turn-on100",
    "Activate turn-on and execute local JavaScript functions")
  @linker.TutorialLink("Passing parameters with turnOn", 
    "turn-on110",
    "Pass parameters to JavaScript functions with turnOn")
  @linker.TutorialLink("Passing module parameters with turnOn", 
    "turn-on111",
    "Pass module parameters to JavaScript functions with turnOn")
  @linker.TutorialLink("Passing anonymous objects as parameters with turnOn", 
    "turn-on120",
    "Pass anonymous object to JavaScript functions with turnOn")
  @linker.TutorialLink("Wait for multiple scripts", 
    "turn-on200",
    "Await a library before executing JavaScript functions")
  @linker.TutorialLink("Await custom conditions through functions", 
    "turn-on201",
    "Await custom conditions before executing JavaScript functions")
  @linker.TutorialLink("Await system scripts", 
    "turn-on202",
    "Await a system script before executing JavaScript functions")
</ol>

</trim>
