@inherits Custom.Hybrid.Razor12
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/Helpers.cs"); }
</hide>

<trim>

<p>
  Learn how to execute JavaScript functions using the 2sxc turnOn. Extend basic usage by passing data, awaiting conditions and more.
  <br>
  <br>
  turnOn usage requires at least <a href="https://2sxc.org/en/download" target="_blank">2sxc 12.02</a> and works on DNN and Oqtane.
  Learn more about the turnOn <a href="https://docs.2sxc.org/js-code/turn-on/index.html" target="_blank">here</a>.
</p>

<hr>
<h2>Examples of using turnOn</h2>

<ol>
  @linker.TutorialLink("Basic turnOn usage and activation", 
    "turn-on100",
    "Activate turn-on and execute local JavaScript functions")
  @linker.TutorialLink("Passing parameters with turnOn", 
    "turn-on110",
    "Pass parameters to JavaScript functions with turnOn")
  @linker.TutorialLink("Passing module parameters with turnOn", 
    "turn-on111",
    "Pass module parameters to JavaScript functions with turnOn")
  @linker.TutorialLink("Await different objects", 
    "turn-on200",
    "Await an object before executing JavaScript functions with turnOn")
  @linker.TutorialLink("Await custom conditions through functions", 
    "turn-on201",
    "Await a function to return true before executing JavaScript functions with turnOn")
</ol>

</trim>
