@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<trim>
  <div class="row mb-5">
    <div class="col-lg-7">
      <h2>Activate turnOn and execute basic tasks</h2>
      <div>This page activates turnOn and executes a JavaScript function using turnOn.</div>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Activate turnOn using the PageService
        </li>
        <li>
          Execute a JavaScript function on initial loading
        </li>
      </ul>
      Look at the text below to see the effect. 
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml") 
  </div>
</trim>

@Sys.SourceCode.ResultAndSnippetStart("turn-on-demo", "Source of local-js")
  <div id="turn-on-example">
    turnOn is waiting - this will be replaced within 3 seconds... 😔
  </div>

  @{
    // Use the PageService to activate turnOn
    Kit.Page.Activate("turnOn");
  }

  @* Executes the JavaScript function window.turnOnTutorial100.init() from the included script file *@
  <turnOn turn-on='{ "run": "window.turnOnTutorial100.init()" }'></turnOn>

  <script src="@App.Path/turn-on/_100-local-js.js" @Kit.Page.AssetAttributes()></script>
@Sys.SourceCode.ResultEnd("file:_100-local-js.js")


@Sys.PageParts.FooterWithSource()