@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2>Activate turnOn and execute basic tasks</h2>
      <div>This page activates turnOn and executes a JavaScript function using turnOn.</div>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Activate turnOn using the PageService
        </li>
        <li>
          Execute a JavaScript function on initial loading
        </li>
      </ul>
      Look at the text below to see the effect. 
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml") 
  </div>
</trim>

<div id="turn-on-example">
  turnOn is waiting - this will be replaced within 3 seconds... 😔
</div>

@{
  // Use the PageService to activate turnOn
  Kit.Page.Activate("turnOn");
}

@* Executes the JavaScript function window.turnOnTutorial100.init() from the included script file *@
<turnOn turn-on='{ "run": "window.turnOnTutorial100.init()" }'></turnOn>

<script src="@App.Path/turn-on/_100-local js.js"></script>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 440 }) 
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 450,
  File = "_100-local js.js"
}) 
</hide>