@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2>Pass function the Module Id as parameter with turnOn</h2>
      <p>This page creates a unique DOM attribute and sets it on a div. turnOn then passes this attribute to a JavaScript function, which identifies the element with a queryselector and performs DOM manipulations.</p>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Create a unique DOM attribute
        </li>
        <li>
          Pass it to a JavaScript function
        </li>
      </ul>
      Look at the text below to see the effect. 
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>
<br>
@{
  // Use the PageService to activate turnOn
  Kit.Page.Activate("turnOn");

  // Create unique DOM attribute with Module Id
  var uniqueDomAttribute = "turn-on-example-" + CmsContext.Module.Id;
}

@* Inject attribute into DIV, to make it accessible for query *@
<div @uniqueDomAttribute>
  turnOn hasn't passed any parameters.
</div>

@* Passes the parameter domAttribute in a JSON format and executes the window.turnOnTutorial111.init function *@
<turnOn turn-on='{ "run": "window.turnOnTutorial111.init()", "data": { "domAttribute": "@uniqueDomAttribute" } }'></turnOn>

<script src="@App.Path/turn-on/_111-module.js"></script>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 540 }) 
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 325,
  File = "_111-module.js"
}) 
</hide>