@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2>Pass function the Module Id as parameter with turnOn</h2>
      <p>This page creates a anonymous object and sets it on a div. turnOn then passes this attribute to a JavaScript function, which identifies the element with a queryselector and performs DOM manipulations.</p>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Create a anonymous object in c#
        </li>
        <li>
          Pass it's data to a JavaScript function
        </li>
      </ul>
      Look at the text below to see the effect. 
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>

<br>

@* Inject attribute into DIV, to make it accessible for query *@
<div id="turn-on-example">
  turnOn hasn't started yet.
</div>

@{
  // Use the PageService to activate turnOn
  Kit.Page.Activate("turnOn");
  
  // Create an anonymous object and define example settings 
  var exampleObject = new {
    domId = "turn-on-example",
    style = new {
      backgroundColor = "mediumpurple",
      height = 100,
      width = 400
    }
  };
}

@* Passes the exampleObject as parameter in a JSON format and executes the window.turnOnTutorial120.init function *@
<turnOn turn-on='{ 
  "run": "window.turnOnTutorial120.init()", 
  "data": @Html.Raw(Kit.Json.ToJson(exampleObject)) }'></turnOn>

<script src="@App.Path/turn-on/_120-anonymous-object.js"></script>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 750 }) 
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 425,
  File = "_120-anonymous-object.js"
}) 
</hide>