@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Await libraries, before executing functions with turnOn</h2>
      <p>
        This page waits for a thirdparty library to finish loading, then executes a JavaScript function with turnOn and passes a domAttribute as parameter.
        The executed JavaScript then triggers thirdparty library code, which modifies the DOM element in the page that causes an animation.
      </p>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Include an external library
        </li>
        <li>
          Execute a JavaScript function <b>after</b> the library has finished loading
        </li>
      </ul>
      Look at the element below to see the effect. 
    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("turn-on-demo", "Source of multi-file-js")
  @{
    // Use the PageService to activate turnOn
    Kit.Page.Activate("turnOn");
    
    // Create unique DOM attribute with Module Id
    var uniqueDomAttrubute = "turn-on-example-" + CmsContext.Module.Id;
  }

  @* Inject attribute into DIV, to make it accessible for query *@
  <div @uniqueDomAttrubute></div>

  @* 
    Wait for thirdparty library to load, 
    then execute the window.turnOnTutorial200.init function 
    and pass the domAttribute as JSON 
  *@

  <turnOn turn-on='{
    "await": "window.spritejs",
    "run": "window.turnOnTutorial200.init()",
    "data": { "domAttribute": "@uniqueDomAttrubute" } }'></turnOn>

  @* Include thirdparty library from CDN *@
  <script src="https://unpkg.com/spritejs@3/dist/spritejs.js"></script>

  @* Include local JavaScript file *@
  <script src="@App.Path/turn-on/_200-multi-file.js" @Kit.Page.AssetAttributes()></script>
@Sys.SourceCode.ResultEnd("file:_200-multi-file.js")


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
