@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2>Await system scripts</h2>
      <p>
        This page waits for a system script to load, then executes a JavaScript function with turnOn and passes a domAttribute as parameter.
        The executed JavaScript then triggers a system script, which binds the fancybox properties.
      </p>
      <br>
      In this tutorial you'll learn how to:
      <ul>
        <li>
          Execute a JavaScript function <b>after</b> a system script was loaded
        </li>
      </ul>
      Look at the element below to see the effect.
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div> 
</trim>
<hide>
  <br>
</hide>

@{
  // Use the PageService to activate turnOn and a system script
  Kit.Page.Activate("turnOn", "fancybox4");
  
  // Create unique DOM attribute with Module Id
  var uniqueDomAttrubute = "turn-on-example-" + CmsContext.Module.Id;
}


@* Inject attribute into DIV, to make it accessible for query *@
<a @uniqueDomAttrubute href='https://images.unsplash.com/photo-1503899036084-c55cdd92da26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80' data-caption="System script used here">
    <img loading="lazy" class="img-fluid" src='https://images.unsplash.com/photo-1503899036084-c55cdd92da26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=250&q=80'/>
</a>

@* 
  Wait for the system script to load, 
  then execute the window.turnOnTutorial202.init function 
  and pass the domAttribute as JSON 
*@

<turnOn turn-on='{
  "await": ["window.Fancybox"], 
  "run": "window.turnOnTutorial202.init()", 
  "data": { "domAttribute": "@uniqueDomAttrubute" } }'></turnOn>

@* Include local JavaScript file *@
<script src="@App.Path/turn-on/_202-system scripts.js"></script>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 750 }) 
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 300,
  File = "_202-system scripts.js"
})
</hide>