@inherits Custom.Hybrid.Razor14
<hide>
  @{
  // Tell the page that we need the 2sxc Js APIs
  Kit.Page.Activate("2sxc.JsCore"); 
  }
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
  @{ dynamic snip = null; }
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Very basic WebApi Examples</h2>
      <p>
        In this example, we'll assume your WebApi controller is called <code>Orders</code> (so the file is called <code>OrdersController.cs</code> and has a class called <code>OrdersController</code>). It's located in <code>/api</code> which is the default location for WebApi controllers. <br>
        We'll show various usages of the http methods with the new <code>webApi.fetch(...)</code>
      </p>

      <p>
        Click to see the result of a WebApi call with the shared code:  
      </p>
    </div>
  </div>


@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:../api/OrdersController.cs")).SnipStart())
  <button type="button" class="btn btn-primary" onclick="getOrdersFetch(this)">Quick Fetch GET "Orders"</button> 
    @* 2sxclint:disable:no-inline-script *@
  <script>
      function getOrdersFetch(moduleContext) {
        $2sxc(moduleContext).webApi.fetchJson('orders/get')
          .then(data => alert('Result using quick Fetch: ' + JSON.stringify(data)));
      }
  </script>
@snip.SnipEnd()

@Html.Partial("MessageHybrid.cshtml") 

@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:../api/OrdersController.cs")).SnipStart())
  <button type="button" class="btn btn-primary" onclick="postOrdersFetch(this)">Quick Fetch POST "Orders"</button> 
    @* 2sxclint:disable:no-inline-script *@
  <script>
    function postOrdersFetch(moduleContext) {
      $2sxc(moduleContext).webApi.fetchJson('orders/post', { amount: Math.floor(Math.random() * 100) })
        .then(data => alert('Result using quick Fetch: ' + JSON.stringify(data)));
    }
  </script>
@snip.SnipEnd()


@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:../api/OrdersController.cs")).SnipStart())
  <button type="button" class="btn btn-primary" onclick="putOrdersFetch(this)">Quick Fetch PUT "Orders"</button> 
    @* 2sxclint:disable:no-inline-script *@
  <script>
    function putOrdersFetch(moduleContext) {
      $2sxc(moduleContext).webApi.fetchJson('orders/put', { amount: Math.floor(Math.random() * 100) }, 'PUT')
        .then(data => alert('Result using quick Fetch: ' + JSON.stringify(data)));
    }
  </script>
@snip.SnipEnd()


@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:../api/OrdersController.cs")).SnipStart())
  <button type="button" class="btn btn-primary" onclick="deleteOrdersFetch(this)">Quick Fetch DELETE "Orders"</button> 
    @* 2sxclint:disable:no-inline-script *@
  <script>
    function deleteOrdersFetch(moduleContext) {
      $2sxc(moduleContext).webApi.fetchJson('orders/delete', null, 'DELETE')
        .then(data => alert('Delete executed'));
    }
  </script>
@snip.SnipEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })

