@inherits Custom.Hybrid.Razor14
<hide>
  @{
  // Tell the page that we need the 2sxc Js APIs
  Kit.Page.Activate("2sxc.JsCore"); 
  }
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
  @{ dynamic snip = null; }
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>App.Data WebApi Examples</h2>
      <p>In this example, we'll get app-data from the WebApi.</p>

      <p>Click to see the result of a WebApi call with the shared code:</p>

      @Html.Partial("./Part NowUsingJsonFormatter.cshtml")
  </div>
</div>

@Html.Partial("../Shared/Accordion/Accordion One.cshtml", new { Sys, NameId = "webapi-appdata-page" })

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })