@inherits Custom.Hybrid.Razor14
<hide>
  @{
  // Tell the page that we need the 2sxc Js APIs
  Kit.Page.Activate("2sxc.JsCore"); 
  }
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>App.Query WebApi Examples</h2>
      <p>
        In this example, we'll get app-data from the WebApi which runs a query with a parameter. 
      </p>

      <p>
        Click to see the result of a WebApi call with the shared code:  
      </p>
    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("get-query", "Source of api_AuthorsQueryController")
  @{
    var authorId = AsDynamic(App.Data["Persons"].First()).EntityId;
  }
  <button type="button" class="btn btn-primary" onclick="getAuthor(this, @authorId)">
    Get Author #@authorId
  </button> 
    @* 2sxclint:disable:no-inline-script *@
  <script>
    function getAuthor(moduleContext, authorId) {
      $2sxc(moduleContext).webApi.fetchJson('authorsquery/get?authorId=' + authorId)
        .then(function (author) {
          alert('Found author: '
            + author.FirstName + ' ' + author.LastName 
            + ' (with ' + author.Books.length + ' books) \n\n'
            + 'The raw JSON: \n' + JSON.stringify(author)
            );
        });    
      }
  </script>
@Sys.SourceCode.ResultEnd("file:../api/AuthorsQueryController.cs")


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })