@inherits Custom.Hybrid.Razor12
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/Helpers.cs"); }
</hide>

<trim>
<p>
  Learn how to create and use <strong>WebApi</strong> to provide data to JavaScript SPA apps. 
</p>

<h2>Some notes before we start</h2>
<p>
  WebApi is not directly razor, as it's not meant to actualy render HTML. It's coded using C# just like razor, 
  but won't have commands like <code>@@Html.Raw(...)</code>. Since it's the best way to communicate from the server with your JavaScript apps, we've included the basics in this tutorial. 
</p>
<p>
  Our examples use very trivial JavaScript code to call the API and show the results. Your SPA apps will usually be more sophisticated, but that would then be a topic for a JavaScript tutorial. 
</p>
</trim>

<hr>
<h2>Basic WebApi Examples</h2>

<ol>
  @linker.TutorialLink("WebApi - Very basic examples", "webapi110", "Creating the simplest possible hello WebApi and a Square(number) Api.")

  @linker.TutorialLink("WebApi - Basic example with CSRF protection", "webapi111", "This is almost the same as the simplest WebApi, but with additional Cross-Site-Request protection.")
  @linker.TutorialLink("WebApi - Bare Metal for custom requests", "webapi120", "Advanced use cases where you need the url/headers but will do the request yourself.")
</ol>

<hr>
<h2>WebApi using Polymorph (multiple editions of same API)</h2>

<ol>
  @linker.TutorialLink("WebApi Polymorph - basic examples", "webapi210", "Basic example showing the same API in a live and staging editior, so you can develop while the users still use the sable one.")
</ol>

<hr>
<h2>WebApi to access real App Data</h2>

<ol>
  @linker.TutorialLink("WebApi App.Data - basic examples", "webapi310", "Basic example reading App Data.")
  @linker.TutorialLink("WebApi App.Query - basic examples", "webapi410", "Basic example reading App Query.")
</ol>

<hr>
<h2>Hybrid (Dnn / Oqtane) WebApi</h2>

<ol>
  @linker.TutorialLink("Basic Hybrid WebApi", "webapi800", "Basic example reading App Data.", "new!")
</ol>

<hr>
<h2>More Information around WebApi</h2>
<ol>
  @linker.LiExtLink("https://github.com/2sic/2sxc/wiki/dotnet-webapi", "C# Web API in the 2sxc Wiki")
  <li>For using the JavaScript 
    <ul>
      @linker.LiExtLink("https://github.com/2sic/2sxc/wiki/JavaScript-$2sxc", "Include the $2sxc so API paths are automatically resolved.")
      @linker.LiExtLink("https://github.com/2sic/2sxc/wiki/webapi", "Standard REST endpoints to read/write without creating custom APIs.")
    </ul>
  </li>
</ol>
