@inherits Custom.Hybrid.Razor14
<hide>
  @{
  // Tell the page that we need the 2sxc Js APIs
  Kit.Page.Activate("2sxc.JsCore"); 
  }
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>More secure Basic WebApi Example</h2>
      <p>
        In this example, we'll ensure that calls to your API only come from users who are visiting your website. This is to protect agains <a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery" target="_blank">CSRF</a> attacks, where another website gets your users to interact with your API. That could be dangerous, because maybe your API has things only a logged in user should see - and without the CSRF protection, the other website could get access to that because the user is logged in. 
      </p>

      <p>
        Click to see the result of a WebApi call with the shared code:  
      </p>
    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("fetch", "Source of api_VerifiedController")
  <button type="button" class="btn btn-primary" onclick="apiWithVerification(this)">
    Call WebApi
  </button> 
  <script>
    function apiWithVerification(moduleContext) {
      $2sxc(moduleContext).webApi.fetchJson('verified/hello')
        .then(data => alert(data));
    }
  </script>
@Sys.SourceCode.ResultEnd("file:../api/VerifiedController.cs")


@Sys.PageParts.FooterWithSource()
