@inherits Custom.Hybrid.Razor14
<hide>
  @{
  // Tell the page that we need the 2sxc Js APIs
  Kit.Page.Activate("2sxc.JsCore"); 
  }
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Very basic WebApi Examples</h2>
      <p>
        In this example, we'll assume your WebApi controller is called <code>Orders</code> (so the file is called <code>OrdersController.cs</code> and has a class called <code>OrdersController</code>). It's located in <code>/api</code> which is the default location for WebApi controllers. <br>
        We'll show various usages of the http methods with the new <code>webApi.fetch(...)</code>
      </p>

      <p>
        Click to see the result of a WebApi call with the shared code:  
      </p>
    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("fetch-get", "Source of WebApi Controller")
  <button type="button" class="btn btn-primary" onclick="getOrdersFetch(this)">Quick Fetch GET "Orders"</button> 
  <script>
      function getOrdersFetch(moduleContext) {
        $2sxc(moduleContext).webApi.fetchJson('orders/get')
          .then(data => alert('Result using quick Fetch: ' + JSON.stringify(data)));
      }
  </script>
@Sys.SourceCode.ResultEnd("file:../api/OrdersController.cs")

@Html.Partial("_MessageHybrid.cshtml") 

@Sys.SourceCode.ResultAndSnippetStart("fetch-post", "Source of the WebApi Controller")
  <button type="button" class="btn btn-primary" onclick="postOrdersFetch(this)">Quick Fetch POST "Orders"</button> 
  <script>
    function postOrdersFetch(moduleContext) {
      $2sxc(moduleContext).webApi.fetchJson('orders/post', { amount: Math.floor(Math.random() * 100) })
        .then(data => alert('Result using quick Fetch: ' + JSON.stringify(data)));
    }
  </script>
@Sys.SourceCode.ResultEnd("To see the source of the WebApi Controller, check the first sample on this page.")


@Sys.SourceCode.ResultAndSnippetStart("fetch-put", "Source of the WebApi Controller")
  <button type="button" class="btn btn-primary" onclick="putOrdersFetch(this)">Quick Fetch PUT "Orders"</button> 
  <script>
    function putOrdersFetch(moduleContext) {
      $2sxc(moduleContext).webApi.fetchJson('orders/put', { amount: Math.floor(Math.random() * 100) }, 'PUT')
        .then(data => alert('Result using quick Fetch: ' + JSON.stringify(data)));
    }
  </script>
@Sys.SourceCode.ResultEnd("To see the source of the WebApi Controller, check the first sample on this page.")


@Sys.SourceCode.ResultAndSnippetStart("fetch-delete", "Source of the WebApi Controller")
  <button type="button" class="btn btn-primary" onclick="deleteOrdersFetch(this)">Quick Fetch DELETE "Orders"</button> 
  <script>
    function deleteOrdersFetch(moduleContext) {
      $2sxc(moduleContext).webApi.fetchJson('orders/delete', null, 'DELETE')
        .then(data => alert('Delete executed'));
    }
  </script>
@Sys.SourceCode.ResultEnd("To see the source of the WebApi Controller, check the first sample on this page.")


@Sys.PageParts.FooterWithSource()

