@inherits Custom.Hybrid.Razor14
@{
  // Tell the page that we need the 2sxc Js APIs
  Kit.Page.Activate("2sxc.JsCore"); 
}
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>

<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2>Hybrid (Dnn / Oqtane) WebApi Examples</h2>
      <p>
        This is an advanced implementation of the basic examples before. It uses <code>@("#" + "if")</code> statements to ensure that the same code can run in Dnn and Oqtane. 
      </p>

      <p>
        Click to see the result of a WebApi call with the shared code:  
      </p>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>
<button type="button" class="btn btn-primary" onclick="callBasicHello(this)">
  Get Hello
</button> 
<button type="button" class="btn btn-primary" onclick="callSquare(this, 7)">
  Square 7
</button> <button type="button" class="btn btn-primary" onclick="callSquare(this, 27)">
  Square 27
</button> 

<snippet id="webapi-hybrid">
<script>
  function callBasicHello(moduleContext) {
    $2sxc(moduleContext).webApi.fetchJson('app/auto/api/hybrid/hello')
      .then(function (results) { alert(results); });
  }

  function callSquare(moduleContext, original) {
    $2sxc(moduleContext).webApi.fetchJson('app/auto/api/hybrid/square?number=' + original)
      .then(function (results) { alert(results); });
  }
</script>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "webapi-hybrid", Size = 290 }) 
</hide-silent>


<hide>
@* 2sxclint:disable:no-inline-script *@

@Html.Partial("_MessageHybrid.cshtml")
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Page", Service = "IPageService" })
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 800 }) 

@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/api/",
  File = "HybridController.cs",
  Size = 800,
  TitlePath = "/api/"
}) 
</hide>