@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys })
    @{
      var sample1 = "We love Tokyo, Z&uuml;rich &amp; M&uuml;nchen";
      var realLength = 31;
    }
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2><em>RazorBlade</em> Text.Crop(...) and Text.Ellipsis(...) <em>v1.1</em></h2>
    <p>These demos show how to crop text properly, because Razor Blade handles a lot of issues you'll usually have cropping text.</p>
  </div>
</div>

@Html.Partial("../Shared/Accordion/Accordion List.cshtml", new { Sys, NameId = "blade-text-page" })

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })