@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
    @{
    var val1 = "<h1>Introduction</h1><p>Welcome to this blog post</p><hr><p>beginning with xyz we'll tell you more</p>";
    var cropLen = 50;
  }
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2><em>RazorBlade</em> IScrub.All(...), IScrub.Only(), IScrub.Except()</h2>
      <p>
        These demos show how to strip all html from a string. You often need this in combination with @Sys.TutLink("crop or ellipsis", "blade110") to create teasers.
      </p>
  </div>
</div>


@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Scrub", Service = "IScrub" })

<h2>Simple example</h2>
<h3>Original</h3>
<code>@val1</code>
<div>which if cropped at @cropLen would be really messy</div>
<code>@val1.Substring(0, cropLen)</code>

@Sys.SourceCode.SnippetInitStart("intro")
  @{
     val1 = "<h1>Introduction</h1><p>Welcome to this blog post</p><hr><p>beginning with xyz we'll tell you more</p>";
     cropLen = 50;
  }
@Sys.SourceCode.SnippetInitEnd()


<h3>After IScrub.All</h3>

@Sys.SourceCode.SnippetInlineStart("blade-scrub-all")
  <code>@Kit.Scrub.All(val1)</code>
@Sys.SourceCode.SnippetInlineEnd()


<h3>Usually you will then combine with crop or ellipsis</h3>

@Sys.SourceCode.SnippetInlineStart("blade-scrub-all-ellipsis")
  <code>@Html.Raw(Text.Ellipsis(Kit.Scrub.All(val1), cropLen))</code>
@Sys.SourceCode.SnippetInlineEnd()


<h3>IScrub.Only()</h3>
<p>Only scrub specified tags using <code>IScrub.Only(source, tag)</code></p>

@Sys.SourceCode.SnippetInlineStart("blade-scrub-only")
  @{
  var exampleTagsOnly = "<div><h2><span>The cool title</span></h2></div>"; 
  }
  <div><strong>Scrub one tag: </strong><code>@Kit.Scrub.Only(exampleTagsOnly, "div")</code></div>
  <div><strong>Scrub multiple tags: </strong><code>@Kit.Scrub.Only(exampleTagsOnly, new string[] { "div", "h2" })</code></div>
@Sys.SourceCode.SnippetInlineEnd()


<h3>IScrub.Except()</h3>
<p>Scrub except the specified tags using <code>IScrub.Except(source, tag)</code></p>

@Sys.SourceCode.SnippetInlineStart("blade-scrub-except")
  @{
    var exampleTagsExcept = "<div><h2><span>The cool title</span></h2></div>"; 
  }
  <div><strong>Scrub tags except one tag: </strong><code>@Kit.Scrub.Except(exampleTagsExcept, "h2")</code></div>
  <div><strong>Scrub tags except multiple tags: </strong><code>@Kit.Scrub.Except(exampleTagsExcept, new string[] { "div", "span" })</code></div>
@Sys.SourceCode.SnippetInlineEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })