@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>

@* TODO:: @2dm Merge into 110-Crop, delete this view and file *@

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2><em>RazorBlade</em> Tags BR/NewLine Conversions <em>v1.1</em></h2>
    <p>
      These demos show how to convert BR tags to spaces, New-Lines or New-Lines to BRs. 
    </p>
    </div>
  </div>

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })