@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2><em>RazorBlade</em> set Base tag in header</h2>

      @Html.Partial("MessageDnnOnlyUseIPageService.cshtml")

      @Html.Partial("../shared/KitBaseClassInfoBox.cshtml", new { ServiceName = "Scrub", Service = "IScrub" })
      
      <div>
        This page sets the Base tag in the header. Look at the source of this page to see the result. <br>
        There are two ways to do this:
      </div>
    </div>
  </div>

  <ul>
    <li>
      <code>Kit.Page.SetBase()</code> will auto-detect the current base. It's extra smart, so the result will also work on the home page of a portal.
    </li>
    <li>
      <code>Kit.Page.SetBase("/some/page")</code> create the base tag with the specified url. 
    </li>
  </ul>


@if (CmsContext.Platform.Name == "Oqtane") {
  Html.Partial("../shared/_MessageOqtaneDisabled.cshtml");
} else {
  @Sys.SourceCode.SnippetInlineStart("base-tag")
    Kit.Page.SetBase();
  @Sys.SourceCode.SnippetInlineEnd()
}

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })