@inherits Custom.Hybrid.Razor14
@using System.Diagnostics;
@using System.IO;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
  @{
  var rzr = CreateInstance("RazorbladeVersion.cs");
  var version = rzr.VersionDouble();
}
</hide>



<img loading="lazy" src="@App.Path/blade/assets/razor-blade-wide.png" width="100%">
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <p>
      Learn how to use <code>ToSic.Razor.Blade</code> fluent <code>Tag</code> API to do really cool stuff. This uses <a href="https://github.com/DNN-Connect/razor-blade" target="_blank">ToSic.Razor.Blade</a>.
    </p>
  </div>
</div>

@Html.Partial("razorblade-version-info.cshtml", new { Expected =  3.00 } )

