@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
  </div>
</div>

@Html.Partial("../Shared/Accordion/Accordion List.cshtml", new { Sys, NameId = "razorblade-htmltags-page" })

@*
  TODO: @2dg
  - where is 825img and 825picture? the original pages are already empty, but I don't see it >>
// https://app-dev.2sxc.org/tutorial-razor/Home/blade825img/page
  - move in SmartJoin 822 in new main section
  - move in attributes 810 and 811 into new main section Attributes
*@

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })