@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    </div>
  </div>

   @* TODO:: @2dm View Image selection > Img goes above the Code Snippet *@

 @Html.Partial("../Shared/Accordion/Accordion One.cshtml", new { Sys, NameId = "razorblade-img" }) 


  @* <hide>
<style>
  picture, picture source, picture img {
    width: 100%;
  }
</style>
</hide> *@

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })