@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2><em>RazorBlade</em> Fluent Tag API <code>@@Tag.Img().Src(...)</code> and <code>Srcset(...)</code> <em>v3</em></h2>
      <div>
        One of the magic bits of the Html5 tags is that they are smart. For example, url properties like <code>Src()</code> or <code>Href()</code> will safely encode if they are not yet encoded. 
        This is super important for CMS solutions where the image file may easily contain umlaut characters or spaces. <br>
        <em>Note that it's <code>Srcset()</code> and not <code>SrcSet</code>. For consistency, everything is always lower case. </em>
      </div>
    </div>
  </div>

  @* TODO:: @2dm View Image selection > Img goes above the Code Snippet
  TODO:: @2dm Tag.Picture Titel are missing (825 Picture) *@

@Html.Partial("../Shared/Accordion/Accordion One.cshtml", new { Sys, NameId = "razorblade-img" })
@* 

@((snip = Sys.SourceCode.Intro()).SnipStart())
  @{
    // demo of path with umlauts and japanese characters
    var kaizenUrl = "überschrift-small.png?name=改善";
    var path = App.Path + "/blade/assets/tag-img/";
    var kaizenFullPath =  path + kaizenUrl;
    var kaizenFullHd = kaizenFullPath.Replace("small", "large");
  }
@snip.SnipEnd()


This file is called @kaizenUrl <br>

@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
  @Tag.Img().Src(kaizenFullPath)
@snip.SnipEnd()


@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
 <pre>@Tag.Img().Src(kaizenFullPath).ToString()</pre>
@snip.SnipEnd()

And now the same thing with <code>Srcset</code> which allows high-density images: <br>

@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
 @Tag.Img().Srcset(kaizenFullPath, 1).Srcset(kaizenFullHd, 2)
@snip.SnipEnd() *@


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })