<hide>
@RenderPage("_header.cshtml")
@using System.Diagnostics;
@using System.IO;
@{
  var hlp = CreateInstance("../shared/_helpers.cshtml"); 
  var pathToRazorDll = "~/bin/Connect.Razor.dll";
  pathToRazorDll = System.Web.HttpContext.Current.Server.MapPath(pathToRazorDll);
  double version = 0;
  bool versionOk = false;
  var exists = File.Exists(pathToRazorDll);
  if(exists) {
    var rzrVersionInfo = FileVersionInfo.GetVersionInfo(pathToRazorDll);
    var major = rzrVersionInfo.FileMajorPart;
    var minor = rzrVersionInfo.FileMinorPart;
    version = Convert.ToDouble(major + "." + minor);
    versionOk = version >= 1.2;
  }
}

</hide>

<trim>
<img src="@App.Path/blade/assets/razor-blade-wide.png" width="100%">
<p>
  Learn how to use <code>Connect.Razor.Blade</code> to do really cool stuff. For example, take a html-string, strip the html tags, truncate to 100 characters without splitting word and then show using a standard html-ellipsis. And way more. This uses <a href="https://github.com/DNN-Connect/razor-blade" target="_blank">Connect.Razor.Blade</a>. 
</p>

<h2>Some notes before we start</h2>
<p>
  <em>RazorBlade</em> can be installed as a <a href="https://github.com/DNN-Connect/razor-blade/releases" target="_blank">stand-alone DNN module</a> or if you are creating your own module, you can include it in your distribution. If you're viewing this tutorial with 2sxc 9.40+, then it already includes <em>RazorBlade</em> 1.1, but some examples need an even newer version. If you see errors, you probably need to install a newer version of <em>RazorBlade</em>
</p>
@if(!exists) {
  <div class="alert alert-danger" role="alert">
    We can not find <code>Connect.Razor.dll</code> in your <code>bin</code> folder. It seems you have not installed <em>RazorBlade</em> - please install it from <a href="https://github.com/DNN-Connect/razor-blade/releases" target="_blank">releases</a> to continue.
  </div>
} else if(versionOk) {
  <div class="alert alert-primary" role="alert">
    Your RazorBlade version is @version - which is what you need for all these tutorials. 
  </div>
} else {
  <div class="alert alert-warning" role="alert">
    Your RazorBlade version is @version. Only the examples marked like @Html.Raw(VersionInfo(1.2, 1.2)) will work. The examples marked like @Html.Raw(VersionInfo(0, 1.2)) will not work unless you install a newer version from the <a href="https://github.com/DNN-Connect/razor-blade/releases" target="_blank">releases</a>.
  </div>
}
</trim>

<hr>
<h2><em>RazorBlade</em> Examples for Text Manipulations</h2>

<ol>
  @hlp.TutorialLink("RazorBlade - Text.Crop() and Text.Ellipsis()", "blade110", 
  "Correctly crop text without splitting words or html-characters like &amp;", 
  "new!", VersionInfo(version, 1.1))

  @hlp.TutorialLink("RazorBlade - Text.Has() tells you if something really has content", "blade120", 
  "Check if strings really have something correctly, incl. spaces or even &nbsp; whitespaces. ", 
  "new!", VersionInfo(version, 1.1))

  @hlp.TutorialLink("RazorBlade - Text.First() lets you pick a value from many variables", "blade130", 
  "Often you have to check many variables to find the first one to use.", 
  "new!", VersionInfo(version, 1.1))

  @hlp.TutorialLink("RazorBlade - Text.Zip() lets you shrink all spaces, tabs, enters together", "blade140", 
  "Very often you need to clean up some text before working with it.", 
  "new!", VersionInfo(version, 1.1))
</ol>

<hr>
<h2><em>RazorBlade</em> Examples for Manipulating Html strings</h2>

<ol>
  @hlp.TutorialLink("Tags.Strip() cleans out all HTML tags", "blade210", 
  "Remove all html from a string - important for teaser texts and protecting against cross-site-scripting attacks.", 
  "new!", VersionInfo(version, 1.1))

  @hlp.TutorialLink("Convert <br> tags to new-lines or spaces and back", "blade220", 
  "A common challenge is showing text as HTML or the other way around", 
  "new!", VersionInfo(version, 1.1))
</ol>

<hr>
<h2>More Information around <em>RazorBlade</em></h2>
<ol>
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade", "RazorBlade Github Repo")
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade/releases", "RazorBlade download page")
  <li>Blogs
    <ul>
      @hlp.LiExtLink("https://2sxc.org/en/blog/tag/razor-blade", "Blog posts & tutorials on 2sxc.org around RazorBlade")
    </ul>
  </li>
</ol>

@functions{
  string VersionInfo(double version, double expected) {
    var cls = expected <= version ? "secondary" : "danger";
    return "<span class='badge badge-" + cls + "'>v" + expected + "</span>";
  }
}