<hide>
@using Connect.Razor.Blade;
@RenderPage("_header.cshtml")
@{  var hlp = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
<trim>
  <img src="@App.Path/blade/assets/razor-blade-icon.png?w=400" class="float-right">
  <h2><em>RazorBlade</em> Text.Has(...) <em>v1.1</em></h2>
  <p>
      These demos show how to really check if a variable has text using Text.Has. This combines null-checks, empty checks, empty-html-nbsp-checks and more. <br>
      <em>Note that this example uses @hlp.TutLink("@helper", "html=home") and emojis, so click on the links if you don't understand that.</em>
  </p>
</trim>

<h2>Examples</h2>
<table class="demo">
  <tr>
    <th>Test</th>
    <th>Code</th>
    <th>Result</th>
    <th>...when html counts</th>
  </tr>
  @RowEmojified("Null value", null)
  @RowEmojified("Just spaces", "     ")
  @RowEmojified("text with only line breaks", "\n\n")
  @RowEmojified("tabs, spaces and line breaks", "\n\t  \n")
  @RowEmojified("only nbsp characters", "&nbsp; &nbsp;")
  @RowEmojified("char-code of nbsp characters", "&#160;")
  @RowEmojified("real text", "real text")
  @RowEmojified("Real text with nbps etc.", "real\n text &nbsp;")
</table>

@helper RowEmojified(string label, string value) {
  var valueForShowing = value == null 
    ? "null" 
    : "\"" + value.Replace("\n", "\\n").Replace("\t", "\\t") + "\"";
  <tr>
    <td>@label</td>
    <td>Text.Has(@valueForShowing)</td>
    <td>@Emojify(Text.Has(value))</td>
    <td>@Emojify(Text.Has(value, false))</td>
  </tr>
}

@helper Emojify(bool value) {
  @(value ? "✔️" : "❌")
}

<h2>Special case: &lt;BR&gt; Whitespace</h2>

TODO - UPDATE LINK BELOW ONCE THAT HAS BEEN ADDED

<ul>
  <li>If your string is like Text.Has("&lt;br&gt;") it will be: @Text.Has("<br>")</li>
  <li>If you want to ignore BRs, combine it with <a href='@Link.To(parameters: "tags=true")'>Tags.Br2Nl(...)</a> </li>
  <li>...resulting in: @Text.Has(Tags.Br2Nl("<br>"))</li>
</ul>


<hide>
<style>
  table.demo td {
    white-space: pre-wrap;
  }
</style>


@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>