@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>
<div class="row">
  <div class="col-md-7">
    <trim>
      <h2><em>RazorBlade</em> IScrub.All(...), IScrub.Only(), IScrub.Except()</h2>
      <p>
        These demos show how to strip all html from a string. You often need this in combination with @hlp.TutLink("crop or ellipsis", "blade110") to create teasers.
      </p>
    </trim>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>

@{
  var val1 = "<h1>Introduction</h1><p>Welcome to this blog post</p><hr><p>beginning with xyz we'll tell you more</p>";
  var cropLen = 50;
}

@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Scrub", Service = "IScrub" })

<h2>Simple example</h2>
<h3>Original</h3>
<code>@val1</code>
<div>which if cropped at @cropLen would be really messy</div>
<code>@val1.Substring(0, cropLen)</code>

<h3>After IScrub.All</h3>
<snippet id="blade-scrub-all">
<code>@Kit.Scrub.All(val1)</code>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "blade-scrub-all", Size = 30 }) 
</hide-silent>

<h3>Usually you will then combine with crop or ellipsis</h3>
<snippet id="blade-scrub-all-ellipsis">
<code>@Html.Raw(Text.Ellipsis(Kit.Scrub.All(val1), cropLen))</code>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "blade-scrub-all-ellipsis", Size = 30 }) 
</hide-silent>

<h3>IScrub.Only()</h3>
<p>Only scrub specified tags using <code>IScrub.Only(source, tag)</code></p>
<snippet id="blade-scrub-only">
@{
  var exampleTagsOnly = "<div><h2><span>The cool title</span></h2></div>"; 
}
<div><strong>Scrub one tag: </strong><code>@Kit.Scrub.Only(exampleTagsOnly, "div")</code></div>
<div><strong>Scrub multiple tags: </strong><code>@Kit.Scrub.Only(exampleTagsOnly, new string[] { "div", "h2" })</code></div>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "blade-scrub-only", Size = 150 }) 
</hide-silent>

<h3>IScrub.Except()</h3>
<p>Scrub except the specified tags using <code>IScrub.Except(source, tag)</code></p>
<snippet id="blade-scrub-except">
@{
  var exampleTagsExcept = "<div><h2><span>The cool title</span></h2></div>"; 
}
<div><strong>Scrub tags except one tag: </strong><code>@Kit.Scrub.Except(exampleTagsExcept, "h2")</code></div>
<div><strong>Scrub tags except multiple tags: </strong><code>@Kit.Scrub.Except(exampleTagsExcept, new string[] { "div", "span" })</code></div>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "blade-scrub-except", Size = 150 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 1000 }) 
</hide>