@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;
<hide>
@Html.Partial("_header.cshtml")
@{
  // 2sxclint:disable:no-razorblade-htmlpage
  var hlp = CreateInstance("../shared/Helpers.cs"); 
  var viewMd = AsDynamic((CmsContext.View.Metadata.OfType(hlp.TutViewMetadataType) as IEnumerable<dynamic>).FirstOrDefault());
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2><em>RazorBlade</em> set Title, Description and other headers</h2>

      @* TOOD: Ask 2dm if we should remove this section - replaced by Pageservice already *@
      @Html.Partial("_MessageDnnOnlyUseIPageService.cshtml")

      <div>
        This page sets the title, description, keywords and some manual tags to the header. 

        Look at the resulting output-source to see the effect. 
      </div>
    </div>
    <div class="col-lg-5">
      @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Requirements, Title = "Requirements", Icon = "fa-exclamation-circle" })
      @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Resources, Title = "Resources" })
    </div>
  </div>
</trim>

@if(CmsContext.Platform.Name == "Oqtane") {
  @Html.Partial("../shared/_MessageOqtaneDisabled.cshtml")
} else {
  // Note: this only works because we have @using ToSic.Razor.Blade on top
  // Again note that this only works in DNN and is not recommended any more - see warning
  var page = GetService<IPageService>();
  page.SetTitle("Title changed from the razor using Razor Blade! original: ");
  page.SetDescription("Learn to use Razor Blade");
  page.SetDescription("Learn to use Razor Blade");
  page.SetKeywords("Tutorial, Razor, Blade");
  page.SetKeywords("Tutorial, Razor, Blade");
  page.AddToHead("<meta xyz>");
  page.AddMeta("somename", "somevalue");
}

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 500 }) 
</hide>