@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;
<hide>
@Html.Partial("_header.cshtml")
@{
  // 2sxclint:disable:no-razorblade-htmlpage
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>
<trim>
  <h2><em>RazorBlade</em> set Base tag in header</h2>

  @Html.Partial("_MessageDnnOnlyUseIPageService.cshtml")

  <div>
    This page sets the Base tag in the header. Look at the source of this page to see the result. <br>
    There are two ways to do this:
  </div>
  <ul>
    <li>
      <code>HtmlPage.AddBase()</code> will auto-detect the current base. It's extra smart, so the result will also work on the home page of a portal.
    </li>
    <li>
      <code>HtmlPage.AddBase("/some/page")</code> create the base tag with the specified url. 
    </li>
  </ul>
</trim>

@if (CmsContext.Platform.Name == "Oqtane")
  @Html.Partial("../shared/_MessageOqtaneDisabled.cshtml")
{ else {
  var page = GetService<IPageService>();
  page.AddBase()
}

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 300 }) 
</hide>