@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  // 2sxclint:disable:no-razorblade-htmlpage
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2><em>RazorBlade</em> set Base tag in header</h2>

      @Html.Partial("_MessageDnnOnlyUseIPageService.cshtml")

      @Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Scrub", Service = "IScrub" })
      
      <div>
        This page sets the Base tag in the header. Look at the source of this page to see the result. <br>
        There are two ways to do this:
      </div>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
  <ul>
    <li>
      <code>Kit.Page.SetBase()</code> will auto-detect the current base. It's extra smart, so the result will also work on the home page of a portal.
    </li>
    <li>
      <code>Kit.Page.SetBase("/some/page")</code> create the base tag with the specified url. 
    </li>
  </ul>
</trim>

@if (CmsContext.Platform.Name == "Oqtane") {
  Html.Partial("../shared/_MessageOqtaneDisabled.cshtml");
} else {
  Kit.Page.SetBase();
}

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 300, isExpanded=true }) 
</hide>