@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{
  // 2sxclint:disable:no-razorblade-htmlpage
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>
<trim>
  <h2><em>RazorBlade</em> add JSON-LD Headers</h2>

  @Html.Partial("_MessageDnnOnlyUseIPageService.cshtml")
TODO: RESTORE OLD CODE HERE FOR DNN
  <div>
    This page adds 2 JSON-LD tags to the html-head. View the page source to see it.
  </div>
</trim>

@{#if NETSTANDARD}
@{
  // example adding a json-ld as a string
  var page = GetService<ToSic.Sxc.Web.IPageService>();
  page.AddJsonLd("{ \"@context\": \"https://schema.org/\" }");
}
@{
  // creating a JSON-LD using an object - replicating googles example https://developers.google.com/search/docs/guides/intro-structured-data
  var jsonLd = new Dictionary<string, object> {
    { "@context", "https://schema.org"},
    { "@type", "Organization"},
    { "url", "http://www.example.com"},
    { "name", "Unlimited Ball Bearings Corp."},
    { "contactPoint", new Dictionary<string, object> {
      {"@type", "ContactPoint"},
      {"telephone", "+1-401-555-1212"},
      {"contactType", "Customer service"}
    }}
  };

  page.AddJsonLd(jsonLd);
}
<p>
  This is the tag you should see in the header: <br>
  @(new ToSic.Razor.Html5.ScriptJsonLd(jsonLd).ToString())
</p>
@{#else}
  @Html.Partial("_MessageOqtaneDisabled.cshtml")
@{#endif}

<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path }) 
</hide>