<hide>
@RenderPage("_header.cshtml")
@using System.Diagnostics;
@using System.IO;
@{
  var hlp = CreateInstance("../shared/_helpers.cshtml"); 
  var rzr = CreateInstance("_razorblade-version.cshtml");
  double version = rzr.VersionDouble();
}
</hide>

<trim>
<img src="@App.Path/blade/assets/razor-blade-wide.png" width="100%">
<p>
  Learn how to use <code>Connect.Razor.Blade</code> fluent <code>tag</code> API to do really cool stuff. This uses <a href="https://github.com/DNN-Connect/razor-blade" target="_blank">Connect.Razor.Blade</a>. 
</p>

<h2>Some notes before we start</h2>
<p>
  <em>RazorBlade</em> can be installed as a <a href="https://github.com/DNN-Connect/razor-blade/releases" target="_blank">stand-alone DNN module</a> or if you are creating your own module, you can include it in your distribution. 2sxc 9.40+ includes <em>RazorBlade</em> 1.01, 2sxc 10.06 includes 2.0 and 10.09 includes v2.02. If you see errors, you probably need to install a newer version of <em>RazorBlade</em>.
</p>
@rzr.RazorVersionBox(2.0)
</trim>

<hr>
<h2><em>RazorBlade</em> Fluent Html Tag API for creating HTML using code</h2>

<ol>
  @hlp.TutorialLink("Creating HTML from code - introduction", "blade801", 
    "The basics of creating html directly from code", 
    "new!", rzr.VersionInfo(version, 2.00))

  @hlp.TutorialLink("Safe HTML Attributes from code", "blade810", 
    "Working with attributes in your code to stay error-free", 
    "new!", rzr.VersionInfo(version, 2.00))

  @hlp.TutorialLink("Safe HTML Tags from code", "blade820", 
    "Working with tags in your code to stay error-free and do amazing stuff", 
    "new!", rzr.VersionInfo(version, 2.00))

</ol>

<hr>
<h2><em>RazorBlade</em> Fluent Html5 Tags</h2>
<div>
  <em>RazorBlade</em> 2.02 contains over 130 objects with hundreds of properties so you can quickly generate HTML tags correctly and safely. 
</div>
<ol>
  @hlp.TutorialLink("HTML5 Using Typed Objects", "blade840", 
    "Some examples how to generate correctly typed HTML5 using RazorBlade.", 
    "new!", rzr.VersionInfo(version, 2.01))

</ol>

<hr>
<h2>More Information around <em>RazorBlade</em></h2>
<ol>
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade", "RazorBlade Github Repo")
  @hlp.LiExtLink("https://github.com/DNN-Connect/razor-blade/releases", "RazorBlade download page")
  <li>Blogs
    <ul>
      @hlp.LiExtLink("https://2sxc.org/en/blog/tag/razor-blade", "Blog posts & tutorials on 2sxc.org around RazorBlade")
    </ul>
  </li>
</ol>
