@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2><em>RazorBlade</em> Fluent Tag API <code>@@Tag.Custom("your-tag")</code> <em>v3</em></h2>
      <div>
        All Html5 tags are available under <code>Tag.xxx()</code>. In case you need a custom tag - like an <code>@Tag.Custom("app-root").ToString()</code> 
        for angular, you'll need the <code>@@Tag.Custom(...)</code>.
      </div>
    </div>
  </div>


@* todo @2dg  first create a sample where a heading is from a variable *@

<h3>Fist create a sample where a heading is from a variable</h3>

@Sys.SourceCode.SnippetInlineStart("demo-1")
  @{
    var headingType = "h3";
  }
  @Tag.Custom(headingType).Wrap("This is a title")
@Sys.SourceCode.SnippetInlineEnd()


@* @2dg use show-result and manually show what the result would be *@
@* <app-root></app-root> *@


@Sys.SourceCode.SnippetInlineStart("demo-2")
  @Tag.Custom("em").Wrap("this is a italic text")
@Sys.SourceCode.SnippetInlineEnd()


@Sys.PageParts.FooterWithSource()