@inherits Custom.Hybrid.RazorTyped
@{
  // Sys helps generate code snippets etc.
  var Sys = GetCode("/shared/Helpers.cs").Init(this);
  dynamic qref;
}


@((qref = Sys.SourceCode.QuickRefSplit33(tabs: new Dictionary<string, string> {
  { "Source JS", "file:js/turnOn1.js" },
})).SnipStart())
  <p>
    The following text will be replaced once the JS is triggered: <br>
    <strong id="turnOn1-message"></strong>
  </p>

  @* Load the JavaScript - it will not run by itself, as the DOM might not be ready
      Note that this can be before or after the TurnOn *@
  <script src="@MyView.Folder.Url/js/js/turnOn1.js"></script>

  @* Tell TurnOn to trigger the JS when everything is ready *@
  @Kit.Page.TurnOn("window.quickReference.turnOn1Message()")

  <p>
    This example passes data to the JS, so it can be parameterized:  <br>
    <strong id="turnOn2-message"></strong>
  </p>

  @* Tell TurnOn to trigger the JS and give it a string *@
  @Kit.Page.TurnOn("window.quickReference.turnOn2Message()", data: "Hello from Razor, the page Id is" + MyPage.Id)

  <p>
    We can also pass in more sophisticated data:  <br>
    <strong id="turnOn3-message"></strong>
  </p>
  @{
    // Create an anonymous object containing the data to send
    var turnOn3Data = new {
      domId = "turnOn3-message",
      message = "Hello from Razor...",
      pageId = MyPage.Id,
      pageUrl = MyPage.Url
    };
  }
  @* Tell TurnOn to trigger the JS and give it a complex object *@
  @Kit.Page.TurnOn("window.quickReference.turnOn3Message()", data: turnOn3Data)
@qref.SnipEnd()

