@inherits AppCode.TutorialSystem.Razor.ManageGroup
@using AppCode.Data
@using AppCode.Tutorial
@using AppCode.TutorialSystem.Razor
@using System.Linq
@{
  if (Model.Recursion > 3) {
    throw new Exception("Recursion too high");
  }

  var isPage = TutorialGroup.IsPage;
}

@(isPage ? "📄" : "🎁")

Tutorial Group:
<strong>@TutorialGroup.String("Title", scrubHtml: true)</strong>
[Accs: @Accordions.Count() | Snips: @Sections.Count()]

@if (isPage) {
  <a href='@TutLinks.TutPageUrl(TutorialGroup)' target="_blank">📤</a>
}
<br>
@Html.Partial("./Part WithNotes.cshtml", TutorialGroup)

@if (Accordions.Any() || Sections.Any()) {
  <ol>
    @foreach (var acc in Accordions) {
      <li>
        @Html.Partial("./Part TutorialGroupContents.cshtml", new ManageGroupModel { TutorialGroup = acc, Recursion = Model.Recursion + 1 })
      </li>
    }
    @foreach (var sc in Sections) {
      <li>
        Section: @sc.Title
        @Html.Partial("./Part WithNotes.cshtml", sc)
      </li>
    }
  </ol>
}
