@inherits Custom.Hybrid.RazorTyped
@{
  var Sys = GetCode("/shared/Helpers.cs").Init(this);
  var tg = MyModel.Item("TutorialGroup");
  var recursion = MyModel.Int("Recursion");
  if (recursion > 3) {
    throw new Exception("Recursion too high");
  }
}

@(tg.Bool("IsPage") ? "📄" : "🎁")

Tutorial Group: @tg.Title [Accs: @tg.Children("Accordions").Count() | Snips: @tg.Children("Sections").Count()]
@if (tg.Bool("IsPage")) {
  <a href='@Sys.TutPageUrl(tg)' target="_blank">📤</a>
}
<br>

@if (tg.IsNotEmpty("Accordions") || tg.IsNotEmpty("Sections")) {
  <ol>
    @foreach (var acc in tg.Children("Accordions")) {
      <li>
        @Html.Partial("./Part TutorialGroupContents.cshtml", new { TutorialGroup = acc, Recursion = recursion + 1 })
      </li>
    }
    @foreach (var sc in tg.Children("Sections")) {
      <li>
        Section: @sc.Title
      </li>
    }
  </ol>
}
