@inherits Custom.Hybrid.Razor14
<ul>
  <li>
    <div style="background-color: @Settings.PrimaryColor" class="color-box"></div>
    &nbsp; Settings.PrimaryColor <br>
    @Settings.Get("PrimaryColor")
  </li>
  <li>
    <div style="background-color: @Settings.SecondaryColor" class="color-box"></div>
    &nbsp; Settings.SecondaryColor <br>
    @Settings.Get("SecondaryColor")
  </li>
  <li>
    Settings.Tiles <br>
    (for example to configure images side-by-side):
    @Settings.Tiles
  </li>
</ul>

<style> .color-box { width: 20px; height: 20px; float: left; } </style>