@inherits AppCode.Razor.AppRazor<string>
@{
  var title = Model; // MyModel.String("Title");

  // Set Browser page Title
  Kit.Page.SetTitle(title + " - 2sxc Razor Tutorials for Dnn / Oqtane");

  // Initialized shared assets on every page
  var bsCheck = GetCode("../../Shared/Bootstrap5.cs");
  bsCheck.EnsureBootstrap5();

  var hdHlp = new AppCode.Razor.HeaderHelpers();
}

@hdHlp.AddMainLogo(App, "app-icon.png", "https://2sxc.org/dnn-tutorials/en/razor")
<h1 class="col-auto p-0" @Kit.Toolbar.Default()>
  @title
</h1>

@Kit.Page.Activate("2sxc.JsCore")
<link rel='stylesheet' href='@App.Folder.Url/assets/styles.css' @Kit.Page.AssetAttributes() />