@inherits Custom.Hybrid.RazorTyped
@using AppCode.Data
@using ToSic.Razor.Blade
@using System.Linq
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  viewCnf.Query("AuthorsWithBooks" + MyContext.Platform.Name);
/*!*/}
@{
  // get the query
  var query = Kit.Data.GetQuery("AuthorsWithBooks");

  // get all authors from the stream "Authors" in the query
  var allAuthors = AsList<Persons>(query.GetStream("Authors"));

  // get the current author (if available) from the stream Current
  var current = As<Persons>(query.GetStream("Current"));

  // get the books of the current author (if available) from stream CurrentBook
  var books = AsList<Books>(query.GetStream("CurrentBooks"));

  // Get the current url params so we can derive from it for details links
  var urlParams = MyPage.Parameters;
}
<ul>
  @foreach (var person in allAuthors) {
    <!-- this li will have class=selected if it's the current one -->
    <li class='@(person == current ? "selected" : "")'>
      <!-- this creates a link to the current page and author=id -->
      <a href='@Link.To(parameters: urlParams.Set("authorId", person.Id))'>
        @person.FirstName @person.LastName
      </a>
    </li>
  }
</ul>
@if (current != null) {
  if (current.IsNotEmpty("Mugshot")) {
    <img loading="lazy" src="@current.Mugshot?w=100&h=100&mode=crop" width="100px" class="person float-right float-end">
  }
  <h3>Current Author: @current.FirstName @current.LastName</h3>
  <strong>Books</strong>
  <ol>
    @foreach (var book in books) {
      <li>@book.Title</li>
    }
  </ol>
} else {
  <h3>No author selected - click on an author above</h3>
}