@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>HTML-functions = Code-Snippet with Template Delegates</h2>
    <p>If you just need a quick simple snippet, Template Delegates are the way to go. 
    They are very limited so only ideal for simple stuff. More complex stuff should use
    @Sys.TutLink("Razor Components with @Html.Partial and DynamicModel", "reuse110"). 
    </p>
  </div>
</div>

@* TODO:: @2dm Link in Accordion Intro do not work   *@

@Html.Partial("../Shared/Accordion/Accordion One.cshtml", new { Sys, NameId = "code-templatedelegates" })

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })