@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
  @Html.Partial("header.cshtml", new { Sys = Sys })  
</hide>



<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Reuse Shared Templates</h2>
    <p>
      Partial templates are <code>cshtml</code> files which you can use multiple times. Typically they will contain something which you need in many places, like a menu or a data-visualizer which gets data as a parameter, and then creates a different table each time. Here's how to use it with <code>Html.Partial(...)</code>.
    </p>
    <h3>Passing Parameters/Values</h3>
    <p>
      If you pass values to the Razor Control on older Base classes such as <code>Razor14</code>, the parameters arrive on the <code>DynamicModel</code> object.
    </p>
    <p>
      On the new typed base class <code>RazorPro</code> it will be in the <code>MyModel</code> object (see examples below)
    </p>
  </div>
</div>


<h3>Just render the same, external file into here</h3>
<p>This uses <code>@@Html.Partial</code> to get the file <code>line.cshtml</code> 3 times.</p>

@* @Sys.SourceCode.ResultAndSnippetStart("demo1", "Source line.cshtml") *@
@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:./line.cshtml")).SnipStart())
  @Html.Partial("line.cshtml")
  @Html.Partial("line.cshtml")
  @Html.Partial("line.cshtml")
@snip.SnipEnd()


<h3>Passing in Parameters/Values</h3>
<p>The next example passes in a word to the sub-template, so that can change what it does based on the variable. The called template will get the parameters on <code>DynamicModel</code> (see code below)</p>

@* @Sys.SourceCode.ResultAndSnippetStart("demo2", "Source box.cshtml") *@
@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:./box.cshtml")).SnipStart())
  @Html.Partial("box.cshtml", new { Label = "Hello, this is the first line" })
  @Html.Partial("box.cshtml", new { Label = "Second line!", Color = "red" })
  @Html.Partial("box.cshtml", new { Label = "I'm last!", Color = "blue" })
@snip.SnipEnd()


<h3>Passing in Parameters/Values Pro</h3>
<p>This is the same, but using the <code>RazorPro</code> (new v16). The called template will get the parameters on <code>MyModel</code> (see code below)</p>

@* @Sys.SourceCode.ResultAndSnippetStart("demo2", "Source box-pro.cshtml") *@
@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:./box-pro.cshtml")).SnipStart())
  @Html.Partial("box.cshtml", new { Label = "Hello, this is the first line" })
  @Html.Partial("box.cshtml", new { Label = "Second line!", Color = "red" })
  @Html.Partial("box.cshtml", new { Label = "I'm last!", Color = "blue" })
@snip.SnipEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })