@inherits Custom.Hybrid.RazorPro
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })  
</hide>

@* 2dg: neue info section part *@
<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Reuse Shared Razor Helpers</h2>
    <p>
      There are multiple ways to create shared Razor helpers:
    </p>
    <ul>
      <li>
        public functions returning html <br>
        ⭐ this is recommended in v12 and above as it works in Dnn ✅ and Oqtane ✅
      </li>
      <li>
        the <code>@@helper</code> command <br>
        👍 this is simpler, but only works in Dnn ✅ but not in Oqtane ⛔
      </li>
    </ul>
    <p>
      Razor helpers are functions that put HTML into the page. You can create them using either <br>
      <code>@@functions { dynamic helpername() { ... } }</code> <br>
      or <br>
      <code>@@helper helpername() { ... } </code>
    </p>
    <p>
      You can also share them by placing them into a separate file (just remember to mark them <code>public</code>). This lets you put a bunch of tiny helpers into a helpers-library and use them from elsewhere. To achieve this, we use <code>CreateInstance</code> to get an object with these methods, and then use it. 
    </p>
  </div>
</div>
@* 2dg: neue info section part *@

<h2>Using Shared Helpers</h2>
<p>The example takes a cshtml file using <code>CreateInstance(...)</code>and uses it as a central helpers library. The helper <code>PreviewWithLightbox</code> will generate a thumbnail, include Fancybox3 (only the first time) and ensure you can click it for a full image. </p>

@Sys.SourceCode.ResultAndSnippetStart("reuse-helpers", "R14", "Source of fancybox.cs")
  @{
    // Use GetCode in RazorPro
    var lightbox = GetCode("../shared/Fancybox.cs");
  }
  @lightbox.PreviewWithLightbox(@App.Path + "/app-icon.png")
  <br>
  @lightbox.PreviewWithLightbox(@App.Path + "/reuse/demo.png", 200, 100)
@Sys.SourceCode.ResultEnd("snippet:*-14", "file:../shared/fancybox.cs")

@* Snippet for the old v14 code, which shouldn't run but should be shown. This is a bit of a hack, but it works

@Sys.SourceCode.SnippetStart("reuse-helpers-14")
  @{
    // Use CreateInstance in Razor12 and Razor14
    var lightbox = CreateInstance("../shared/Fancybox.cs");
  }
  @lightbox.PreviewWithLightbox(@App.Path + "/app-icon.png")
  <br>
  @lightbox.PreviewWithLightbox(@App.Path + "/reuse/demo.png", 200, 100)
@Sys.SourceCode.SnippetEnd()
*@


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
