@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })  
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Reuse functions</h2>
      <p>
        When you need a function in many places, it's best to put it into an own <code>cshtml</code> file and access it using <code>CreateInstance</code>. 
      </p>
    </div>
  </div>


<h2>Using shared library of functions</h2>
<trim>
<p>The example takes a cshtml file with a <code>QrPath</code> function returning the url to a qr-code. It then accesses it using <code>CreateInstance(...)</code>.</p>
</trim>

@Sys.SourceCode.ResultAndSnippetStart("demo1", "Source of SharedFunctions.cs")
  @{
    var lib = CreateInstance("SharedFunctions.cs");
  }
  <div>Hello from lib: @lib.SayHello()</div>
  <div>
    <img loading="lazy" src='@lib.QrPath("https://2sxc.org")' width="75px">
  </div>
@Sys.SourceCode.ResultEnd("file:SharedFunctions.cs")


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })

