<hide>
@Html.Partial("_header.cshtml")
</hide>

<trim>
<h2>Reuse Shared Templates</h2>
<p>
  Partial templates are <code>cshtml</code> files which you can use multiple times. Typically they will contain something which you need in many places, like a menu or a data-visualizer which gets data as a parameter, and then creates a different table each time. Here's how to use it with <code>Html.Partial(...)</code> (or <code>RenderPage</code> in older versions). 
</p>
</trim>

<hr>
<h3>Just render the same, external file into here</h3>
<hide>
  <p>This uses <code>@@Html.Partial</code> to get the file <code>_line.cshtml</code> 3 times.</p>
</hide>
@Html.Partial("_line.cshtml")
@Html.Partial("_line.cshtml")
@Html.Partial("_line.cshtml")


<hr>
<h2>Passing in values</h2>
<hide>
<p>The next example passes in a word to the sub-template, so that can change what it does based on the variable. The called template will get the parameters on <code>DynamicModel</code> (see code below)</p>
</hide>
@Html.Partial("_box.cshtml", new { Label = "Hello, this is the first line" })
@Html.Partial("_box.cshtml", new { Label = "Second line!", Color = "red" })
@Html.Partial("_box.cshtml", new { Label = "I'm last!", Color = "blue" })

<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = VirtualPath, 
  File = "line",
  Size = 100, 
}) 

@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = VirtualPath,
  File = "box",
  Size = 200, 
}) 

</hide>