@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })  
</hide>



<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Reuse Shared Templates</h2>
    <p>
      Partial templates are <code>cshtml</code> files which you can use multiple times. Typically they will contain something which you need in many places, like a menu or a data-visualizer which gets data as a parameter, and then creates a different table each time. Here's how to use it with <code>Html.Partial(...)</code> (or <code>RenderPage</code> in older versions). 
    </p>
  </div>
</div>


<h3>Just render the same, external file into here</h3>
<p>This uses <code>@@Html.Partial</code> to get the file <code>_line.cshtml</code> 3 times.</p>

@Sys.SourceCode.ResultAndSnippetStart("demo1", "Source of _line.cshtml")
  @Html.Partial("_line.cshtml")
  @Html.Partial("_line.cshtml")
  @Html.Partial("_line.cshtml")
@Sys.SourceCode.ResultEnd("file:_line.cshtml")


<h3>Passing in values</h3>
<p>The next example passes in a word to the sub-template, so that can change what it does based on the variable. The called template will get the parameters on <code>DynamicModel</code> (see code below)</p>

@Sys.SourceCode.ResultAndSnippetStart("demo2", "Source of _box.cshtml")
  @Html.Partial("_box.cshtml", new { Label = "Hello, this is the first line" })
  @Html.Partial("_box.cshtml", new { Label = "Second line!", Color = "red" })
  @Html.Partial("_box.cshtml", new { Label = "I'm last!", Color = "blue" })
@Sys.SourceCode.ResultEnd("file:_box.cshtml")


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })