@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@* 2sxclint:disable:no-old-helper - we mention @helper a few times, so the linter catches that *@
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>

<trim>

<div class="row">
  <div class="col-lg-7">
    <h2>Reuse Shared Razor Helpers</h2>
    <p>
      There are multiple ways to create shared Razor helpers:
    </p>
    <ul>
      <li>
        public functions returning html <br>
        ⭐ this is recommended in v12 and above as it works in Dnn ✅ and Oqtane ✅
      </li>
      <li>
        the <code>@@helper</code> command <br>
        👍 this is simpler, but only works in Dnn ✅ but not in Oqtane ⛔
      </li>
    </ul>
    <p>
      Razor helpers are functions that put HTML into the page. You can create them using either <br>
      <code>@@functions { dynamic helpername() { ... } }</code> <br>
      or <br>
      <code>@@helper helpername() { ... } </code>
    </p>
    <p>
      You can also share them by placing them into a separate file (just remember to mark them <code>public</code>). This lets you put a bunch of tiny helpers into a helpers-library and use them from elsewhere. To achieve this, we use <code>CreateInstance</code> to get an object with these methods, and then use it. 
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
</trim>

<hr>
<h2>Using Shared Helpers</h2>
<p>The example takes a cshtml file using <code>CreateInstance(...)</code>and uses it as a central helpers library. The helper <code>PreviewWithLightbox</code> will generate a thumbnail, include Fancybox3 (only the first time) and ensure you can click it for a full image. </p>
</trim>
<snippet id="reuse-helpers">
@{
  var lightbox = CreateInstance("../shared/Fancybox.cs");
}
@lightbox.PreviewWithLightbox(@App.Path + "/app-icon.png")
&nbsp;
@lightbox.PreviewWithLightbox(@App.Path + "/reuse/demo.png", 200, 100)
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "reuse-helpers", Size = 200 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 300
}) 

@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/shared/",
  File = "fancybox.cs",
  Size = 400
}) 
</hide>