@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>

@* TODO:: @2dm Merged into 110-include Delete this file and View *@

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <div class="row">
        <div class="col-lg-8">
          <h2>Switch between template files based on Bootstrap Version</h2>
          <p>
            In this example, we'll assume you have a Bootstrap3 and a Bootstrap4 template in the folders <code>bs3/_Line.cshtml</code> and the same in <code>bs4/_Line.cshtml</code>. We'll use Koi to load the right template file. 
          </p>
          <p>
            You can see in the source-codes that BS3 uses <code>pull-left</code> and another class on the blockquote tag than BS4.
          </p>
        </div>
        <div class="col-lg-4">
          <img loading="lazy" src="@App.Path/koi/assets/koi.png?w=200">
        </div>
      </div>
    </div>
  </div>
  
@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
