@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>

<trim>
<div class="row">
  <div class="col-lg-7">
    <div class="row">
      <div class="col-lg-8">
        <h2>Auto-Include Bootstrap4 If Not Already Included</h2>
        <p>
          In this example, we'll assume your template needs <a href="https://getbootstrap.com/" target="_blank">Bootstrap4</a> as the preferred CSS framework. Note that this works for other frameworks as well, with minor modifications. But if it's used on any page, you may have one of the following situations: 
        </p>
        <ul>
          <li>Bootstrap4 could already be included - so you shouldn't do anything</li>
          <li>A different CSS framework is included - so you should include Bootstrap4 automatically</li>
          <li>The current CSS framework can't be detected, so to be safe, you should include Bootstrap 4 as well, until the theme is updated to broadcast what it's using</li>
        </ul>
        <p>
          This page shows how to handle these problems with almost no code. Note that we've place the code in a separate file and use a helper to achieve this, as this allows us to re-use the code in multiple templates. <br>
          <em>BTW: to see that this works, try switching the theme of this page to one without a <code>koi.json</code> or one with a different css-framework.</em>
        </p>
      </div>
      <div class="col-lg-4">
        <img loading="lazy" src="@App.Path/koi/assets/koi.png?w=200">
      </div>
    </div>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>


</trim>
@{  
  var bsCheck = CreateInstance("../shared/Bootstrap4.cs");  
  bsCheck.EnsureBootstrap4();
}


<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 300 }) 
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = App.PhysicalPath + "/shared/",
  File = "Bootstrap4.cs",
  Size = 600
}) 
</hide>