@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<trim>
  <div class="row mb-5">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-lg-8">
          <h2>Switch between template files based on Bootstrap Version</h2>
          <p>
            In this example, we'll assume you have a Bootstrap3 and a Bootstrap4 template in the folders <code>bs3/_Line.cshtml</code> and the same in <code>bs4/_Line.cshtml</code>. We'll use Koi to load the right template file. 
          </p>
          <p>
            You can see in the source-codes that BS3 uses <code>pull-left</code> and another class on the blockquote tag than BS4.
          </p>
        </div>
        <div class="col-lg-4">
          <img loading="lazy" src="@App.Path/koi/assets/koi.png?w=200">
        </div>
      </div>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>

@*
  This page is just an entry point for your code. It will do the following:
  1. Check if it can detect the CSS framework used by the theme
    - if yes, it will use that
    - otherwise it will fallback to assume it's bootstrap 4 = "bs4"
    - note that the BS4 edition has an additional check for unknown frameworks
  2. Then it will load the real cshtml-template from the matching edition-folder
*@

@Sys.SourceCode.ResultAndSnippetStart("demo1", "Source of bs3_Alert.cshtml", "Source of bs4_Alert.cshtml")
  @{ 
    var folder = Kit.Css.Is("bs3") ? "bs3" : "bs4";
  }
  @Html.Partial(folder + "/_Alert.cshtml")
@Sys.SourceCode.ResultEnd("file:bs3/_Alert.cshtml","file:bs4/_Alert.cshtml" )


@Sys.PageParts.FooterWithSource()
@* @Sys.SourceCode.ShowFile("bs3/_Alert.cshtml")
@Sys.SourceCode.ShowFile("bs4/_Alert.cshtml") *@
