@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


@{
  var normalText = "this is text, it doesn't have tags";
  var htmlText = "this string <em>has</em> html <strong>tags</strong>";
}
<trim>
<div class="row mb-5">
  <div class="col-lg-7">
    <h3>Show a variable</h3>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
<p>This uses the basic <code>@@variableName</code> syntax. This will result in encoding html, so tags in that variable will be shown as html-source.</p>
</trim>

@Sys.SourceCode.SnippetInitStart("intro")
  @{
     normalText = "this is text, it doesn't have tags";
     htmlText = "this string <em>has</em> html <strong>tags</strong>";
  }
@Sys.SourceCode.SnippetInitEnd()


@Sys.SourceCode.SnippetInlineStart("basic-variable")
<ul>
  <li>@normalText</li>
  <li>@htmlText</li>
</ul>
@Sys.SourceCode.SnippetInlineEnd()


<trim>
<h2>Encode using <code>@@Html.Raw(...)</code> </h2>
</trim>

@Sys.SourceCode.SnippetInlineStart("basic-variable-raw")
<ul>
  <li>@Html.Raw(normalText)</li>
  <li>@Html.Raw(htmlText)</li>
</ul>
@Sys.SourceCode.SnippetInlineEnd()


<h2>Add "uncontrolled" html using <code>@@:...</code></h2>
<p>
  Sometimes you need to conditionally add tags, in which case Razor cannot verify that open/close of tags is correct.
  This would normally throw an error. so you need <code>@@:</code>. 
</p>

@Sys.SourceCode.SnippetInlineStart("basic-variable-uncontrolled")
<div>
  @{ var makeBold = new System.Random().NextDouble() > 0.5; }
  @if (makeBold) { 
    @:<strong> 
  }
    This is randomly bold or not, depending on a random event. If it's bold, you'll see a <code>strong</code> tag around it, otherwise not.
  @if (makeBold) { 
    @:</strong>
  }
</div>
@Sys.SourceCode.SnippetInlineEnd()


@Sys.PageParts.FooterWithSource()