@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Razor Typed - Quick Reference</h2>
    <p>
      This is a quick CheatSheet to provide you with a reference to most APIs you'll use.
    </p>
    <p>
      This uses a base class of <code>@@inherits Custom.Hybrid.RazorTyped</code>.
      Most samples <em>would not work</em> on older Razor base classes such as <code>@@inherits Custom.Hybrid.Razor14</code> as that provides different objects and methods.
    </p>
  </div>
</div>

@* Bootstrap 5 Accordions *@
@{
  var accordion = GetCode("Accordion.cs");
}

<h2>Razor Basics</h2>

@accordion.Start("accordionRazorBasics")
  @Html.Partial("./Part RazorBasics Typed.cshtml", new { accordion })
@accordion.End()

<p>&nbsp;</p>
<h2>Work with Content Items (<code>MyItem</code>)</h2>

@accordion.Start("items")
  @Html.Partial("./Part Item Properties Typed.cshtml", new { accordion })
  @Html.Partial("./Part Item Children Typed.cshtml", new { accordion })
  @Html.Partial("./Part Items Pic and Url Typed.cshtml", new { accordion })
  @Html.Partial("./Part Items File and Folder Typed.cshtml", new { accordion })
@accordion.End()

<p>&nbsp;</p>
<h2>Work with List of Items (<code>MyItems</code>)</h2>

@accordion.Start("items")
  @Html.Partial("./Part Items from Block Typed.cshtml", new { accordion })
  @* @((accSection = accordion.Section("Work with Images, Multi-Language TODO")).Start())
  @accSection.End() *@
@accordion.End()


<p>&nbsp;</p>
<h2>Data and Query</h2>

@accordion.Start("dataQuery")
  @Html.Partial("./Part Data from Query Typed.cshtml", new { accordion })
@accordion.End()


<p>&nbsp;</p>
<h2>Razor Advanced</h2>

@accordion.Start("razorAdvanced")
  @Html.Partial("./Part Page and Parameters Typed.cshtml", new { accordion })
@accordion.End()

<p>&nbsp;</p>
<h2>JavaScript - Working with Razor and WebApi</h2>

@accordion.Start("accordionJs")
  @Html.Partial("./Part JsBasics Typed.cshtml", new { accordion })
@accordion.End()

<p>&nbsp;</p>
<h2>JSON</h2>

@accordion.Start("accordionJson")
  @Html.Partial("./Part Json Typed.cshtml", new { accordion })
@accordion.End()

<p>&nbsp;</p>

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
