@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Razor Typed - Quick Reference</h2>
    <p>
      This is a quick CheatSheet to provide you with a reference to most APIs you'll use.
    </p>
    <p>
      This uses a base class of <code>@@inherits Custom.Hybrid.RazorTyped</code>.
      Most samples <em>would not work</em> on older Razor base classes such as <code>@@inherits Custom.Hybrid.Razor14</code> as that provides different objects and methods.
    </p>
  </div>
</div>

@* Bootstrap 5 Accordions *@
@{
  var accordion = GetCode("Accordion.cs").Setup(Sys, ".Typed");
}

@accordion.Start("quickref-razor-basics")
  @Html.Partial("./Accordion Sections.cshtml", new { accordion, Root = "./razor/" })
@accordion.End()


@accordion.Start("quickref-item")
  @Html.Partial("./block/Item Properties Typed.cshtml", new { accordion })
  @Html.Partial("./block/QuickRef-MyItem-Presentation.cshtml", new { accordion })
  @Html.Partial("./block/Item Children Typed.cshtml", new { accordion })
  @Html.Partial("./block/Item Pic and Url Typed.cshtml", new { accordion })
  @Html.Partial("./block/Item File and Folder Typed.cshtml", new { accordion })
@accordion.End()


@accordion.Start("quickref-items")
  @Html.Partial("./block/Items Typed.cshtml", new { accordion })
  @Html.Partial("./block/QuickRef-MyItems-Presentation.cshtml", new { accordion })
  @Html.Partial("./block/QuickRef-MyHeader.cshtml", new { accordion })
@accordion.End()

@* TODO:
  - languages - get(...)
  - Images
*@


@accordion.Start("quickref-query")
  @Html.Partial("./Query/Query Typed.cshtml", new { accordion })
  @Html.Partial("./Query/Query Selected Typed.cshtml", new { accordion })
@accordion.End()


@accordion.Start("quickref-page")
  @Html.Partial("./Accordion Sections.cshtml", new { accordion, Root = "./context/" })
@accordion.End()



@accordion.Start("quickref-js")
  @Html.Partial("./Js/JsBasics Typed.cshtml", new { accordion })
@accordion.End()



@accordion.Start("quickref-json")
  @Html.Partial("./Accordion Sections.cshtml", new { accordion, Root = "./json/" })
@accordion.End()

<p>&nbsp;</p>

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
