@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Dynamic Razor - Quick Reference</h2>
    <p>
      This is a quick CheatSheet to provide you with a reference to most APIs you'll use.
    </p>
    <p>
      This uses a base class of <code>@@inherits Custom.Hybrid.Razor14</code> and would also apply to <code>...Razor12</code>. 
      Most samples do not work for the new <code>@@inherits Custom.Hybrid.Razorpro</code> as that provides different objects and methods.  that uses a different syntax. 
    </p>
  </div>
</div>

@* Bootstrap 5 Accordions *@
@{
  var accordion = CreateInstance("Accordion.cs");
}

@accordion.Start("quickref-razor-basics")
  @Html.Partial("./Razor/Basics Dyn.cshtml", new { accordion })
@accordion.End()


@accordion.Start("quickref-item")
  @Html.Partial("./block/Item Properties Dyn.cshtml", new { accordion })
@accordion.End()



@accordion.Start("quickref-page")
  @Html.Partial("./Context/Page and Parameters Dyn.cshtml", new { accordion })

@accordion.End()


<p>
  
</p>




@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })