@inherits Custom.Hybrid.RazorTyped
@{
  // Sys helps generate code snippets etc.
  var Sys = GetCode("../shared/Helpers.cs").Init(this);
  // The accordion is an external helper file, so we must treat it as dynamic
  var acc = MyModel.Get("Accordion") as dynamic;
  // variable to hold each section config
  dynamic accSection;
  dynamic qref;
}

@{
  // Patch so the tutorial works reliably even if the main module had data added which are not a person
  // So we're simulating that `MyData` is the assigned query for this view
  var MyData = App.GetQuery("QuickRef-Persons-Selected");
}

@((accSection = acc.SectionOld("Show a List of Items (MyItems, MyData)")).Start())
  <p>
    Every view/template receives prepared data, either entered by the user on this page, or provided through a query.
  </p>

  <h3>Work with Current Item (MyItem)</h3>
  @((qref = Sys.SourceCode.QuickRefSplit33(tutorials: new string[] { "entity", "content" })).SnipStart())
    <h4>Loop persons in Query of this view</h4>
    <ul>
      @foreach (var person in AsItems(MyData)) {
        <li>
          @person.Picture("Mugshot", settings: "Square", width: 50, imgClass: "rounded-circle")
          @person.String("FirstName") @person.String("LastName")
        </li>
      }
    </ul>
  @qref.SnipEnd()
@accSection.End()
