@inherits Custom.Hybrid.RazorTyped
@{
  var Sys = GetCode("../shared/Helpers.cs").Init(this);
  dynamic qref;

  string jsonRoot = MyView.Folder.PhysicalPath + "/json";
}

  @((qref = Sys.SourceCode.QuickRef(tabs: new Dictionary<string, string> {
    { "cities.json", "file:json/cities.json" },
  })).SnipStart())
  @functions {
    // Custom class to deserialize JSON into
    // must be inside an @functions section
    public class City {
      public string Name { get; set; }
      public int ZipCode { get; set; }
      public List<City> PartnerCities { get;set; }
    }
  }
  @{
    var jCities = System.IO.File.ReadAllText(jsonRoot + "/cities.json");

    // Convert the JSON to City
    var cities = Kit.Json.To<City[]>(jCities);
  }
  <ul>
    @foreach(var city in cities) {
      <li>
        <code>@city.Name</code>: @city.ZipCode
        @if (city.PartnerCities != null) {
          <br>
          <span>Partner Cities:
            @string.Join(", ", city.PartnerCities.Select(c => c.Name))
          </span>
          
        }
      </li>
    }
  </ul>
  @qref.SnipEnd()