@inherits Custom.Hybrid.RazorTyped
@{
  // Sys helps generate code snippets etc.
  var Sys = GetCode("../shared/Helpers.cs").Init(this);
  // The accordion is an external helper file, so we must treat it as dynamic
  var acc = MyModel.Get("Accordion") as dynamic;
  // variable to hold each section config
  dynamic accSection;
}

@* Load JS *@
@((accSection = acc.Section("Load JavaScripts from App into Html")).Start())
  <p>
    Loading JavaScripts is standard HTML using <code>&lt;script src="..."&lt;</code> tags.
    What more challenging is getting the right path to scripts in this app or relative to the current Razor file.
  </p>
  @Sys.SourceCode.ResultRefStart("load-js", "Source JS1", "Source JS2")
    <p>
      Load a JavaScript relative to the App folder (see message/console): <br>
      <strong id="loadjs-app-message"></strong>
    </p>
    <script src="@App.Folder.Url/quick-reference/js/report-loaded-in-console-path-app.js"></script>

    <p>
      Load a JavaScript relative to the folder of this Razor file (see message/console): <br>
      <strong id="loadjs-view-message"></strong>
    </p>
    <script src="@MyView.Folder.Url/js/report-loaded-in-console-path-view.js"></script>
  @Sys.SourceCode.ResultRefEnd(new string[] { }, "file:js/report-loaded-in-console-path-app.js", "file:js/report-loaded-in-console-path-view.js" )
@accSection.End()



@* turnOn *@
@((accSection = acc.Section("Activate Scripts when Ready using turnOn")).Start())
  @* <h3>Activate JavaScript using <em>turnOn</em></h3> *@
  <p>
    A core challenge is to activate JavaScripts only when needed - and when all dependencies are loaded.
    This is what <code>turnOn</code> does.
    It checks if all specified JS objects exist, and then triggers the JS code.
  </p>
  @Sys.SourceCode.ResultRefStart("turnOn1", "Source JS")
    <p>
      The following text will be replaced once the JS is triggered: <br>
      <strong id="turnOn1-message"></strong>
    </p>

    @* Load the JavaScript - it will not run by itself, as the DOM might not be ready
        Note that this can be before or after the TurnOn *@
    <script src="@MyView.Folder.Url/js/turnOn1.js"></script>

    @* Tell TurnOn to trigger the JS when everything is ready *@
    @Kit.Page.TurnOn("window.quickReference.turnOn1Message()")

    <p>
      This example passes data to the JS, so it can be parameterized:  <br>
      <strong id="turnOn2-message"></strong>
    </p>

    @* Tell TurnOn to trigger the JS and give it a string *@
    @Kit.Page.TurnOn("window.quickReference.turnOn2Message()", data: "Hello from Razor, the page Id is" + MyPage.Id)

    <p>
      We can also pass in more sophisticated data:  <br>
      <strong id="turnOn3-message"></strong>
    </p>
    @{
      // Create an anonymous object containing the data to send
      var turnOn3Data = new {
        domId = "turnOn3-message",
        message = "Hello from Razor...",
        pageId = MyPage.Id,
        pageUrl = MyPage.Url
      };
    }
    @* Tell TurnOn to trigger the JS and give it a complex object *@
    @Kit.Page.TurnOn("window.quickReference.turnOn3Message()", data: turnOn3Data)

  @Sys.SourceCode.ResultRefEnd(new string[] { }, "file:js/turnOn1.js" )
@accSection.End()



@* UniqueKey / Kit.Key.UniqueKeyWith *@
@((accSection = acc.Section("Use UniqueKey (new) to create unique IDs for HTML elements (new v16.04 🌟)")).Start())
  <h3>Work with the new UniqueKey with JavaScript - new v16.04 🌟</h3>
  <p>
    The <code>UniqueKey</code> is a new feature in 2sxc 16.04 which allows you to create unique IDs for HTML elements.
    The value of <code>UniqueKey</code> is the same in all Razor and C# files for the same Content-Block.
  </p>
  @Sys.SourceCode.ResultRefStart("unique-key", "Helper Razor", "JS File")
    @{
      var buttonId = "demo-uniquekey-btn-" + UniqueKey;
      var messageId = "demo-uniquekey-msg-" + UniqueKey;
    }
    @* Show the button *@
    <button type="button" id="@buttonId" class="btn btn-primary">
      Press this to see JS find the button using the UniqueKey: @buttonId
    </button>

    @* Create the DIV for the message - it's in another file, but shares the UniqueKey *@
    @Html.Partial("./shared-uniquekey-message.cshtml")

    @* Trigger the script, and pass in the IDs it will need based on the UniqueKey *@
    @Kit.Page.TurnOn("window.quickReference.demoUniqueQuey()", data: new { buttonId, messageId })
    @* Load the script - this can be before or after the TurnOn *@
    <script src="@MyView.Folder.Url/js/unique-key.js"></script>
  @Sys.SourceCode.ResultRefEnd(new string[] { }, "file:shared-uniquekey-message.cshtml", "file:js/unique-key.js" )



  <h3>Combined Unique Keys with UniqueKeyWith(...) - new v16.04 🌟</h3>
  <p>
    Sometimes you need a <code>UniqueKey</code> which also depends on other objects.
    For example, you may need to have a UniqueKey which also uses another value - or many.
    This is done using <code>@@Kit.Key.UniqueKeyWith(...)</code>.
  </p>
  @Sys.SourceCode.ResultRefStart("unique-key-with", "Helper Razor", "JS File")
    <ol>
      <li>
        Unique Key with <code>12345</code>:
        <code>@Kit.Key.UniqueKeyWith(12345)</code>
      </li>
      <li>
        Unique Key with <code>"hello"</code>:
        <code>@Kit.Key.UniqueKeyWith("hello")</code>
      </li>
      <li>
        Unique Key with <code>"bad chars in id ! % / 👍🏽"</code>:
        <code>@Kit.Key.UniqueKeyWith("bad chars in id ! % / 👍🏽")</code>
      </li>
      <li>
        Unique Key with <code>"this is a long text and should be shortened"</code>:
        <code>@Kit.Key.UniqueKeyWith("this is a long text and should be shortened")</code>
      </li>
      <li>
        Unique Key with <code>12345</code> and <code>"hello"</code>:
        <code>@Kit.Key.UniqueKeyWith(12345, "hello")</code>
      </li>
    </ol>
  @Sys.SourceCode.ResultRefEnd(new string[] { }, "file:shared-uniquekey-message.cshtml", "file:js/unique-key.js" )
  


  <h3>Generate Unique Keys for Items/Entities - new v16.04 🌟</h3>
  <p>
    If the <code>UniqueKey</code> is based on known object types such as Entities, this works very well.
    For example, you may need to loop through a list of items, and each item needs a unique key.
  </p>
  @Sys.SourceCode.ResultRefStart("unique-key-with-entity", "Helper Razor", "JS File")
    @{
      var books = AsItems(App.Data["Books"]);
    }
    <ol>
      @foreach(var book in books) {
        <li>
          Title: <code>@book.Title</code> - UniqueKey: <code>@Kit.Key.UniqueKeyWith(book)</code>
        </li>
      }
    </ol>
  @Sys.SourceCode.ResultRefEnd(new string[] { }, "file:shared-uniquekey-message.cshtml", "file:js/unique-key.js" )
@accSection.End()