@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys }) 
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Run an App Query multiple times on the same page</h2>
    <p>
      The previous examples showed how to use a <code>Query</code>. 
      Now we want to run the query twice, which requires a <code>Reset()</code>. <br/>
      Note that the parameter <code>SiteId</code> is preset to be <code>[Site:Id]</code>. 
    </p>

  <div class="row">
    <div class="col-4">@Sys.Fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-dnn-files.png", 200, 200, "float-left", label: "Query Tree") </div>
    <div class="col-4">@Sys.Fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-configuration.png", 200, 200, "float-left", label: "Query Configuration with Params and Test-Values")</div>
    <div class="col-4">@Sys.Fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-select-statement.png", 200, 200, "float-left", label: "SQL Query using Params")</div>
  </div>

  </div>
</div>


@((snip = Sys.SourceCode.Intro()).SnipStart())
 @{
    // Different query in DNN / Oqtane - eg. "SqlTop10FilesDnn"
    var queryName = "SqlTop10Files" + CmsContext.Platform.Name;

    // get the query and ask for the "Default" results as a dynamic List
    // This case doesn't set parameters, so we're using the defaults (current site)
    var query = Kit.Data.GetQuery(queryName);
    var currentFiles = AsList(query);

    // Get a fresh query, so we can use again with other parameters
    query = Kit.Data.GetQuery(queryName, parameters: new { 
      SiteId = CmsContext.Platform.Name == "Dnn" ? 0 : 1
    });
    var rootFiles = AsList(query);
  }
@snip.SnipEnd()


<h3>Files from the current Portal</h3>

@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
  <ul>
   @foreach (var file in currentFiles) {
    <li>@file.Name</li>
  }
  </ul>
@snip.SnipEnd()

  </div>
</div>

<h3>Files from the root portal</h2>

@((snip = Sys.SourceCode.OutputBoxAndSnippet()).SnipStart())
  <ul>
   @foreach (var file in rootFiles) {
    <li>@file.Name</li>
  }
  </ul>
@snip.SnipEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })


