@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using System.Collections.Generic;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys }) 
  @{ dynamic snip = null;}
  @*
    Tag: #DnnOnly - ATM can't work in Oqtane because it uses the Factory command
    2sxclint:disable:no-dnn-namespaces
  *@
  @* @2dm TODO Oqtane *@
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
  </div>
</div>

@Html.Partial("../Shared/Accordion/Accordion One.cshtml", new { Sys, NameId = "data-dnn-page" })

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })