@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys }) 
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>List Details using Automatic View-Switching</h2>
    <p>
      The previous examples showed you how to do things "manually". In this example, the 2sxc-view configuration says that the main view should come when <code>data620</code> is in the url, and that the details view should come, when <code>data620id</code> (for details) is in the url. This automatic view switching makes life easier and code shorter:). 
    </p>
  </div>
</div>


  <h3>List of Persons</h3>

@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "file:./620-b-details.cshtml")).SnipStart())
  <ul>
    @foreach (var person in AsList(App.Data["Persons"])) {
      <li>
        <a href='@Link.To(parameters: "data620id=" + person.EntityId )'>
          @person.FirstName @person.LastName
        </a>
      </li>
    }
  </ul>
@snip.SnipEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })