@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using System.Collections.Generic;
@using ToSic.Eav.Data;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Look at the Content-Type of something</h2>
    <p>
      In some advanced cases you want to find out information about a specific content-type.
    </p>
  </div>
</div>


<h3>Content-Type Information</h3>

@Sys.SourceCode.SnippetInitStart("intro")
  @{
    var type = AsEntity(Content).Type;
    var attributes = type.Attributes as IEnumerable<IContentTypeAttribute>;
    var sexAttr = attributes.First(t => t.Name == "Sex");
    // Check the metadata for the DropdownValues in the type @string-dropdown
    var sexDropdown = sexAttr.Metadata.GetBestValue<string>("DropdownValues", "@string-dropdown");
  }
@Sys.SourceCode.SnippetInitEnd()


@Sys.SourceCode.ResultStart("content-types")
  <ol>
    <li>Type object: <a href="https://docs.2sxc.org/api/dot-net/ToSic.Eav.Data.IContentType.html" target="_blank">@type 🔗</a></li>
    <li>Type Name: "@type.Name"</li>
    <li>Type Internal Name: "@type.StaticName"</li>
    <li>Type of the Awards field: "@attributes.First(t => t.Name == "Awards").Type"</li>
    <li>
      Values in the <code>Sex</code> field (@sexAttr.Type) dropdown
      <ul>
        @foreach (var s in sexDropdown.Split(new [] { '\r', '\n' }))
        {
          var parts = s.Split(':');
          <li>@parts[0] = '@(parts.Length > 0 ? parts[1] : "")'</li>
        }
      </ul>
    </li>
  </ol>
@Sys.SourceCode.ResultEnd()


<h3>Properties / Attributes</h3>
<p>
  Read more about <a href="https://docs.2sxc.org/api/dot-net/ToSic.Eav.Data.IContentType.html#ToSic_Eav_Data_IContentType_Attributes" target="_blank">attributes in the docs 🔗</a>
</p>

@Sys.SourceCode.ResultStart("content-type-attributes")
  <ul>
      @foreach (var attr in type.Attributes) {
      <li>
        @* This will get the label from the metadata entity *@
        @(attr.Metadata.GetBestValue<string>("Name", "@All"))
        (@attr.Name, <code>@attr.Type</code> = typeId @((int)attr.Type))
      </li>
    }
  </ul>
@Sys.SourceCode.ResultEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
