@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/_helpers.cshtml"); }
</hide>
@{
  var snippets = CreateInstance("_helpers.cshtml");
}
<trim>
<h2>Basic Example from App.Data</h2>
<p>
  The easiest data to access comes from the current environment - like from the App or from DNN itself. The following example gets <code>Persons</code> data from the <code>App.Data["Persons"]</code> and just loops through them. This is similar to the example in the @linker.TutLink("content", "content") tutorial, except that the data comes from the <code>App.Data</code> instead of the current <em>instance</em> <code>Data</code>.
</p>
</trim>
<ul>
  @foreach(var person in AsList(App.Data["Persons"])) {
    @ShowPersonListItem(person)
  }
</ul>

@functions {
  public dynamic ShowPersonListItem(dynamic person) {
    return Tag.Li(
      Text.Has(person.Mugshot)
        ? Tag.Img().Src(person.Mugshot + "?w=50&h=50&mode=crop").Width("50px").Style("border-radius: 50%")
        : null,
      person.FirstName + " " + person.LastName
    );
  }
}

<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@Html.Partial("../shared/_source-code.cshtml", new { 
  Path = VirtualPath,
  File = "helpers",
  Size = 400, 
}) 
</hide>