@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/Helpers.cs"); }
</hide>
<trim>
<h2>Basic Example from App.Data</h2>
<p>
  The easiest data to access comes from the current environment - like from the App or from DNN itself. The following example gets <code>Persons</code> data from the <code>App.Data["Persons"]</code> and just loops through them. This is similar to the example in the @linker.TutLink("content", "content") tutorial, except that the data comes from the <code>App.Data</code> instead of the current <em>instance</em> <code>Data</code>.
</p>
</trim>
<ul>
  @foreach (var person in AsList(App.Data["Persons"])) {
    <li>
      @if (Text.Has(person.Mugshot)) {
        <img src='@Link.Image(person.Mugshot, width: 50, height: 50, resizeMode: "crop")' width="50px" style="border-radius: 50%">
      }
      @person.FirstName  @person.LastName
    </li>
  }
</ul>


<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path }) 

</hide>