@inherits Custom.Hybrid.Razor12
<hide>
@Html.Partial("_header.cshtml")
@{  
  var linker = CreateInstance("../shared/Helpers.cs");
  var fancybox = CreateInstance("../shared/Fancybox.cs");
  // TODO: doesn't work in Oqtane
}
</hide>
@using ToSic.Razor.Blade;
@using System.Linq;
<trim>
<h2>Example from CSV which was uploaded as an App Setting</h2>
@fancybox.PreviewWithLightbox(App.Path + "/data/assets/query-products-csv.png", 400, 200, "float-right float-end")
<p>
  This is similar to the previous example, except that the CSV file 
  can be uploaded again and again in the App-Settings UI. So the path isn't hard-coded.  
  <br>
  You can read more about the <code>CsvDataSource</code> <a href="https://r.2sxc.org/ds-csv" target="_blank">here</a>.
</p>
</trim>
@{
  // get the query
  var query = App.Query["ProductsFromCsvInAppSettings"];

  // get the data from the query
  var products = AsList(query);

  // get the current author (if available) from the stream Current
  var current = AsList(query["Current"]).FirstOrDefault();
}
<ul>
  @foreach(var product in products) {
    <!-- this li will have class=selected if it's the current one -->
    <li class='@(product == current ? "selected" : "")'>
      <!-- this creates a link to the current tutorial (data220) and product=id -->
      <a href='@Link.To(parameters: "data231=true&product=" + product.EntityId)'>
        @product.Name (#@product.Id)
      </a>
      @if(current == product) {
        <br>
        <em>
          @current.Description 
          (<a href="@product.Link" target="_blank">find out more</a>)
        </em>
      }
    </li>
  }
</ul>

<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path }) 

@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  File = "assets/products.csv",
  Size = 400, 
  Type = "csv"
}) 
</hide>