@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys }) 
  @{ var fancybox = CreateInstance("../shared/Fancybox.cs");
    var width = 200;
    var height = 200;
  }
</hide>


<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>SQL from an App.Query</h2>
    <p>
      The easiest way to get SQL data is using Visual Query. Note that this only works, if your razor is inside 2sxc/eav. This example gets the list of files from DNN using a query like <br>
      <code>Select Top 10 * from Files Where PortalId = [Params:SiteId]</code> <br>
      Note that the parameter <code>SiteId</code> is preset to be <code>[Site:Id]</code>. 
    </p>

  <div class="row">
    <div class="col-4">@fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-dnn-files.png", width, height, "float-left", label: "Query Tree")</div>
    <div class="col-4">@fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-configuration.png", width, height, "float-left", label: "Query Configuration with Params and Test-Values")</div>
    <div class="col-4">@fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-select-statement.png", width, height, "float-left", label: "SQL Query using Params")</div>
  </div>

  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>


</trim>
<div class="row">
  <div>
    <h2>Current Portal</h2>
    <div>In this example PortalId uses the preset <code>[Site:Id]</code> which is <code>@CmsContext.Site.Id</code></div>

@Sys.SourceCode.SnippetInlineStart("sql-query")
  @{
    // Different query in DNN / Oqtane - eg. "SqlTop10FilesDnn"
    var queryName = "SqlTop10Files" + CmsContext.Platform.Name;

    // Get the query and ask for the "Default" results as a dynamic List
    var query = App.Query[queryName];
    var files = AsList(query);
  }
  <ol>
    @foreach(var file in files) {
    <li>
      @file.Name
    </li>
  }
  </ol>
@Sys.SourceCode.SnippetInlineEnd()


@Sys.PageParts.FooterWithSource()