@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys }) 
  @{
    var fancybox = CreateInstance("../shared/Fancybox.cs");
    var width = 200;
    var height = 200;
  }
</hide>


<trim>
<div class="row mb-5">
  <div class="col-lg-7">
    <h2>SQL from a App.Query, setting Params</h2>
    <p>
      The easiest way to get SQL data is using Visual Query. Note that this only works, if your razor is inside 2sxc/eav. This example gets the list of files from DNN using a query like <br>
      <code>Select Top 10 * from Files Where SiteId = [Params:SiteId]</code> <br>
      Here we override the parameter <code>SiteId=1</code>. 
    </p>

  <div class="row">
    <div class="col-4">@fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-dnn-files.png", width, height, "float-left", label: "Query Tree") </div>
    <div class="col-4">@fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-configuration.png", width, height, "float-left", label: "Query Configuration with Params and Test-Values")</div>
    <div class="col-4">@fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-select-statement.png", width, height, "float-left", label: "SQL Query using Params")
  </div>

  </div>

  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>

</trim>

<h3>Root Portal</h3>
<p>In this example we will set the PortalId for the SQL query.</p>

@Sys.SourceCode.SnippetInlineStart("sql-query-params")
  @{
    // Different query in DNN / Oqtane - eg. "SqlTop10FilesDnn"
    var queryName = "SqlTop10Files" + CmsContext.Platform.Name;

    // Get the query
    var query = App.Query[queryName];

    // ...and set a parameter
    // This must happen before we access the query to get data
    var rootPortal = CmsContext.Platform.Name == "Dnn" ? 0 : 1;
    query.Params("SiteId", rootPortal.ToString());
  }
  <ol>
    @foreach (var file in AsList(query)) {
    <li>
     @file.Name
    </li>
  }
  </ol>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.PageParts.FooterWithSource()

