@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs");
  var fancybox = CreateInstance("../shared/Fancybox.cs");
  var width = 200;
  var height = 200;

  // TODO: doesn't work in Oqtane
}
</hide>
@using ToSic.Razor.Blade;
@using System.Linq;
<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>Using an App.Query multiple times</h2>
    <p>
      The previous examples showed how to use an <code>App.Query</code>. 
      Now we want to run the query twice, which requires a <code>Reset()</code>. <br/>
      Note that the parameter <code>PortalId</code> is preset to be <code>[Portal:PortalId]</code>. 
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
<hr>

</trim>
<div class="row">
  <div class="col-lg-7">
    <snippet id="sql-query-reset">
    @{
      // get the query and ask for the "Default" results as a dynamic List
      var query = App.Query["DnnFilesFromSql"];
      var currentFiles = AsList(query);
      query.Reset();
      query.Params("PortalId", "0");
      var rootFiles = AsList(query);
    }
    </snippet>
    <hide-silent> @* Show only this snippet *@
      @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "sql-query-reset", Size = 200 }) 
    </hide-silent>

    <h2>files from the current Portal</h2>
    <snippet id="sql-query-current">
    <ul>
      @foreach(var file in currentFiles) {
        <li>@file.FileName</li>
      }
    </ul>
    </snippet>
    <hide-silent> @* Show only this snippet *@
      @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "sql-query-current", Size = 150 }) 
    </hide-silent>
  </div>
  <div class="col-lg-5">
    @fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-dnn-files.png", width, height, "float-left", label: "Query Tree") 
    @fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-configuration.png", width, height, "float-left", label: "Query Configuration with Params and Test-Values")
    @fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-select-statement.png", width, height, "float-left", label: "SQL Query using Params")
  </div>
</div>

<hr>
<h2>Files from the root portal</h2>
<snippet id="sql-query-root">
<ul>
  @foreach(var file in rootFiles) {
    <li>@file.FileName</li>
  }
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "sql-query-root", Size = 150 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 900 }) 
</hide>