@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys }) 
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Run an App.Query multiple times on the same page</h2>
    <p>
      The previous examples showed how to use an <code>App.Query</code>. 
      Now we want to run the query twice, which requires a <code>Reset()</code>. <br/>
      Note that the parameter <code>SiteId</code> is preset to be <code>[Site:Id]</code>. 
    </p>

  <div class="row">
    <div class="col-4">@Sys.Fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-dnn-files.png", 200, 200, "float-left", label: "Query Tree") </div>
    <div class="col-4">@Sys.Fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-configuration.png", 200, 200, "float-left", label: "Query Configuration with Params and Test-Values")</div>
    <div class="col-4">@Sys.Fancybox.PreviewWithLightbox(App.Path + "/data/assets/sql-query-select-statement.png", 200, 200, "float-left", label: "SQL Query using Params")</div>
  </div>

  </div>
</div>


@Sys.SourceCode.SnippetInitStart("intro")
 @{
    // Different query in DNN / Oqtane - eg. "SqlTop10FilesDnn"
    var queryName = "SqlTop10Files" + CmsContext.Platform.Name;

    // get the query and ask for the "Default" results as a dynamic List
    // This case doesn't set parameters, so we're using the defaults (current site)
    var query = App.Query[queryName];
    var currentFiles = AsList(query);

    // Reset the query, so we can use again with other parameters
    query.Reset();
    var rootPortal = CmsContext.Platform.Name == "Dnn" ? 0 : 1;
    query.Params("SiteId", rootPortal.ToString());
    var rootFiles = AsList(query);
  }
@Sys.SourceCode.SnippetInitEnd()


<h3>Files from the current Portal</h3>

@Sys.SourceCode.SnippetInlineStart("sql-query-reset")
  <ul>
   @foreach (var file in currentFiles) {
    <li>@file.Name</li>
  }
  </ul>
@Sys.SourceCode.SnippetInlineEnd()

  </div>
</div>

<h3>Files from the root portal</h2>

@Sys.SourceCode.SnippetInlineStart("sql-query-reset")
  <ul>
   @foreach (var file in rootFiles) {
    <li>@file.Name</li>
  }
  </ul>
@Sys.SourceCode.SnippetInlineEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })


