@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using System.Collections.Generic;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys }) 
  @{  var fancybox = CreateInstance("../shared/Fancybox.cs");}
  @*
  Tag: #DnnOnly - ATM can't work in Oqtane because it uses the Factory command
  2sxclint:disable:no-dnn-namespaces
*@
</hide>


<trim>
<div class="row mb-5">
  <div class="col-lg-7">
    <h2>Example from DNN Data</h2>
    <p>
      DNN also provides a lot of data about users, pages etc. In this example, we'll list all the pages (tabs) in DNN and mark the one we're on. 
      Please note that the DNN API isn't very consistent - so sometimes things use <code>ID</code>, sometimes <code>Id</code>, so best really verify the exact names as spelled in the API.
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
</trim>

@{#if NETCOREAPP}
  @Html.Partial("../shared/_MessageOqtaneDisabled.cshtml")
@{#else}

@Sys.SourceCode.SnippetInlineStart("dnn-pages-2")
  @{
    // get the pages
    var pages = DotNetNuke.Entities.Tabs.TabController.GetPortalTabs(CmsContext.Site.Id, 0, true, false);
    var current = DotNetNuke.Entities.Tabs.TabController.CurrentPage;
  }

  <ul>
    @foreach(DotNetNuke.Entities.Tabs.TabInfo dnnPage in pages) {
      <li class='@(dnnPage.TabID == current.TabID ? "selected" : "")'>
        <a href="@dnnPage.FullUrl" target="_blank">
          @dnnPage.TabName (#@dnnPage.TabID)
        </a>
      </li>
    }
  </ul>
@Sys.SourceCode.SnippetInlineEnd()

@{#endif}

@Sys.PageParts.FooterWithSource()e>