<hide>
@RenderPage("_header.cshtml")
@{  
  var helpers = CreateInstance("../shared/_helpers.cshtml");
  var fancybox = CreateInstance("../shared/_fancybox.cshtml");
}
</hide>
@using Connect.Razor.Blade;
@using DotNetNuke.Entities.Tabs;
@using System.Linq;
<trim>
<h2>Example from DNN Data</h2>
@fancybox.PreviewWithLightbox(App.Path + "/data/assets/query-products-csv.png", 400, 200, "float-right")
<p>
  DNN also provides a lot of data about users, pages etc. In this example, we'll list all the pages (tabs) in DNN and mark the one we're on. 
</p>
</trim>
@{
  // get the pages
  var controller = new TabController();
  var pages = controller.GetTabs();
  var current = controller.CurrentPage;
}
<ul>
  @*
  @foreach(var product in products) {
    <!-- this li will have class=selected if it's the current one -->
    <li class='@(product == current ? "selected" : "")'>
      <!-- this creates a link to the current tutorial (data220) and product=id -->
      <a href='@Link.To(parameters: "data230/true/product/" + product.EntityId)'>
        @product.Name (#@product.Id)
      </a>
      @if(current == product) {
        <br>
        <em>
          @current.Description 
          (<a href="@product.Link" target="_blank">find out more</a>)
        </em>
      }
    </li>
  }
  *@
</ul>

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 

@RenderPage("../shared/_source-code.cshtml", new { 
  Path = VirtualPath,
  File = "assets/products.csv",
  Size = 400, 
  Type = "csv"
}) 
</hide>