@inherits Custom.Hybrid.Razor14
<hide>
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
@Html.Partial("_header.cshtml")
</hide>
<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>List Details using Automatic View-Switching</h2>
    <p>
      The previous examples showed you how to do things "manually". In this example, the 2sxc-view configuration says that the main view should come when <code>data620</code> is in the url, and that the details view should come, when <code>data620id</code> (for details) is in the url. This automatic view switching makes life easier and code shorter:). 
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
</trim>

  <h3>List of Persons</h3>
<ul>
  @foreach(var person in AsList(App.Data["Persons"])) {
    <li>
      <a href='@Link.To(parameters: "data620id=" + person.EntityId )'>
        @person.FirstName @person.LastName
      </a>
    </li>
  }
</ul>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 400, isExpanded=true }) 
</hide>