@inherits Custom.Hybrid.Razor14
@using System.Collections.Generic;
@using System.Linq;
@using ToSic.Eav.Data;

<hide>
  @Html.Partial("_header.cshtml")
  @{
    var hlp = CreateInstance("../shared/Helpers.cs");
  }
</hide>
<trim>

<div class="row">
  <div class="col-lg-7">
    <h2>Look at the Content-Type of something</h2>
    <p>
      In some advanced cases you want to find out information about a specific content-type.
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
</trim>

<h3>Content-Type Information</h3>
<snippet id="content-type-information">
@{
  var type = AsEntity(Content).Type;
  var attributes = type.Attributes as IEnumerable<IContentTypeAttribute>;
  var sexAttr = attributes.First(t => t.Name == "Sex");
  // Check the metadata for the DropdownValues in the type @string-dropdown
  var sexDropdown = sexAttr.Metadata.GetBestValue<string>("DropdownValues", "@string-dropdown");
}
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "content-type-information", Size = 200 }) 
</hide-silent>

<snippet id="content-types">

<ol>
  <li>Type object: <a href="https://docs.2sxc.org/api/dot-net/ToSic.Eav.Data.IContentType.html" target="_blank">@type 🔗</a></li>
  <li>Type Name: "@type.Name"</li>
  <li>Type Internal Name: "@type.StaticName"</li>
  <li>Type of the Awards field: "@attributes.First(t => t.Name == "Awards").Type"</li>
  <li>
    Values in the <code>Sex</code> field (@sexAttr.Type) dropdown
    <ul>
      @foreach (var s in sexDropdown.Split(new [] { '\r', '\n' }))
      {
        var parts = s.Split(':');
        <li>@parts[0] = '@(parts.Length > 0 ? parts[1] : "")'</li>
      }
    </ul>
  </li>
</ol>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "content-types", Size = 350 }) 
</hide-silent>

<h3>Properties / Attributes</h3>
<p>
  Read more about <a href="https://docs.2sxc.org/api/dot-net/ToSic.Eav.Data.IContentType.html#ToSic_Eav_Data_IContentType_Attributes" target="_blank">attributes in the docs 🔗</a>
</p>
<snippet id="content-type-attributes">
<ul>
    @foreach(var attr in type.Attributes) {
    <li>
      @* This will get the label from the metadata entity *@
      @(attr.Metadata.GetBestValue<string>("Name", "@All"))
      (@attr.Name, <code>@attr.Type</code> = typeId @((int)attr.ControlledType))
    </li>
  }
</ul>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "content-type-attributes", Size = 200 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 1200 }) 
</hide>