@helper Title(string title) {
  @InitializedPageAssets()
  <img src="@App.Path/app-icon.png?w=75&h=75" class="float-right">
  <h1 @Edit.TagToolbar()>@title</h1>
}

@helper Breadcrumb(string name, string topicUrl) {
  <a href='@Link.To(parameters: "")'>Tutorial Home</a>

  if(!string.IsNullOrEmpty(name)) {
    <text> › </text>
    <a href="@Link.To(parameters: topicUrl)">@name</a>
  }
}

@helper TitleAndBreadcrumb(string title, string name, string topicUrl) {
  @Title(title)
  @Breadcrumb(name, topicUrl)
  <hr>
}

@helper TutLink(string label, string target) {
  <a href='@Link.To(parameters: target + "/page")'>@label</a>
}

@helper TutorialLink(string label, string target, string newText = null) {
  <li>
    <strong>
      @TutLink(label, target)
      @Highlighted(newText)
    </strong>
  </li>
}

@helper TutorialLink(string label, string target, string description, string newText = null) {
  <li>
    <strong>
      @TutLink(label, target)
      @Highlighted(newText)
    </strong><br>
    @description
  </li>
}

@helper TutorialLinkHome(string label, string target, string description, string newText = null) {
  <li>
    <strong>
    <a href='@Link.To(parameters: target + "/home")'>
      @label
      @Highlighted(newText)
    </a>
    </strong><br>
    @description
  </li>
}

@helper Highlighted(string specialText) {
  if(specialText != null) {
    <span class="text-warning"> @specialText</span>
  }
}

@helper InitializedPageAssets() {
  var bsCheck = CreateInstance("_bootstrap4.cshtml");
  @bsCheck.EnsureBootstrap4()
  <link rel="stylesheet" href="@App.Path/assets/styles.css" enableoptimizations="true" />
}

@helper ExternalLink(string target, string description) {
  <a href="@target" target="_blank">@description</a>
}

@helper LiExtLink(string target, string description) {
  <li>
    @ExternalLink(target, description)
  </li>
}