@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("../shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
  @Html.Partial("header.cshtml", new { Sys = Sys })

  @* If we have ?Rzr14 in the url, show that code to verify it works *@
  @if (Sys.SourceCode.ShouldShowAltCodeFile()) {
    @Sys.SourceCode.ShowAltCodeFile(Html);
    return;
  }
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsPlatform</h2>
      <p>
        With this object you can get general information about the current platform. 
      </p>
      <p>On the new <code>RazorPro</code> it's on <code>MyContext.Platform</code>.</p>
      <p>On the older <code>Razor14</code> or <code>Razor12</code> it's on <code>CmsContext.Platform</code>.</p>
    </div>
  </div>


@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "Rzr14#snippet")).SnipStart())
  <ol>
    <li>
      <code>.Name</code> Current platform name is: <strong>@MyContext.Platform.Name</strong>
    </li>
    <li>
      <code>.Type</code> Current platform type is: <strong>@MyContext.Platform.Type</strong>
    </li>
    <li>
      <code>.Version</code> Current platform version is: <strong>@MyContext.Platform.Version</strong>
    </li>
  </ol>
@snip.SnipEnd()

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })