@inherits Custom.Hybrid.RazorPro
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsCulture</h2>
      <p>
        With this object you can get general information about the culture. 
      </p>
      <p>On the new <code>RazorPro</code> it's on <code>MyContext.Culture</code>.</p>
      <p>On the older <code>Razor14</code> or <code>Razor12</code> it's on <code>CmsContext.Culture</code>.</p>

    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("demo1", "R14")
  <ol>
    <li>
      <code>.CurrentCode</code> Current code culture is: <strong>@MyContext.Culture.CurrentCode</strong>
    </li>
    <li>
      <code>.DefaultCode</code>
      @if (Text.Has(MyContext.Culture.DefaultCode)) {
        <strong>@MyContext.Culture.DefaultCode</strong>
      } else {
        <p>
          The system is single language and the response is an empty string.
        </p>
      }
    </li>
  </ol>
@Sys.SourceCode.ResultEnd("snippet:*-14")

@* Snippet for the old v14 code, which shouldn't run but should be shown. This is a bit of a hack, but it works
@Sys.SourceCode.SnippetStart("demo1-14")
  <ol>
    <li>
      <code>.CurrentCode</code> Current code culture is: <strong>@CmsContext.Culture.CurrentCode</strong>
    </li>
    <li>
      <code>.DefaultCode</code>
      @if (Text.Has(CmsContext.Culture.DefaultCode)) {
        <strong>@CmsContext.Culture.DefaultCode</strong>
      } else {
        <p>
          The system is single language and the response is an empty string.
        </p>
      }
    </li>
  </ol>
@Sys.SourceCode.SnippetEnd()
*@

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
