@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsSite</h2>
      <p>
        With this object you can get general informtion about the current site. 
      </p>
      <p>On the new <code>RazorPro</code> it's on <code>MyContext.Site</code>.</p>
      <p>On the older <code>Razor14</code> or <code>Razor12</code> it's on <code>CmsContext.Site</code>.</p>

    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("demo1", "R14")
  <ol>
    <li>
      <code>.Id</code> of the current site (same as <code>PortalId</code> in DNN): <strong>@MyContext.Site.Id</strong>
    </li>
    <li>
      <code>.Url</code> The site url with protocol: <strong>@MyContext.Site.Url</strong>
    </li>
    <li>
      <code>.UrlRoot</code> The site url without a protocol: <strong>@MyContext.Site.UrlRoot</strong>
    </li>
  </ol>
@Sys.SourceCode.ResultEnd("snippet:*-14")

@* Snippet for the old v14 code, which shouldn't run but should be shown. This is a bit of a hack, but it works
@Sys.SourceCode.SnippetStart("demo1-14")
  <ol>
    <li>
      <code>.Id</code> of the current site (same as <code>PortalId</code> in DNN): <strong>@CmsContext.Site.Id</strong>
    </li>
    <li>
      <code>.Url</code> The site url with protocol: <strong>@CmsContext.Site.Url</strong>
    </li>
    <li>
      <code>.UrlRoot</code> The site url without a protocol: <strong>@CmsContext.Site.UrlRoot</strong>
    </li>
  </ol>
@Sys.SourceCode.SnippetEnd()
*@

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })