@inherits Custom.Hybrid.RazorPro
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsPage</h2>
      <p>
        Get information about the page which is the contxt for the currently running code.
      </p>
      <p>On the new <code>RazorPro</code> it's on <code>MyPage</code> or on <code>MyContext.Page</code>.</p>
      <p>On the older <code>Razor14</code> or <code>Razor12</code> it's on <code>CmsContext.Page</code>.</p>
    </div>
  </div>


@Sys.SourceCode.ResultAndSnippetStart("demo1", "R14")
  <ol>
    <li>
      <code>.Id</code> of the current page: <strong>@MyPage.Id</strong>
      (<code>TabId</code> in DNN or <code>Page.PageId</code> in oqtane.)
    </li>
    <li>
      <code>.Url</code> the page url with protocol: <strong>@MyPage.Url</strong>
    </li>
    <li>
      <code>.Parameters</code> all the url parameters of the page <code>@MyPage.Parameters</code>
    </li>
    <li>
      <code>.Parameters[name]</code> Access a specific parameter (in this case the parameter <code>c140</code> from the url)
      <strong>
        @MyPage.Parameters["c140"]
      </strong>
    </li>
  </ol>
@Sys.SourceCode.ResultEnd("snippet:*-14")

@* Snippet for the old v14 code, which shouldn't run but should be shown. This is a bit of a hack, but it works
@Sys.SourceCode.SnippetStart("demo1-14")
  <ol>
    <li>
      <code>.Id</code> of the current page: <strong>@CmsContext.Page.Id</strong>
      (<code>TabId</code> in DNN or <code>Page.PageId</code> in oqtane.)
    </li>
    <li>
      <code>.Url</code> the page url with protocol: <strong>@CmsContext.Page.Url</strong>
    </li>
    <li>
      <code>.Parameters</code> all the url parameters of the page <code>@CmsContext.Page.Parameters</code>
    </li>
    <li>
      <code>.Parameters[name]</code> Access a specific parameter (in this case the parameter <code>c140</code> from the url)
      <strong>
        @CmsContext.Page.Parameters["c140"]
      </strong>
    </li>
  </ol>
@Sys.SourceCode.SnippetEnd()
*@

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })