@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("../shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
  @Html.Partial("header.cshtml", new { Sys = Sys })

  @* If we have ?Rzr14 in the url, show that code to verify it works *@
  @if (Sys.SourceCode.ShouldShowAltCodeFile()) {
    @Sys.SourceCode.ShowAltCodeFile(Html);
    return;
  }
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsPage</h2>
      <p>
        Get information about the page which is the contxt for the currently running code.
      </p>
      <p>On the new <code>RazorPro</code> it's on <code>MyPage</code> or on <code>MyContext.Page</code>.</p>
      <p>On the older <code>Razor14</code> or <code>Razor12</code> it's on <code>CmsContext.Page</code>.</p>
    </div>
  </div>


@((snip = Sys.SourceCode.TabsOutputAndSource(tabs: "Rzr14#snippet")).SnipStart())
  <ol>
    <li>
      <code>.Id</code> of the current page: <strong>@MyPage.Id</strong>
      (<code>TabId</code> in DNN or <code>Page.PageId</code> in oqtane.)
    </li>
    <li>
      <code>.Url</code> the page url with protocol: <strong>@MyPage.Url</strong>
    </li>
    <li>
      <code>.Parameters</code> all the url parameters of the page <code>@MyPage.Parameters</code>
    </li>
    <li>
      <code>.Parameters[name]</code> Access a specific parameter (in this case the parameter <code>c140</code> from the url)
      <strong>
        @MyPage.Parameters["c140"]
      </strong>
    </li>
  </ol>
@snip.SnipEnd()

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })