@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsPlatform</h2>
      <p>
        With this object you can get general information about the current platform. 
      </p>
    </div>
  </div>


@Sys.SourceCode.SnippetInlineStart("ICmsPlatform-name")
  <h3>The .Name attribute:</h3>
  The current platform name is: 
  <strong>
    @CmsContext.Platform.Name
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.SourceCode.SnippetInlineStart("ICmsPlatform-type")
  <h3>The .Type attribute:</h3>
  The current platform type is: 
  <strong>
    @CmsContext.Platform.Type
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.SourceCode.SnippetInlineStart("ICmsPlatform-version")
  <h3>The .Version attribute:</h3>
  The current platform version is: 
  <strong>
    @CmsContext.Platform.Version
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.PageParts.FooterWithSource()