@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsCulture</h2>
      <p>
        With this object you can get general information about the culture. 
      </p>
    </div>
  </div>


@Sys.SourceCode.SnippetInlineStart("ICmsCulture-currentcode")
  <h3>The .CurrentCode attribute:</h3>
  The current code culture is: 
  <strong>
    @CmsContext.Culture.CurrentCode
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.SourceCode.SnippetInlineStart("ICmsCulture-defaultcode")
  <h3>The .DefaultCode attribute:</h3>
  The default culture for the system is: 
  <strong>
    @if (Text.Has(CmsContext.Culture.DefaultCode)){
    @CmsContext.Culture.DefaultCode
    } else {
    <p>
      The system is single language and the response is an empty string.
    </p>}
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
