@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsPage</h2>
      <p>
        Get information about the page which is the contxt for the currently running code.
      </p>
    </div>
  </div>


@Sys.SourceCode.SnippetInlineStart("ICmsPage-id")
  <h3>The .Id attribute:</h3>
  The id of the current site is (this is the same as <code>TabId</code> in DNN or <code>Page.PageId</code> in oqtane.): 
  <strong>
    @CmsContext.Page.Id
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.SourceCode.SnippetInlineStart("ICmsPage-allparameters")
  <h3>Access all parameters with .Parameters:</h3>
  Use this to get a string which contains all url parameters:
  <strong>
    @CmsContext.Page.Parameters.ToString()
  </strong>>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.SourceCode.SnippetInlineStart("ICmsPage-specificparameter")
  <h3>Access a specific parameter with .Parameters:</h3>
  Use this to access the value of a specific url parameter:
  <strong>
    @CmsContext.Page.Parameters["c140"]
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.PageParts.FooterWithSource()