@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Interface ICmsModule</h2>
      <p>
        Get information about the module context the code is running in.
      </p>
    </div>
  </div>


@Sys.SourceCode.SnippetInlineStart("ICmsModule-id")
  <h3>The .Id attribute:</h3>
  The id of the current module: 
  <strong>
    @CmsContext.Module.Id
  </strong>
@Sys.SourceCode.SnippetInlineEnd()

@Sys.PageParts.FooterWithSource()