@inherits AppCode.Razor.AppRazor<SnippetIntroModel>
@using ToSic.Razor.Blade
@using AppCode.TutorialSystem.Razor
@using AppCode.TutorialSystem.Sections
@using AppCode.Tutorial
@{
  var accordion = Model.Accordion;
  var tutPage = Model.TutorialGroup;
  var nameId = tutPage.NameId;

  var hasSpecs = tutPage.IsNotEmpty("RefSharedSpecs");
  var rightCols = hasSpecs ? 5 : 2;
  var leftCols = 12 - rightCols;
}
@* Multi-Header - should probably be moved out to become an consistent page header *@

<!-- TutorialGroup Header -->
<div class="row mb-3 mt-3" @Kit.Toolbar.Empty(tutPage).Edit().Settings(hover: "left")>
  <div class="col-lg-@rightCols order-1 position-relative">
    @if (tutPage != null && hasSpecs) {
      var specs = tutPage.RefSharedSpecs;
      @(GetService<InfoSectionPart>().Init(Sys, specs, "Requirements").Section(specs.Requirements))
      @(GetService<InfoSectionPart>().Init(Sys, specs, "Resources").Section(specs.Resources))
      @(GetService<InfoSectionPart>().Init(Sys, specs, "Related").Section(specs.Tutorials))
    }

    @* Only show the collapse / open Accordions button if we have any inner sections *@
    @if (tutPage.IsNotEmpty("Sections")) {
      <div class="text-end">
        <a href="#" id='accordion-toggle-@nameId' data-id="@nameId" class="btn-collapse btn btn-outline-primary" style="width: 120px"></a>
        @Kit.Page.TurnOn("window.tutAccordions.init()", data: new { nameId, isOpen = tutPage.DefaultStateIsOpen })
      </div>
      
    }
  </div>

  <div class="col-lg-@leftCols">
    <h1>@Html.Raw(tutPage.String("Title", fallback: "no title", scrubHtml: "p"))</h1>
    @tutPage.Html("Intro")
    @tutPage.Html("IntroMore" + (accordion.IsTyped ? "Typed" : "Dyn"))
    @if (tutPage.IsNotEmpty("Note")) {
      <div class="alert alert-warning">
        @tutPage.Html("Note")
      </div>
    }
    @* Show all the 'shared' notes *@
    @Html.Partial("./Notes.cshtml", tutPage )
  </div>
</div>
<!-- /TutorialGroup Header -->