@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  var accordion = MyModel.Code("Accordion");
  var tutPage = MyModel.Item("TutPage");
  var nameId = tutPage.String("NameId");
  var Sys = GetCode("/Shared/Helpers.cs");

  var hasSpecs = tutPage.IsNotEmpty("RefSharedSpecs");
  var rightCols = hasSpecs ? 5 : 2;
  var leftCols = 12 - rightCols;
}
@* Multi-Header - should probably be moved out to become an consistent page header *@

<!-- TutorialGroup Header -->
<div class="row mb-3 mt-3" @Kit.Toolbar.Empty(tutPage).Edit().Settings(hover: "left")>
  <div class="col-lg-@rightCols order-1 position-relative">
    @if (tutPage != null && hasSpecs) {
      var specs = tutPage.Child("RefSharedSpecs");
      @GetCode("./InfoSectionPart.cs").Init(Sys, specs, "Requirements").Section(specs.Children("Requirements"))
      @GetCode("./InfoSectionPart.cs").Init(Sys, specs, "Resources").Section(specs.Children("Resources"))
      @GetCode("./InfoSectionPart.cs").Init(Sys, specs, "Related").Section(specs.Children("Tutorials"))
    }

    @* Only show the collapse / open Accordions button if we have any inner sections *@
    @if (tutPage.IsNotEmpty("Sections")) {
      <div class="text-end">
        <a href="#" id='accordion-toggle-@nameId' data-id="@nameId" class="btn-collapse btn btn-outline-primary" style="width: 120px"></a>
        @Kit.Page.TurnOn("window.tutAccordions.init()", data: new { nameId, isOpen = tutPage.Bool("DefaultStateIsOpen") })
      </div>
      
    }
  </div>

  <div class="col-lg-@leftCols">
    <h1>@Html.Raw(tutPage.String("Title", fallback: "no title", scrubHtml: "p"))</h1>
    @tutPage.Html("Intro")
    @tutPage.Html("IntroMore" + (accordion.IsTyped ? "Typed" : "Dyn"))
    @if (tutPage.IsNotEmpty("Note")) {
      <div class="alert alert-warning">
        @tutPage.Html("Note")
      </div>
    }
    @* Show all the 'shared' notes *@
    @Html.Partial("./Intro Notes.cshtml", new { Item = tutPage })
  </div>
</div>
<!-- /TutorialGroup Header -->