@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys }) 
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h3>Find Parents of Authors - Things that point to Authors</h3>
    <p>In this example, we'll start with the authors list. This is probably not ideal - as some people are not authors, but it's a good learning example. To find the books we have to navigate through <code>Parents(...)</code> because in our data-model, the books reference authors, not the authors to books.</p>
  </div>
</div>

@Sys.SourceCode.SnippetInitStart("intro")
  @{
    var persons = AsList(App.Data["Persons"]);
    var books = AsList(App.Data["Books"]);
  }
@Sys.SourceCode.SnippetInitEnd()


@Sys.SourceCode.SnippetInlineStart("list-list-books")
  <ol>
    @foreach (var author in persons) {
      // this line would work, if Books only had people in the Authors. 
      // but it doesn't, there are also illustrators, which is why we use the second example instead
      var peoplesBooks = author.Parents("Books");
      var authorsBooks = author.Parents("Books", "Authors");

      <li>
        @author.FirstName @author.LastName
        <ul>
          @foreach (var book in authorsBooks) {
            var coAuthors = AsList(book.Authors as object).Where(a => a != author);
            <li>
              <strong>@book.Title</strong> 
              @if (coAuthors.Any()) {
                <span>co-authored by 
                  @string.Join(",", coAuthors.Select(a => a.FirstName + " " + a.LastName))
                </span>
              }
            </li>
          }
        </ul>
      </li>
    }
  </ol>
@Sys.SourceCode.SnippetInlineEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })