@inherits Custom.Hybrid.Razor14
@using System.Linq;

@{
  var persons = AsList(App.Data["Persons"]);
  var hlp = CreateInstance("../shared/Helpers.cs");
}

@Html.Partial("_header.cshtml")

<div class="row">
  <div class="col-lg-7">
    <h2>Simple Where(...) and Any()</h2>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
<h3>Where(FirstName == "Terry")</h3>
<p>This filters the authors to only find Terry.</p>
<snippet id="linq-where-simple-1">
<ol>
  @foreach(var person in persons.Where(p => p.FirstName == "Terry")) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "linq-where-simple-1", Size = 130 }) 
</hide-silent>


<hr>
<h3>Where(FirstName.Length > 5)</h3>
<p>This filters the authors with long first names.</p>
<snippet id="linq-where-simple-2">
<ol>
  @foreach(var person in persons.Where(p => p.FirstName.Length > 5)) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "linq-where-simple-2", Size = 120 }) 
</hide-silent>


<hr>
<h3>Any(FirstName.Length > 5 / 10)</h3>
<p>This filters the authors with long first names.</p>
<snippet id="linq-any">
<ol>
  <li>
    Persons with 5-char names or more: @persons.Any(p => p.FirstName.Length > 5)
  </li>
  <li>
    Persons with 10-char names or more: @persons.Any(p => p.FirstName.Length > 10)
  </li>
</ol>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "linq-any", Size = 200 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 1100 }) 
</hide>