@inherits Custom.Hybrid.Razor14
@using System.Linq;

@{
  var persons = AsList(App.Data["Persons"]);
  var hlp = CreateInstance("../shared/Helpers.cs");
}

@Html.Partial("_header.cshtml")

<div class="row">
  <div class="col-lg-7">
    <h3>Simple First() and Last()</h3>
    <p>This filters the authors with long first names.</p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>

<snippet id="linq-first-last">
<ol>
  <li>
    First: @persons.First().FirstName
  </li>
  <li>
    Last: @persons.Last().FirstName
  </li>
</ol>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "linq-first-last", Size = 200 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path }) 
</hide>