@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys }) 
</hide>


<div class="row mb-5">
  <div class="col-lg-7">
    <h2><code>Count()</code> and <code>Count</code></h2>
    <p>Count some stuff.</p>
    @*
      note to tutorial designers, in v14 it's still an IEnumerable, not IList, so it needs Count()
    *@
    @* <p>
      All list of items in 2sxc are technically <code>List&lt;...&gt;</code> objects.
      This means they have the property <code>Count</code> (without brackets<code>()</code>).
    </p> *@
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")

</div>

@Sys.SourceCode.SnippetInlineStart("linq-count")
  @{
    var persons = AsList(App.Data["Persons"]);
    var books = AsList(App.Data["Books"]);
  }
  <ol>
    <li>
      All Persons: @persons.Count()
    </li>
    <li>
      All Books: @books.Count()
    </li>
    <li>
      Books with Illustrators: @books.Where(b => (b.Illustrators.Count > 0).Count())
    </li>
  </ol>
@Sys.SourceCode.SnippetInlineEnd()


@Sys.PageParts.FooterWithSource()