@inherits AppCode.Razor.AppRazor
@using System.Linq
@using ToSic.Sxc.Data
@using AppCode.Data
@using AppCode.Tutorial
@* Catch invalid links, wherever they come from *@
@{
  // Background: for some reasons we seem to have links which drop the "/tut" and still link somewhere.
  // These will land here, and that's bad.
  // We were getting loads of links like /dnn-tutorials/en/razor?page-icons&code-functions=tut&datasources-dynamic=tut&doc=content&img=tut&img-picture=tut&items=tut&page-icons=tut
  // Overwhelming the live system / making it slow.
  // So the goal is to catch any links coming to home, but having more parameters, and ensure they return a simple 404
  if (MyPage.Parameters.Count() > 0) {
    <h4>Sorry, the link which brought you here is broken.</h4>
    <p>
      The tutorial home page should not have any URL parameters.
      <br>
      You can always start over on <a href="@Link.To()">the tutorial home</a>.
    </p>
    @Kit.Page.SetHttpStatus(404);
    return;
  }
}
@{
  var sequence = App.Data.GetAll<TutorialSequence>().First();

  // Set Title etc.
  var pageTitle = sequence.Title + " (" + App.Configuration.Version + ")";
  Kit.Page.SetBase();
  Kit.Page.SetTitle(pageTitle + " - 2sxc Razor Tutorials for Dnn / Oqtane");

  // Get Sharing Data and set OpenGraph headers
  var homeShareData = App.Data.GetAll<TutorialGroup>().FirstOrDefault(tg => tg.NameId == "home");
  SetOpenGraph(homeShareData);

  var shareToolbar = Kit.Toolbar.Empty()
    .Settings(hover: "left")
    .Edit(homeShareData, tweak: t => t.Note("Edit Sharing Data for this virtual page"));
}

@* Header with Title and various toolbars *@
<div @shareToolbar>
  @Html.Partial("../layout/Title and Assets.cshtml", pageTitle)
</div>
@sequence.Html("Teaser")

@* The actual sequence with accordions *@
@* Note that the data-enhance-nav="false" is for Oqtane 5.1.2 which has major problems loading JS - ask @iJungleboy *@
<div class="tutorial-wrapper" @Kit.Toolbar.Default(sequence) data-enhance-nav="false">

  @{
    TutorialCategory currentCategory = null;
  }
  @foreach (var section in sequence.Sections) {
    var category = section.Category;
    if (category != null && !category.Equals(currentCategory)) {
      currentCategory = category;
      <h2 class="mt-5" @Kit.Toolbar.Empty().Edit(category)>@category.Title</h2>
      <hr>
    }
    @Html.Partial("home-Section.cshtml", new { TutorialSet = section })
  }
</div>


@* Show the other links which are still ideas etc. and don't exist as views *@
<h3 class="mt-6">Future Tutorials (Work-In-Progress)</h3>
<ol>
  <li>Linking around in dnn</li>
  <li>Navigation links</li>
  <li>Permission examples</li>
  <li>Work with icon-fonts, font-awesome etc.</li>
  <li>Using data from other apps</li>
  <li>Customizing Search Results</li>
  <li>Customizing search from data</li>
</ol>


@Html.Partial("./Home Assets.cshtml")

@if (MyUser.IsSiteAdmin) {
  <br>
  <div class="alert alert-info">
    <a href='@Link.To(parameters: "manage=default")'>Manage the Tutorials</a>
  </div>
}