@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  var tutorialSet = AsDynamic(DynamicModel.TutorialSet);
  if (tutorialSet == null) { return; }

  var Sys = GetCode("../Sys.cs");

  var featLogo = tutorialSet.FeatureSet.Icon;
  var featureLogoPath = Text.Has(featLogo) ? featLogo : App.Path + "/app-icon.png";
}

@* Show a heading section to introduce a new main topic *@
@{
  var category = AsList(tutorialSet.Category as object).FirstOrDefault();
}
@if (category != null) {
  <div @Edit.TagToolbar(category)>
    <br>
    <h2>@category.Title</h2>
    <br>
  </div>
}

@if (DynamicModel.IsSubSection == true) {
  <hr>
}

<div class='tutorial-item (DynamicModel.IsSubSection == true ? "sub-section" : "")'>
  <div class='tutorial-title' data-accordion-parent="@tutorialSet.NameId">
    <div class="row">
      <div class="col-auto">
        <div class="icon-wrapper"><img loading="lazy" class="img-fluid" src='@featureLogoPath'></div>
      </div>
      <div class="ml-3 col" @Kit.Edit.TagToolbar(tutorialSet)>
        <h2 class='co-no-icon'>@Html.Raw(tutorialSet.Title)</h2>
        @Html.Raw(tutorialSet.Introduction)
      </div>
    </div>
    @* Up / Down arrows as SVG - hidden by default, become visible based on CSS *@
    <img loading="lazy" src="@App.Path/assets/svg/arrow-up.svg" class="fa-chevron-up">
    <img loading="lazy" src="@App.Path/assets/svg/arrow-down.svg" class="fa-chevron-down">
  </div>
  <div class='tutorial-group pt-3' data-accordion-child="@tutorialSet.NameId">
    @* New Setup with TutorialGroup *@
    @if (tutorialSet.TutorialGroups.EntityId != 0) {
      @Html.Partial("./Home-Segment-List.cshtml", new { Sys, Segment = tutorialSet })
    }
  </div>
</div>
