@inherits AppCode.Razor.AppRazor
@using System.Linq
@using ToSic.Sxc.Data
@using AppCode.Data
@using AppCode.Tutorial
@{
  var sequence = App.Data.GetAll<TutorialSequence>().First();

  // Set Title etc.
  var pageTitle = sequence.String("Title") + " (" + App.Configuration.Version + ")";
  Kit.Page.SetBase();
  Kit.Page.SetTitle(pageTitle + " - 2sxc Razor Tutorials for Dnn / Oqtane");

  // Get Sharing Data and set OpenGraph headers
  var homeShareData = App.Data.GetAll<TutorialGroup>().FirstOrDefault(tg => tg.NameId == "home-page");
  SetOpenGraph(homeShareData);

  var shareToolbar = Kit.Toolbar.Empty()
    .Settings(hover: "left")
    .Edit(homeShareData, tweak: t => t.Note("Edit Sharing Data for this virtual page"));
}

@* Header with Title and various toolbars *@
<div @shareToolbar>
  @Html.Partial("../layout/Title and Assets.cshtml", pageTitle)
</div>
@sequence.Html("Teaser")

@* The actual sequence with accordions *@
<div class="tutorial-wrapper" @Kit.Toolbar.Default(sequence)>

  @{
    ITypedItem currentCategory = null;
  }
  @foreach (var section in sequence.Sections) {
    var category = section.Category;
    if (category != null && !category.Equals(currentCategory)) {
      currentCategory = category;
      <h2 class="mt-5" @Kit.Toolbar.Empty().Edit(category)>@category.Title</h2>
      <hr>
    }
    @Html.Partial("home-Section.cshtml", new { Sys, TutorialSet = section, IsSubSection = false })
  }
</div>


@* Show the other links which are still ideas etc. and don't exist as views *@
<h3 class="mt-6">Future Tutorials (Work-In-Progress)</h3>
<ol>
  <li>Linking around in dnn</li>
  <li>Navigation links</li>
  <li>Permission examples</li>
  <li>Work with icon-fonts, font-awesome etc.</li>
  <li>Using data from other apps</li>
  <li>Customizing Search Results</li>
  <li>Customizing search from data</li>
</ol>


@Html.Partial("./Home Assets.cshtml")

@if (MyUser.IsSiteAdmin) {
  <br>
  <div class="alert alert-info">
    <a href='@Link.To(parameters: "manage=default")'>Manage the Tutorials</a>
  </div>
}