@inherits Custom.Hybrid.Razor14
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  var Content = AsDynamic(viewCnf.Content(query: "QuickRef-Persons-Selected") as object);
/*!*/}
@{
  var type = AsEntity(Content).Type;
}
<ul>
    @foreach (var attr in type.Attributes) {
    <li>
      @* This will get the label from the metadata entity *@
      @(attr.Metadata.GetBestValue<string>("Name", "@All"))
      (@attr.Name, <code>@attr.Type</code> = typeId @((int)attr.Type))
    </li>
  }
</ul>>