@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@{
  // Create the Dynamic DataSource with the name "Basic101"
  var basic101 = Kit.Data.GetSource(name: "ListBasic");
  var items = AsList(basic101);
}
<h3>List of Data in the DataSource (@items.Count())</h3>
<ul>
  @foreach (var item in items) {
    <li>
      <strong>@item.Title</strong>
      (@item.Id / @item.Guid)
      - Fav Number: @item.FavoriteNumber
    </li>
  }
</ul>