@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@*!
Tut.Tabs=datasource:SplitOddEven
!*@
@{
  var persons = App.Data["Persons"];
  var oddEven = Kit.Data.GetSource(name: "SplitOddEven", attach: persons);
  var all = AsList(oddEven);
  var odd = AsList(oddEven["Odd"]);
  var even = AsList(oddEven["Even"]);
}
<h3>List of Data in the All stream (@all.Count())</h3>
<ul>
  @foreach (var item in all) {
    <li>
      <strong>@item.EntityTitle</strong> (#@item.EntityId)
    </li>
  }
</ul>
<h3>List of Data in the Odd stream (@odd.Count())</h3>
<ul>
  @foreach (var item in odd) {
    <li>
      <strong>@item.EntityTitle</strong> (#@item.EntityId)
    </li>
  }
</ul>
<h3>List of Data in the Even stream (@even.Count())</h3>
<ul>
  @foreach (var item in even) {
    <li>
      <strong>@item.EntityTitle</strong> (#@item.EntityId)
    </li>
  }
</ul>