@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using System.Linq
@using AppCode.DataSources
@*!
Tut.Tabs=datasource:ListBasic
!*@
@{
  var basic101 = Kit.Data.GetSource<ListBasic>();
  var items = AsItems(basic101);
}
<h3>List of Data in the DataSource (@items.Count())</h3>
<ul>
  @foreach (var item in items) {
    <li>
      <strong>@item.Title</strong>
      (@item.Id / @item.Guid)
      - Fav Number: @item.Int("FavoriteNumber")
    </li>
  }
</ul>