@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>Toolbar Customization</h2>

    <br>
    <h4>More Information around Customizing the Edit UX</h4>
    <ol>
      @Sys.LiExtLink("https://docs.2sxc.org/how-to/customize-edit-ux/toolbars.html", "2sxc Docs showing how to customize the toolbar")
      @Sys.LiExtLink("https://docs.2sxc.org/specs/cms/toolbars/toolbar-builder.html", "2sxc Docs showing specs for customizing the toolbar")
      @Sys.LiExtLink("https://docs.2sxc.org/specs/js/commands.html", "List of commands (button-names)")
    </ol>
  </div>
</div>

<hr>

<h2>Custom Input Fields</h2>

<br>
<h4>More Information around Customizing the Edit UX</h4>
<ol>
  @Sys.LiExtLink("https://docs.2sxc.org/how-to/customize-edit-ux/input-fields.html", "How-To Docs for Custom Input Fields")
  @Sys.LiExtLink("https://docs.2sxc.org/specs/form/index.html", "Specs for Field Customization")
  @Sys.LiExtLink("https://docs.2sxc.org/specs/form/field-wysiwyg.html", "Specs for WYSIWYG customization")
</ol>


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })