@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
  @{ dynamic snip = null; }
  @{ Sys.ToolbarHelpers.EnableEditForAll();  /* IMPORTANT: This must be at the top of the file */ }
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
  </div>
</div>


@Html.Partial("../shared/WarnAnonymousIfFeatureIsOff.cshtml")

@Html.Partial("../Shared/Accordion/Accordion List.cshtml", new { Sys, NameId = "ui-toolbars-advanced-page" })

</hide>

@* TODO:: Add Links *@
@* https://app-dev.2sxc.org/tutorial-razor/language/de-DE/Home/ui130/page *@

<hide>
  <h2>More Stuff</h2>
  <div>
    You can do much more - like change icons, add call-parameters etc. 
    Read the 
    <a href="https://docs.2sxc.org/how-to/customize-edit-ux/toolbars.html" target="_blank">how-to</a> and the 
    <a href="https://docs.2sxc.org/specs/cms/toolbars/toolbar-builder.html" target="_blank">specs</a> for this.
  </div>
</hide>

 @* This tutorial uses turnOn, see turnOn tutorials *@
  @{
    var onTag = new {
      data = "tagWithToolbar"
    };
     var inline = new {
      data = "inlineToolbar"
    };
  }
  @Kit.Page.TurnOn("window.toolbarWorkflow.initOnTagToolbar()", data: onTag)
  @Kit.Page.TurnOn("window.toolbarWorkflow.initInlineToolbar()", data: inline)

<script src="@CmsContext.View.Path/130-toolbar-workflow.js" @Kit.Page.AssetAttributes()></script>

@*! 2sxclint:disable:no-inline-script !*@
@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
