@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
  @{ Sys.ToolbarHelpers.EnableEditForAll();  /* IMPORTANT: This must be at the top of the file */ }
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
    <h2>2sxc Custom Micro-WYSIWYG Input Field</h2>
    <p>
      Creating an own WYSIWYG would be super difficult. 
      This is why we decided to create a simple API where you can use the existing WYSIWYG and just reconfigure it. 
      For the configuration you will need to understand the TinyMCE API and the names of our callbacks, but then it's really easy. 
    </p>
    <p>You can learn how to:</p>
    <ol>
      <li>Use <code>connector.loadScript(...)</code> to load the builtin WYSIWYG</li>
      <li>...and wait for the callback to ensure it's ready</li>
      <li>Create a inner <code>field-string-wysiwyg</code></li>
      <li>Set the mode to <code>edit</code> (instead of <code>preview</code>)</li>
      <li>Attach the <code>connector</code> so the inner object has it as well</li>
      <li>Attach the <code>reconfigure</code> object</li>
      <li>Create your own <code>Reconfigurator</code> which can make changes</li>
      <li>Use <code>configureOptions</code> to set a different toolbar</li>
    </ol>
  </div>
</div>
<br>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")
</hide>
<div class="alert alert-success">
  <h2>String WYSIWYG Micro Custom Input Field</h2>

@Sys.SourceCode.ResultAndSnippetStart("demo1", "Source of field_string_wysiwyg_micro.js")
  <p>
    This example shows a reduced WYSIWYG with only 4 buttons. <br>
    Hit this edit button to have a look: 
  </p>
  @Kit.Toolbar.Empty().New("UiStringWysiwygMicro").AsTag()
@Sys.SourceCode.ResultEnd("file:../system/field-string-wysiwyg-micro/index.js")
</div>


@Html.Partial("warning.cshtml")
@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })