@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{
  // IMPORTANT: This must be at the top of the file, so it executes first
  CreateInstance("Shared.cs").EnableEditForAnonymous(Edit);
  var hlp = CreateInstance("../shared/Helpers.cs");
}
<div class="row mb-2">
  <div class="col-lg-7">
    <h2>2sxc Toolbar Customization</h2>
    <div>
      Since you can do so many things customizing the toolbar, we created a bunch of small examples for you. Note that we are basically providing a list of commands how the toolbar should be modified. You should also 
      <a href="https://docs.2sxc.org/how-to/customize-edit-ux/toolbars.html" target="_blank">read the docs</a> to learn more about this. 
    </div>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml") 
</div>

<div class="alert alert-warning">
  Important: Normally only editors see these toolbars, so clicking on the buttons won't work, except for the ellipsis (&hellip;). <br>
  Hover over the various boxes to see the result - like this: <br>
  <img loading="lazy" src="@App.Path/ui/assets/hover-example.jpg" width="100%">
</div>

<hr>
</hide>

<h2>Initial Setup, No Configuration</h2>

<div class="alert alert-success" @Kit.Toolbar.Default()>
  <h3>New syntax</h3>
  <div><code>@@Kit.Toolbar.Default()</code> without any Data</div>
</div>
<div class="alert alert-secondary" @Kit.Edit.TagToolbar()>
  <h3>Old syntax</h3>
  <div><code>@@Edit.TagToolbar()</code> without any Data</div>
</div>

<div class="alert alert-success" @Kit.Toolbar.Default(Content)>
  <h3>New syntax</h3>
  <div><code>@@Kit.Toolbar.Default(Content)</code> with a pre-set content-item</div>
  <div><code>@@Kit.Toolbar.Default().For(Content)</code> with a content-item which can be set later</div>
</div>

<div class="alert alert-secondary" @Edit.TagToolbar(Content)>
  <h3>Old syntax</h3>
  <div><code>@@Edit.TagToolbar(Content)</code> with a content-item</div>
</div>

<hr>

<h2>Add / Remove Buttons</h2>
<snippet id="tb-add-new-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default(Content).Edit().New()>
  <h3>New syntax: Add two buttons </h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-add-new-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-add-new-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { "+edit", "+new"})>
  <h3>Old syntax: Add two buttons </h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-add-new-oldsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>


<snippet id="tb-colors-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default(Content).New(ui:"color=pink,black")>
  <h3>New syntax: Add <code>new</code> button with colors </h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-colors-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-colors-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { "+new&color=pink,black"})>
  <h3>Old syntax: Add <code>new</code> button with colors </h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-colors-oldsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-position-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default(Content).New(ui: "pos=-0")>
  <h3>New syntax: Add <code>new</code> at the end of button-list</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-position-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-position-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { "+new&pos=-0"})>
  <h3>Old syntax: Add <code>new</code> at the end of button-list</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-position-oldsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-more-newsyn">
@{
  var moreButtonToolbar = Kit.Toolbar.Default().Settings(autoAddMore:"never");
}
<div class="alert alert-success" @moreButtonToolbar.For(Content)>
  <h3>New syntax: Remove <code>more</code> button</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-more-newsyn", Size = 160 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-more-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { "-more" })>
  <h3>Old syntax: Remove <code>more</code> button</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-more-oldsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-empty-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Empty(Content).Edit()>
  <h3>New syntax: Use empty toolbar template and add <code>edit</code></h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-empty-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-empty-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { "toolbar=empty", "+edit"})>
  <h3>Old syntax: Use empty toolbar template and add <code>edit</code></h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-empty-oldsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>

<hr>

<h2>Modify a button</h2>
<snippet id="tb-modify-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default().Edit("-").Edit(ui:"color=red").For(Content)>
  <h3>New syntax: Edit button is now red</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-modify-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-modify-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { "%edit&color=red"})>
  <h3>Old syntax: Edit button is now red</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-modify-oldsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-category-newsyn">
@{
  var categoryButtonsToolbar = Kit.Toolbar.Default()
    .New("BlogPost", ui:"color=red&title=Blog-Post")
    .New("Category", ui:"color=green&title=Category");
}
<div class="alert alert-success" @categoryButtonsToolbar.For(Content)>
  <h3>New syntax: New <code>BlogPost</code> is red, <code>Category</code> is green</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-category-newsyn", Size = 200 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-category-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { 
  "+new&color=red&title=Blog-Post?contentType=BlogPost",
  "+new&color=green&title=Category?contentType=Category",
})>
  <h3>Old syntax: New <code>BlogPost</code> is red, <code>Category</code> is green</h3>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-category-oldsyn", Size = 170 }) 
</hide-silent>
</div>
</snippet>

<snippet id="tb-delete-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default().Delete().For(Content)>
  <h3>New syntax: Always show <code>Delete</code></h3>
  <div>Note that you'll have to hit the ellipsis a few times to see it.</div>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-delete-newsyn", Size = 120 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-delete-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { "%delete&show=true"})>
  <h3>Old syntax: Always show <code>Delete</code></h3>
  <div>Note that you'll have to hit the ellipsis a few times to see it.</div>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-delete-oldsyn", Size = 120 }) 
  </hide-silent>
</div>
</snippet>

<hr>

<h2>Button Groups</h2>
<snippet id="tb-add-groups-newsyn">
@{
  var buttonGroupToolbar = Kit.Toolbar.Default()
    .Group() // new in v14.07.05
    .New("BlogPost",ui:"color=red&title=Blog-Post")
    .New("Category", ui:"color=green&title=Category");
}
<div class="alert alert-success" @buttonGroupToolbar.For(Content)>
  <h3>New syntax: Add a button-group just for my buttons (v14.07.05+)</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-add-groups-newsyn", Size = 220 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-add-groups-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { 
  "+group=my",
  "+new&group=my&color=red&title=Blog-Post?contentType=BlogPost",
  "+new&group=my&color=green&title=Category?contentType=Category",
})>
  <h3>Old syntax: Add a button-group just for my buttons</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-add-groups-oldsyn", Size = 200 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-groups-newsyn">
@{
  var multipleGroupsToolbar = Kit.Toolbar.Default()
    .Group()
    .New("BlogPost", ui:"color=red&title=Blog-Post")
    .Group()
    .New("Category", ui:"color=green&title=Category");
}
<div class="alert alert-success" @multipleGroupsToolbar.For(Content)>
  <h3>New syntax: Add two button-groups</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-groups-newsyn", Size = 240 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-groups-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { 
  "+group=my1",
  "+new&group=my1&color=red&title=Blog-Post?contentType=BlogPost",
  "+group=my2",
  "+new&group=my2&color=green&title=Category?contentType=Category",
})>
  <h3>Old syntax: Add two button-groups</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-groups-oldsyn", Size = 200 }) 
  </hide-silent>
</div>
</snippet>

<hr>

<h2>Hover Behavior</h2>

<snippet id="tb-hover-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default().Settings(hover:"left").For(Content)>
  <h3>New syntax: Hover Left</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-hover-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-hover-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { 
  "settings&hover=left",
})>
  <h3>Old syntax: Hover Left</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-hover-oldsyn", Size = 140 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-hover-autoadd-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default().Settings(autoAddMore: "start",hover: "left").For(Content)>
  <h3>New syntax: Hover Left and <code>more</code> button to the left</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-hover-autoadd-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-hover-autoadd-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { 
  "settings&hover=left&autoAddMore=start",
})>
  <h3>Old syntax: Hover Left and <code>more</code> button to the left</h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-hover-autoadd-oldsyn", Size = 140 }) 
  </hide-silent>
</div>
</snippet>

<hr>

<h2>Custom JavaScript Code</h2>

<snippet id="tb-custom-js-newsyn">
<div class="alert alert-success" @Kit.Toolbar.Default().Code("showMsg1",ui:"title=Show%20Message").For(Content)>
  <h3>New syntax: Just call <code>showMsg1()</code> </h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-custom-js-newsyn", Size = 100 }) 
  </hide-silent>
</div>
</snippet>
<snippet id="tb-custom-js-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { 
  "custom&title=Show%20Message?call=showMsg1",
})>
  <h3>Old syntax: Just call <code>showMsg1()</code> </h3>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-custom-js-oldsyn", Size = 140 }) 
  </hide-silent>
</div>
</snippet>

<snippet id="tb-custom-js-params-newsyn">
@{
  var customJsParamsToolbar = Kit.Toolbar.Default().Code("showMsg2", parameters:"id=42", ui:"title=Show%20Message");
}
<div class="alert alert-success" @customJsParamsToolbar.For(Content)>
  <h3>New syntax: Just call <code>showMsg2()</code> and use the parameter <code>id=42</code> </h3>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-custom-js-params-newsyn", Size = 160 }) 
</hide-silent>
</div>
</snippet>
<snippet id="tb-custom-js-params-oldsyn">
<div class="alert alert-secondary" @Edit.TagToolbar(Content, toolbar: new[] { 
  "custom&title=Show%20Message?call=showMsg2&id=42",
})>
  <h3>Old syntax: Just call <code>showMsg2()</code> and use the parameter <code>id=42</code> </h3>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-custom-js-params-oldsyn", Size = 150 }) 
</hide-silent>
</div>
</snippet>


<script>
  function showMsg1() {
    alert('hello from my button!');
  }
  function showMsg2(context, event) {
    console.log(context, event);
    alert('hello from my Message - got this id:' + context.button.command.params.id);
  }
</script>

<hr>
<h2>More Stuff</h2>
<div>
  You can do much more - like change icons, call call-parameters etc. 
  Read the 
  <a href="https://docs.2sxc.org/how-to/customize-edit-ux/toolbars.html" target="_blank">how-to</a> and the 
  <a href="https://docs.2sxc.org/specs/cms/toolbars/toolbar-builder.html" target="_blank">specs</a> for this.
</div>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 3400 }) 
@* 2sxclint:disable:no-inline-script *@
</hide>