@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
  @{ Sys.ToolbarHelpers.EnableEditForAll();  /* IMPORTANT: This must be at the top of the file */ }
</hide>


<div class="row mb-5">
  <div class="col-lg-7">
    <h2>2sxc UI - cms.run commands</h2>
    <p>
      In some cases you need to call a CMS command without using the toolbar - like in SPAs and in situations where a normal HTML button should call edit. 

      You can also use this to trigger Workflows (new in 12.10).
      You can register custom <code>before</code> and <code>after</code> code to run, change specs or prevent the action from executing. 
      <a href="https://r.2sxc.org/js-workflow" target="_blank">Read the workflow docs</a> or the 
      <a href="https://docs.2sxc.org/how-to/customize-edit-ux/toolbars.html" target="_blank">toolbar docs</a> to learn more about this. 
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml") 

</div>

<div class="alert alert-warning">
  Important: Usually only editors see these toolbars - so saving won't work. 
  Hover over the various boxes to see the result - like this: <br>
  <img loading="lazy" src="@App.Path/ui/assets/hover-example.jpg" width="100%">
</div>

@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")
</hide>

<h2>Simple Setup, Custom Link</h2>

@Sys.SourceCode.ResultAndSnippetStart("demo1", "Source of cms_run_commands.js")
  <div class="alert alert-primary" style="width: 50%;">
      The following command will open an edit dialog. 
      When you click it and close the dialog again, the page will <em>not refresh</em>. <br>
      Instead, you'll see console messages that a custom JS took over the process. <br>

      <a href="#" onclick="openAndCancelRefreshAfterwards(this, event, 'new', { contentType: 'UiEmptyHelloWorld'})">👉 Run open command</a>
  </div>
@Sys.SourceCode.ResultEnd("file:_160-cms-run-commands.js")

@* JS needed for the tutorial *@
<script src="@App.Path/ui/_160-cms-run-commands.js" @Kit.Page.AssetAttributes()></script>

<hide>
  <hr>
  <h2>More Stuff</h2>
  <div>
    You can do much more - like change icons, call call-parameters etc. 
    Read the 
    <a href="https://docs.2sxc.org/how-to/customize-edit-ux/toolbars.html" target="_blank">how-to</a> and the 
    <a href="https://docs.2sxc.org/specs/cms/toolbars/toolbar-builder.html" target="_blank">specs</a> for this.
  </div>
</hide>


@* 2sxclint:disable:no-inline-script *@
@Sys.PageParts.FooterWithSource()
