@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
  @{
  // IMPORTANT: This must be at the top of the file, so it executes first
  CreateInstance("../Shared/ToolbarHelpers.cs").EnableEditForAnonymous(Edit);
  }
</hide>


<div class="row mb-5">
  <div class="col-lg-7">
    <h2>2sxc Custom Color-Picker Input Field - Configurable</h2>
    <p>
      Input fields may expect some configuration - like default colors or WebApi endpoints. To enable such a configuration, we need a Content-Type which defines all the fields that can be configured. This can be in the app-data, or it can be stored in a subfolder of the field-extension, to make redestribution easier. <br>
      This example contains the json-exported content-type in the folder <code>/system/field-string-app-color-pickr-pro/.data/contenttypes/</code> so you could just copy the extension folder to another app and use it from there. 
    </p>

    <p>So in this tutorial you'll learn how to:</p>
    <ul>
      <li>To see how the UI changes based on field configuration</li>
      <li>How to access such pre-configured settings with <code>connector.field.settings</code></li>
      <li>The Content-Type for configuration is included in the extension folder</li>
    </ul>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml") 
</div>

  @Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")
</hide>

<div class="alert alert-success">
  <h2>Configurable Color-Picker Input Field</h2>

@Sys.SourceCode.ResultAndSnippetStart("demo4", "Source of string_app_color_pickrs.js", "Source of string_app_color_pickrs.json")
  <p>
    This example shows two color-picker fields, with different initial configurations. <br>
    Hit this edit button to have a look: 
  </p>
  @Kit.Toolbar.Empty().New("UiStringColorPickrPro").AsTag()
@Sys.SourceCode.ResultEnd("file:../system/field-string-app-color-pickr/index.js", "file:../system/field-string-app-color-pickr-pro/.data/contenttypes/System.Fields.459d4ce3-b96b-4664-9947-75e46df9d33e.json")
</div>


@Html.Partial("_warning.cshtml")
@Sys.PageParts.FooterWithSource()