@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{
  CreateInstance("Shared.cs").EnableEditForAnonymous(Edit);
  var hlp = CreateInstance("../shared/Helpers.cs");
}

<div class="row mb-2">
  <div class="col-lg-7">
    <h2>2sxc Custom WYSIWYG with Additional Button</h2>
    <p>
      This example show how we customize more of TinyMCE. 
    </p>
    <p>You can learn how to:</p>
    <ul>
      <li>Use <code>addTranslations()</code></li>
      <li>Use <code>configureOptions(...)</code> to extend the toolbar</li>
      <li>Use configureAddOns to change button options for the image</li>
      <li>Run code when the editor is running <code>init</code> to add button defininiots</li>
    </ul>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml") 
</div>
<br>
@Html.Partial("../shared/_WarnAnonymousIfFeatureIsOff.cshtml")
</hide>

<div class="alert alert-success">  
  <h2>New syntax: String WYSIWYG With Additional Button and Labels</h2>
  <p>
    This example keeps the default buttons and adds another one, with multi-language labels <br>
    Hit this edit button to have a look: 
  </p>
  <snippet id="tb-wysiwygMl-newsyn">
  @Kit.Toolbar.Empty().New("UiStringWysiwygButtonMl").AsTag()
  </snippet>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-wysiwygMl-newsyn", Size = 40 }) 
  </hide-silent>
</div>

<div class="alert alert-secondary">
  <h2>Old syntax: String WYSIWYG With Additional Button and Labels</h2>
  <p>
    This example keeps the default buttons and adds another one, with multi-language labels <br>
    Hit this edit button to have a look: 
  </p>
  <snippet id="tb-wysiwygMl-oldsyn">
  @Edit.Toolbar(toolbar: new [] { "toolbar=empty", "+new?contentType=UiStringWysiwygButtonMl" })
  </snippet>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "tb-wysiwygMl-oldsyn", Size = 40 }) 
  </hide-silent>
</div>

<hide>
@Html.Partial("_warning.cshtml")
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new {
  Path,
  File = "../system/field-string-wysiwyg-button-ml/index.js",
  Size = 1500,
  Title = "Source of [App]/system/field-string-wysiwyg-button-ml/index.js"
})
</hide>