@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2><em>IPageService</em> to add JSON-LD Headers </h2>
      <div>
        This page adds 2 JSON-LD tags to the html-head. View the page source to see it.
      </div>
    </div>
  </div>


@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Page", Service = "IPageService" })

@Sys.SourceCode.SnippetOnlyStart("page-json-id")
  @{
    // example adding a json-ld as a string
    Kit.Page.AddJsonLd("{ \"@context\": \"https://schema.org/\" }");
  }
  @{
    // creating a JSON-LD using an object - replicating googles example https://developers.google.com/search/docs/guides/intro-structured-data
    var jsonLd = new Dictionary<string, object> {
      { "@context", "https://schema.org"},
      { "@type", "Organization"},
      { "url", "http://www.example.com"},
      { "name", "Unlimited Ball Bearings Corp."},
      { "contactPoint", new Dictionary<string, object> {
        {"@type", "ContactPoint"},
        {"telephone", "+1-401-555-1212"},
        {"contactType", "Customer service"}
      }}
    };

    Kit.Page.AddJsonLd(jsonLd);
  }
@Sys.SourceCode.SnippetOnlyEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })