@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2><em>IPageService</em> to add Open-Graph Headers</h2>
      <div>
        This page sets various open-graph headers. 

        Look at the resulting output-source to see the effect. 
      </div>
    </div>
  </div>

@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Page", Service = "IPageService" })

@Sys.SourceCode.SnippetOnlyStart("page-graph")
  @{
    // note: 'og:' is auto-prefixed if not given in the key

    Kit.Page.AddOpenGraph("title", "Demo of OpenGraph headers");
    Kit.Page.AddOpenGraph("type", "website");
  }
@Sys.SourceCode.SnippetOnlyEnd()


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })