@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@using System.Diagnostics;
@using System.IO;
@{
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>

<trim>
<p>
  Learn how to use <code>IPageServices</code> to set page Title, Description and Keywords. Also add headers, JsonLD and more. 
  <br>
  <br>
  This needs 2sxc 12.02 but will work on both Dnn and Oqtane. For older versions, use the RazorBlade implementation which only works on Dnn.
  <br>
  Read about the <a href="https://docs.2sxc.org/net-code/razor/services/page-service.html" target="_blank">IPageService in the Docs</a>.
</p>

</trim>

<hr>
<h2>Examples for Modifying Page Headers</h2>

<ol>
  @hlp.TutorialLink("Page Title, Keyword, Description", "page101", 
  "Get/Set Page Title, Keywords, Description and set meta-tags and more.", 
  "")

  @hlp.TutorialLink("Base tag in header", "page111", 
  "Add a base tag to the header - which works correctly in DNN. Important for SPA JS applications.", 
  "")

  @hlp.TutorialLink("Page Icons for Favicon, Apple/Android", "page121/page/mode/set", 
  "Add various combinations of icons to the page header", 
  "")

  @hlp.TutorialLink("Meta and other Tags in header", "page201", 
  "Add a base tag to the header - which works correctly in DNN. Important for SPA JS applications.", 
  "")

  @hlp.TutorialLink("JSON-LD Headers for SEO", "page302", 
  "Add JSON-LD (Linked Data) headers for Google", 
  "")

  @hlp.TutorialLink("Open-Graph headers for Social Media", "page303", 
  "Add Open-Graph data headers for Facebook, Twitter and other sharing-systems", 
  "")

</ol>

