@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2><em>IPageService</em> set Base tag in header</h2>
      <div>
        This page sets the Base tag in the header. Look at the source of this page to see the result. <br>
        There are two ways to do this:
      </div>
      <ul>
        <li>
          <code>IPageService.SetBase()</code> will auto-detect the current base. It's extra smart, so the result will also work on the home page of a portal.
        </li>
        <li>
          <code>IPageService.SetBase("/some/page")</code> create the base tag with the specified url. 
        </li>
      </ul>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>

@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Page", Service = "IPageService" })

<snippet id="page-base">
@{
  Kit.Page.SetBase();
}
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "page-base", Size = 100 }) 
</hide-silent>


<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 300 }) 
</hide>