@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2><em>IPageService</em> AddIcon to Html Headers</h2>
      <p>This page sets various icon headers according to best practices. </p>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
  @Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Page", Service = "IPageService" })
  <div>
    Look at the html-header in the output-source to see the effect. <br>
    The following links will set different icons depending on what you need.
  </div>
  <ul>
    @SubpageLink("Just add single icon", "one")
    @SubpageLink("Add default set incl. favicon and apple-touch", "set")
    @SubpageLink("Add default set without favicon", "nofav")
    @SubpageLink("Add default set with custom favicon (recommended)", "pngfav")
  </ul>
</trim>

<snippet id="page-icons">
@{
  // use url parameter to decide which icon(s) to show, and default to "set"
  var mode = CmsContext.Page.Parameters["mode"];

  // the icon we want to use for this page is this png file
  var iconUrl = App.Path + "/blade/assets/razor-blade-icon.png";

  // now add the headers depending on the demo you picked
  // in your code you would only use one of these
  if(mode == "one") {
    Kit.Page.AddIcon(iconUrl);
  } 
  else if (mode == "set") {
    Kit.Page.AddIconSet(iconUrl);
  } 
  else if (mode == "nofav") {
    Kit.Page.AddIconSet(iconUrl, favicon: false);
  }
  else if (mode == "pngfav") {
    Kit.Page.AddIconSet(iconUrl, favicon: iconUrl);
  }
}
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "page-icons", Size = 450 }) 
</hide-silent>


<hide>
@functions {
  dynamic SubpageLink(string label, string root, string key, string value) {
    return Tag.Li().Class(CmsContext.Page.Parameters[key] == value ? "selected" : "")
      .Wrap(
        Tag.A(label).Href(@Link.To(parameters: "?" + root + "&" + key + "=" + value))
      );
  }

  dynamic SubpageLink(string label, string value) {
    return SubpageLink(label, "page121=page", "mode", value);
  }
}
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 670 })
</hide>