@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
</hide>


<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2><em>IPageService</em> to Set Headers / Meta etc.</h2>
      <div>
        This page sets the title, description, keywords and some manual tags to the header. 

        Look at the resulting output-source to see the effect. 
      </div>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>

@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Page", Service = "IPageService" })

@Sys.SourceCode.SnippetOnlyStart("page-headers")
  @{
    // prefix the current title, description and keywords with additional values
    Kit.Page.AddToHead("<meta xyz>");
    Kit.Page.AddMeta("somename", "somevalue");
  }
@Sys.SourceCode.SnippetOnlyEnd()


@Sys.PageParts.FooterWithSource()