@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
</hide>
<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2><em>IPageService</em> to add Open-Graph Headers</h2>
      <div>
        This page sets various open-graph headers. 

        Look at the resulting output-source to see the effect. 
      </div>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>

@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Page", Service = "IPageService" })

<snippet id="page-graph">
@{
  // note: 'og:' is auto-prefixed if not given in the key

  Kit.Page.AddOpenGraph("title", "Demo of OpenGraph headers");
  Kit.Page.AddOpenGraph("type", "website");
}
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "page-graph", Size = 170 }) 
</hide-silent>

<hide>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 450 }) 
</hide>