@inherits Custom.Hybrid.Razor14
@{
  // Sys helps generate code snippets etc.
  var Sys = CreateInstance("/shared/Helpers.cs").Init(this);
  // The accordion is an external helper file, so we must treat it as dynamic
  var acc = DynamicModel.Accordion as dynamic;
  // variable to hold each section config
  dynamic accSection;
  dynamic qref;
}

  <p>
    These are some very common Razor APIs which you should know.
  </p>
    
  @* Shared section, which is identical in both Razors syntaxes *@
  @((accSection = acc.Section("razor-variables")).Start())
    @Html.Partial("./Part RazorBasics.Variables.cshtml")
  @accSection.End()
  @((accSection = acc.Section("razor-if")).Start())
    @Html.Partial("./Part RazorBasics.If.cshtml")
  @accSection.End()
  @((accSection = acc.Section("razor-loop")).Start())
    @Html.Partial("./Part RazorBasics.Loops.cshtml")
  @accSection.End()
  @((accSection = acc.Section("razor-raw")).Start())
    @Html.Partial("./Part RazorBasics.Html.cshtml")
  @accSection.End()
  @((accSection = acc.Section("razor-emoji")).Start())
    @Html.Partial("./Part RazorBasics.Emoji.cshtml")
  @accSection.End()


  @* Functions, Partials, Parameters *@
  @((accSection = acc.Section("quickref-razor-functions")).Start())
    @Html.Partial("./Part RazorBasics.Functions.cshtml")
  @accSection.End()

  @((accSection = acc.Section("quickref-razor-partials-basic")).Start())
    @Html.Partial("./Part RazorBasics.PartialNoParams.cshtml")
  @accSection.End()

  @((accSection = acc.Section("quickref-razor-partials-parameters")).Start())
    @((qref = Sys.SourceCode.QuickRef(tabs: new Dictionary<string, string> {
      { "Source box.cshtml", "file:../reuse/box-pro.cshtml" },
    }, tutorials: new string[] { "reuse110" })).SnipStart())
      <h4>Call some external Razor files</h4>
      <ol>
        <li>@Html.Partial("../reuse/box.cshtml", new { Label = "Hello, this is the first line" })</li>
        <li>@Html.Partial("../reuse/box.cshtml", new { Label = "Second line!", Color = "red" })</li>
      </ol>
    @qref.SnipEnd()
  @accSection.End()




  @((accSection = acc.Section("quickref-razor-shared-code")).Start())
    @((qref = Sys.SourceCode.QuickRef(tabs: new Dictionary<string, string> {
      { "Source SharedFunctions.cs", "file:../reuse/SharedFunctions.cs" },
    }, tutorials: new string[] { "reuse210", "reuse310", "reuse320" })).SnipStart())
      @{
        // helper library to say hello & create QR codes
        var qrLib = CreateInstance("../reuse/SharedFunctions.cs");
      }
      <h4>Call some Code in External CSharp Files</h4>
      <ol>
        <li>Hello from shared lib: @qrLib.SayHello()</li>
        <li>
          QR Code from shared lib
          <img loading="lazy" src='@qrLib.QrPath("https://2sxc.org")' width="75px">
        </li>
      </ol>
    @qref.SnipEnd()
  @accSection.End()