@inherits Custom.Hybrid.Razor14
@{ var Sys = CreateInstance("/shared/Helpers.cs").Init(this); }
@{ dynamic qref; }

@* Note: this is only typed, because the inner file is typed; the other code is identical *@

@((qref = Sys.SourceCode.QuickRef(tabs: new Dictionary<string, string> {
  { "Source box.cshtml", "file:../../reuse/box.cshtml" },
}, tutorials: new string[] { "reuse110" })).SnipStart())
  <h4>Call some external Razor files</h4>
  <ol>
    <li>
      @Html.Partial("../../reuse/box.cshtml", new {
        Label = "Hello, this is the first line"
      })
    </li>
    <li>
      @Html.Partial("../../reuse/box.cshtml", new {
        Label = "Second line!",
        Color = "red"
      })
    </li>
    <li>
      @{
        var label = "Third line!"; // if variable name is the same...
        var color = "green";  // if variable name is the same...
      }
      @Html.Partial("../../reuse/box.cshtml", new { label, color })
    </li>
  </ol>
@qref.SnipEnd()