@* 




  NOTE: THIS FILE IS NOT BEING USED 



*@
@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>
<trim>
  <p>
    Learn the basics of Images, Image Resizing and Pictures.
  </p>
  <hr>
</trim>

<h2>Basic Examples</h2>

<ol>
  @Sys.TutorialLink("Images (img) and Pictures (picture) with Best Practices", "img100", 
  "Best ways to use img, picture and also give various sizes / formats for the browser to load")
  @Sys.TutorialLink("Resize and Crop Images Automatically", "img200")
  @Sys.TutorialLink("Resize and Crop using Preset Sizes and Configurations", "img210")
</ol>

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })
