@inherits Custom.Hybrid.Razor14
<hide>
  @using ToSic.Razor.Blade;
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null;}
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>


<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h1>The <code>&lt;img&gt;</code> Tag and Different Image Formats</h1>
      <p>
        The <code>&lt;img&gt;</code> tag is used to show Images. 
        It's important that you know the core image formats:
      </p>
      <ul>
        <li><strong>JPG</strong> <br>
          <code>.jpg</code> files are ideal for Photos, as they compress natural color gradients very well. 
          It doesn't support transparancy, which is a problem for various use cases. 
        </li>
        <li><strong>PNG</strong> <br>
          PNG is similar to <strong>GIF</strong> and is perfect for images which have areas with the exactly same color - something that's common in artificial images like Logos, but not in Photos. 
          It also supports transparencies. Unfortunately the compression isn't so good for photos (see sample below).
        </li>
        <li>
          <strong>WebP</strong> <br>
          WebP combines and levereges the features of JPG and PNG compression. With WebP you can have lossy compression and an alpha channel. 
          For the lossy compression which is similar to JPG, WEBP optimizes the process of DCT quantization by using prediction models 
          and compressing it using <a href="https://en.wikipedia.org/wiki/Arithmetic_coding">Arithmetic encoding</a> instead of Huffman.
          The alpha channel remains intact by compressing it seperatly using Huffman. 
        </li>
      </ul>
    </div>
  </div>

@Html.Partial("../Shared/Accordion/Accordion List.cshtml", new { Sys, NameId = "img-page" })

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })