@inherits Custom.Hybrid.Razor14
<hide>
  @using ToSic.Razor.Blade;
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @{ dynamic snip = null; }
  @Html.Partial("header.cshtml", new { Sys = Sys })
  @{
    /* Internal remarks for the tutorial developers
      To reall see the images loading they must have different names in each tutorial.
      Otherwise some image is already loaded because of a different example, and the user won't see lazy-loading on resize.
      */
  }
</hide>

<div @Sys.PageParts.InfoWrapper()>
  @Html.Partial("../shared/DefaultInfoSection.cshtml")
  <div @Sys.PageParts.InfoIntro()>
      <h2>Best practices using the Image Service</h2>
      <p>Learn about the best practices for using the image service and more. Our goals are:</p>
      <ol>
        <li>Make sure every image is perfectly sized as needed</li>
        <li>Multiple sizes are provided for various use cases</li>
        <li>Labels and configs made by the editor (for example, setting a priority corner) are respected by the resizer
        </li>
      </ol>
    </div>
  </div>


@Html.Partial("../shared/KitBaseClassInfoBox.cshtml", new { ServiceName = "Image", Service = "IImageService" })

@Html.Partial("../Shared/Accordion/Accordion One.cshtml", new { Sys, Variant = ".Dyn", NameId = "img-tips" })

@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })

