@inherits Custom.Hybrid.Razor14
<hide>
  @using ToSic.Razor.Blade;
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
  @{  
    /* Internal remarks for the tutorial developers
      To reall see the images loading they must have different names in each tutorial.
      Otherwise some image is already loaded because of a different example, and the user won't see lazy-loading on resize.
    */
    string sourceCode = Sys.ShowCodeFile; // must be typed, because Html.Partial on Oqtane can't use dynamic variables
  }
  @functions {
    dynamic ShowCurrentSrc(string id) {
      return Tag.Div().Class("alert alert-light").Wrap(
        Tag.Div("To see the currentSrc change, make the window narrow, reload, and then drag it to become larger."),
        Tag.Code().Id(id + "-label")
      );
    }
  }
</hide>

<trim>
  <div class="row mb-5">
    <div class="col-lg-7">
      <h1>Best-Possible Image for Every Screen &amp; Device</h1>
      <h2>...using <code>img</code> and <code>srcset</code></h2>
      <p>
        HTML has a few ways to show an image, and you should know which way is best. Discover: 
      </p>
      <ol>
        <li><code>img</code> for your standard image</li>
        <li>enhancing images with size-detection using <code>srcset</code> and <code>sizes</code></li>
      </ol>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
  <div class="alert alert-info">
    These examples are optimized. 
    The browser will only load new images, if they are larger than the previous one. 
    So to see the effect, you must make the browser very small (narrow), reload the page, and then drag it wider. 
    <br>
    <br>
    Some examples show the currently loaded URL below it, and the difference may be very small as it changes. So look closely 🔍
  </div>
  @Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Image", Service = "IImageService" })

  <hr>
  <h2>Responsive <code>img</code> with <code>srcset</code> and <code>sizes</code> To Load Different Pictures</h2>
  <p>
    With <code>srcset</code> on the <code>img</code> tag you can tell the browser to load different images based on screen size. 
    To really get the hang of this, best check out <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images" target="_blank">the MDN docs</a>.
  </p>


</trim>

<hide>
  <h3>What you need to know about <code>srcset</code></h3>
  <ol>
    <li>
      <strong>Important: </strong> If the browser already has a large image, it won't load smaller ones. 
      So to see this in action, you have to start with a tiny browser window, loading the 250px - then make it larger to see bigger pictures load. 
    </li>
    <li>The main picture in <code>src</code> is used in all old browsers</li>
    <li>You can also use <code>srcset</code> to specify different resolutions for retina displays.</li>
    <li><strong>Important: </strong> the width specified in the <code>max-width</code> is the view/page width, not the image width</li>
  </ol>
  <h3>Example with Different Files for Each Resolution</h3> 
</hide>

@Sys.SourceCode.SnippetStart("img-srcset")
  @ShowCurrentSrc("img-srcset")
  <img class="img-fluid" alt="Image SrcSet Demo"
    src="@App.Path/img/assets/jellyfish-img-srcset-1000.jpg"
    srcset="@App.Path/img/assets/jellyfish-img-srcset-2000.jpg 2000w,
            @App.Path/img/assets/jellyfish-img-srcset-1000.jpg 1000w,
            @App.Path/img/assets/jellyfish-img-srcset-500.jpg 500w,
            @App.Path/img/assets/jellyfish-img-srcset-250.jpg 250w,">
@Sys.SourceCode.SnippetEnd("img-srcset")


<h3>Example with Automatically Resized Files for Each Resolution</h3>
@Sys.SourceCode.ResultStart("img-srcset-auto", "Generated HTML")
  @ShowCurrentSrc("img-srcset-auto")
  @{
    var tomatoPicUrl = App.Path +  "/img/assets/pexels-pixabay-533288.jpg";
  }
  @Kit.Image.Img(tomatoPicUrl)
@Sys.SourceCode.ResultPrepare()
  @{
    var previewTag = Kit.Image.Img(tomatoPicUrl);
    var resultHtml = Sys.SourceCode.ShowResultImg(previewTag);
  }
@Sys.SourceCode.ResultEnd("img-srcset-auto", resultHtml)


<h3>Example with Automatic Resize and Special Settings</h3>
<p>
  The following example (and the ones after this) will use a flatter image to make it easier to see all the samples. 
  To achieve this, we must create <code>ResizeSettings</code> for this. It will be based on the default <code>Content</code> settings.
</p>
@Sys.SourceCode.ResultStart("img-srcset-auto2", "Generated HTML")
  @ShowCurrentSrc("img-srcset-auto2")
  @{
    var flatSettings = Kit.Image.Settings(Settings.Images.Content, aspectRatio: "8:1");
  }
  @Kit.Image.Img(tomatoPicUrl, settings: flatSettings)
@Sys.SourceCode.ResultPrepare()
  @{
    previewTag = Kit.Image.Img(tomatoPicUrl, settings: flatSettings);
    resultHtml = Sys.SourceCode.ShowResultImg(previewTag);
  }
@Sys.SourceCode.ResultEnd("img-srcset-auto2", resultHtml)


<h3>Example with Automatic Resize and Special SrcSets</h3>
<p>
  The default settings contains a list of default resizes - which is why the examples before just worked. 
  You can also specify your own, according to the specs in the
  <a href="https://docs.2sxc.org/net-code/images/srcset.html" target="_blank">srcset docs</a>. 
</p>

@Sys.SourceCode.ResultStart("img-srcset-auto-srcset", "Generated HTML")
  @ShowCurrentSrc("img-srcset-auto-srcset")
  @Kit.Image.Img(tomatoPicUrl, settings: flatSettings, recipe: "1600,1200,1000,900,800,700,600,500,400")
@Sys.SourceCode.ResultPrepare()
  @{
    previewTag = Kit.Image.Img(tomatoPicUrl, settings: flatSettings, recipe: "1600,1200,1000,900,800,700,600,500,400");
    resultHtml = Sys.SourceCode.ShowResultImg(previewTag);
  }
@Sys.SourceCode.ResultEnd("img-srcset-auto-srcset", resultHtml)


<h3>Automatic Resize with Custom <code>alt</code> and <code>class</code> </h3>

@Sys.SourceCode.ResultStart("img-srcset-auto3", "Generated HTML")
  @ShowCurrentSrc("img-srcset-auto3")
  @Kit.Image.Img(tomatoPicUrl, settings: flatSettings, imgAlt: "SEO Text", imgClass: "border border-primary")
@Sys.SourceCode.ResultPrepare()
  @{
    previewTag = Kit.Image.Img(tomatoPicUrl, settings: flatSettings, imgAlt: "SEO Text", imgClass: "border border-primary");
    resultHtml = Sys.SourceCode.ShowResultImg(previewTag);
  }
@Sys.SourceCode.ResultEnd("img-srcset-auto3", resultHtml)


<h3>Automatic Resize with Detailed Control</h3>

@Sys.SourceCode.ResultStart("img-srcset-auto4", "Generated HTML")
  @ShowCurrentSrc("img-srcset-auto4")
  @{
    var imgControlled = Kit.Image.Img(tomatoPicUrl, settings: flatSettings);
  }
  @imgControlled.Img.Id("Some-Id").Style("Width: 75%")
@Sys.SourceCode.ResultPrepare()
  @{
    previewTag = imgControlled;
    resultHtml = Sys.SourceCode.ShowResultImg(previewTag);
  }
@Sys.SourceCode.ResultEnd("img-srcset-auto4", resultHtml)


<h3>Automatic Resize with Full Control</h3>

@Sys.SourceCode.ResultStart("img-srcset-auto5", "Generated HTML")
  @ShowCurrentSrc("img-srcset-auto5")
  @{
    var imgFullControl = Kit.Image.Img(tomatoPicUrl, settings: flatSettings);
  }
  <img src="@imgFullControl.Src" srcset="@imgFullControl.SrcSet" title="Hover to see this">
@Sys.SourceCode.ResultPrepare()
  @{
    previewTag = imgFullControl;
    resultHtml = Sys.SourceCode.ShowResultImg(previewTag);
  }
@Sys.SourceCode.ResultEnd("img-srcset-auto5", resultHtml)


<script>
  // Activate the controls which show the current live src of each picture/image tag
  showChangingSrc("img-srcset")
  showChangingSrc('img-srcset-auto');
  showChangingSrc('img-srcset-auto-srcset');
  showChangingSrc('img-srcset-auto2');
  showChangingSrc('img-srcset-auto3');
  showChangingSrc('img-srcset-auto4');
  showChangingSrc('img-srcset-auto5');
</script>

@* 
Photo by <a href="https://unsplash.com/@dorianbaumann?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dorian Baumann</a> on <a href="https://unsplash.com/s/photos/aescher?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

Werdenberg: Photo by <a href="https://unsplash.com/@calina?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Georg Bommeli</a> on <a href="https://unsplash.com/s/photos/buchs-sg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

*@
  <div class="alert alert-info">
    <strong>Credits: </strong>
    <ol>
      <li>
        Koi fish Photo by <a href="https://unsplash.com/@("@")agusprianto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">agus prianto</a> on <a href="https://unsplash.com/s/photos/colorful-shrimp?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      </li>
      <li>
        Jellyfish Photo by <a href="https://unsplash.com/@("@")kkkaran?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Karan Karnik</a> on <a href="https://unsplash.com/s/photos/sea-life?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      </li>
    </ol>
  </div>
</hide>

@Sys.PageParts.FooterWithSource()
