@inherits Custom.Hybrid.Razor12
@using ToSic.Sxc.Services;
@{
  var imgSvc = GetService<IImageService>();
}
<hide>
@Html.Partial("_header.cshtml")
@{  
  /* Internal remarks for the tutorial developers
    To reall see the images loading they must have different names in each tutorial.
    Otherwise some image is already loaded because of a different example, and the user won't see lazy-loading on resize.
  */
}
</hide>

<trim>
  <hr>
  <h2>Browser-Capabilities <code>picture</code> with different formats</h2>
  <p>
    The perfect image depends on browser capabilities. 
    The following example will get modern browsers a webp image (which is smaller/faster) and normal browsers a jpg. 
  </p>
</trim>

<hide>
  <h3>What you need to know about <code>picture</code></h3>
  <ol>
    <li>It's just a wrapper for the <code>img</code></li>
    <li>You always need an <code>img</code> tag inside it, and this is what old browsers like IE6 will take even if they don't understand <code>picture</code></li>
    <li>The <code>img</code> tag also caries the <code>alt</code> description, width, size, styles etc. which is used for all images</li>
    <li>The <code>source</code> tags contain rules like <code>type</code> or <code>media</code> which the browser uses to pick the best image</li>
    <li>The <code>source</code> also supports the same <code>srcset</code> and <code>sizes</code> just like the <code>img</code> tag</li>
    <li><strong>Important: </strong> you must use <code>srcset</code> and not <code>src</code> on the <code>source</code> tags</li>
    <li><strong>Important: </strong> Order matters! Put the <code>source</code> tags first in the order you need, as the first match will be taken.</li>
  </ol>
</hide>

<snippet id="demo-picture-formats">
<picture>
  <source type="image/webp" srcset="@App.Path/img/assets/koi-400.webp">
  <source type="image/png" srcset="@App.Path/img/assets/koi-400.png">
  <img style="width: 40%;" src="@App.Path/img/assets/jellyfish-1000.jpg">
</picture>
</snippet>
<br>
<code id="demo-picture-formats-label"></code>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "demo-picture-formats", Size = 120 }) 
</hide-silent>

<trim>
  <hr>
  <h2>Responsive <code>picture</code> with many resolutions</h2>
  <p>
    The perfect image is often different depending on the screen size. 
    The following example will get two different sizes, depending on the screen size. 
    Try resizing the screen and watch the network (F12) to see when the other sizes are loaded. 
  </p>
</trim>

<snippet id="demo-picture-srcset">
<picture>
  <source type="image/webp"
    srcset="@App.Path/img/assets/koi-img-srcset-2000.webp 2000w,
      @App.Path/img/assets/koi-img-srcset-1000.webp 1000w,
      @App.Path/img/assets/koi-img-srcset-500.webp 500w,
      @App.Path/img/assets/koi-img-srcset-250.webp 250w,"
    sizes="(max-width: 300px) 250px, (max-width: 600px) 500px, (max-width: 1200px) 1000px, 2000px">
  <source type="image/png"
    srcset="@App.Path/img/assets/jellyfish-img-srcset-2000.jpg 2000w,
      @App.Path/img/assets/jellyfish-img-srcset-1000.jpg 1000w,
      @App.Path/img/assets/jellyfish-img-srcset-500.jpg 500w,
      @App.Path/img/assets/jellyfish-img-srcset-250.jpg 250w,"
    sizes="(max-width: 300px) 250px, (max-width: 600px) 500px, (max-width: 1200px) 1000px, 2000px">
  <img class="img-fluid" src="@App.Path/img/assets/jellyfish-img-srcset-1000.jpg" alt="Picture srcset demo">
</picture>
</snippet>
<code id="demo-picture-srcset-label"></code>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "demo-picture-srcset", Size = 320 }) 
</hide-silent>

<hr>
<h2>Automatically Resized Files &amp Formats</h2>

<snippet id="pic-auto">

@imgSvc.Picture(App.Path + "/img/assets/jellyfish-img-srcset-2000.jpg")
</snippet>
<code id="pic-auto-label"></code>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "pic-auto", Size = 100 }) 
</hide-silent>

<hr>
<h2>Automatically Resized Bits with More Control</h2>
<snippet id="pic-auto-control1">
@{
  var picControlled = imgSvc.Picture(App.Path + "/img/assets/jellyfish-img-srcset-2000.jpg");
}
<picture>
  @picControlled.SourceTags
  @picControlled.ImgTag.Id("some-id").Style("width: 75%").Title("Mouseover this!")
</picture>
</snippet>
<br>
<code id="pic-auto-control1-label"></code>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "pic-auto-control1", Size = 160 }) 
</hide-silent>

<hr>
<h2>Automatically Resized Bits with Lots of Control</h2>
<snippet id="pic-auto-control2">
@{
  var picFullControl = imgSvc.Picture(App.Path + "/img/assets/jellyfish-img-srcset-2000.jpg");
}
<picture>
  @foreach(var st in picFullControl.SourceTags){
    @st
  }
  <img src="@picFullControl.Url" style="width: 50%" class="border border-primary">
</picture>
</snippet>
<br>
<code id="pic-auto-control2-label"></code>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "pic-auto-control2", Size = 200 }) 
</hide-silent>
<hide>

<script>
  showChangingSrc('#demo-picture-formats img', '#demo-picture-formats-label');
  showChangingSrc('#demo-picture-srcset img', '#demo-picture-srcset-label');
  showChangingSrc('#pic-auto img', '#pic-auto-label');
  showChangingSrc('#pic-auto-control1 img', '#pic-auto-control1-label');
  showChangingSrc('#pic-auto-control2 img', '#pic-auto-control2-label');
</script>

@Html.Partial("../shared/_source-code.cshtml", new { Path, Size = 1900 }) 