@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  
  /* Internal remarks for the tutorial developers
    To really see the images loading they must have different names in each tutorial.
    Otherwise some image is already loaded because of a different example, and the user won't see lazy-loading on resize.
  */
  var hlp = CreateInstance("../shared/Helpers.cs");
}
@functions {
  // Special helper to create the config object
  // Will also replace common things in the src-set
  object PictureTagPreview(object tag, int size) {
    return new {
      Path,
      Result = tag.ToString()
        .Replace(">", ">\n")
        .Replace(",", ",\n")
        .Replace("' ", "' \n")
        .Replace(" alt=", "\nalt="),
     Size = size
    };
  }
}
</hide>

<trim>
  <div class="row">
    <div class="col-lg-7">
      <h2>Best practices using the Image Service</h2>
      <p>Learn about the best practices for using the image service and more. Our goals are:</p>
      <ol>
        <li>Make sure every image is perfectly sized as needed</li>
        <li>Multiple sizes are provided for various use cases</li>
        <li>Labels and configs made by the editor (for example, setting a priority corner) are respected by the resizer</li>
      </ol>
    </div>
    @Html.Partial("../shared/_DefaultInfoSection.cshtml")
  </div>
</trim>

@Html.Partial("../shared/_KitBaseClassInfoBox.cshtml", new { ServiceName = "Image", Service = "IImageService" })

<h2>Image with URL vs. Field in <code>img</code> tag</h2>
<p>
  As learned in the previous tutorials the <code>img</code> tag can be created out of URLs.
  The image service can also be used with Fields. The field will contain the URL as well as additional Metadata like the description or what part of the picture is important (the Crop-Anchor).
</p>
<p>
  To get the most out of 2sxc and its image configuration options 
  it's best to use the image object instead of URLs. By using the image configuration options,
  the settings can be easily retrieved from the corresponding image.
</p>

<hide>
  @{
    var Content = AsList(App.Data["ImgDemoData"]).FirstOrDefault();
  }
</hide>
<div class="row">
  <div class="col-md">

    <p><strong>Picture from <code>Content.Image</code></strong></p>
    <snippet id="img-url">
      @* Picture from Content.Image *@
      @Kit.Image.Img(Content.Image)
    </snippet>

  </div>
  <div class="col-md">

    <p><strong>Picture from <code>Field</code> containing crop anchor and alt text</strong></p>
    <snippet id="img-object">
      @* Picture from Field containing crop anchor and alt text *@
      @Kit.Image.Img(Content.Field("Image"))
    </snippet>

  </div>
</div>

<hide-silent> @* Show only this snippet *@

<br>
<h6>Image to the LEFT - code and generated HTML</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "img-url", Size = 75 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Img(Content.Image), 200))

<br>
<h6>Image to the RIGHT (note the description and anchor-parameter in the URL)</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "img-object", Size = 75 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Img(Content.Field("Image")), 200))
</hide-silent>



<h2>Picture with URL vs. Field in <code>picture</code> tag</h2>
<p>
  As learned in the previous tutorials the <code>picture</code> tag can be created out of URLs.
  The image service can also be used with Fields. The field will contain the URL as well as additional Metadata like the description or what part of the picture is important (the Crop-Anchor).
</p>
<p>
  To get the most out of 2sxc and its image configuration options 
  it's best to use the image object instead of URLs. By using the image configuration options,
  the settings can be easily retrieved from the corresponding image.
</p>

<div class="row">
  <div class="col-md">

    <p><strong>Picture from <code>Content.Image</code></strong></p>
    <snippet id="picture-url">
      @* Picture from Content.Image *@
      @Kit.Image.Picture(Content.Image)
    </snippet>

  </div>
  <div class="col-md">

    <p><strong>Picture from <code>Field</code> containing crop anchor and alt text</strong></p>
    <snippet id="picture-object">
      @* Picture from Field containing crop anchor and alt text *@
      @Kit.Image.Picture(Content.Field("Image"))
    </snippet>

  </div>
</div>

<hide-silent> @* Show only this snippet *@

<br>
<h6>Image to the LEFT - code and generated HTML</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "picture-url", Size = 75 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Picture(Content.Image), 350))

<br>
<h6>Image to the RIGHT (note the description and anchor-parameter in the URL)</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "picture-object", Size = 75 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Picture(Content.Field("Image")), 350))
</hide-silent>

@*
  * example with other Recipe like "2x, 3x" - mit Settings
*@

<h2>Apply factor to the <code>picture</code> tag</h2>
<p>
  The Image Service offers multiple parameters for further customization of the images, such as the factor.
  The factor works as a resize multiplier for the image as for example (0.5).
  <br><br>
  Below you will find an example:
</p>

<div class="row">
  <div class="col-md">

    <p><strong>Picture using the factor <code>0.5</code></strong></p>
    <snippet id="picture-factor-05">
      @* Picture using the factor 0.5 *@
      @Kit.Image.Picture(Content.Field("Image"), factor: 0.5)
    </snippet>

  </div>
  <div class="col-md">

    <p><strong>Picture using the factor <code>5</code></strong></p>
    <snippet id="picture-factor-5">
      @* Picture using the factor 5 *@
      @Kit.Image.Picture(Content.Field("Image"), factor: 5)
    </snippet>

  </div>
</div>

<hide-silent> @* Show only this snippet *@

<br>
<h6>Image to the LEFT - code and generated HTML</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "picture-factor-05", Size = 75 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Picture(Content.Field("Image"), factor: 0.5), 350))

<br>
<h6>Image to the RIGHT (note higher resolution)</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "picture-factor-5", Size = 75 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Picture(Content.Field("Image"), factor: 5), 350))
</hide-silent>



<h2>Create multiple image variants</h2>
<p>
  The picture tag contains multiple configurations of images, which are called recipes in our ecosystem.
  The browser then chooses the optimal configuration based on the given srcset.

  Using the <code>.Recipe("")</code> method from the image service, you can easily add more size variants of your images.
  <br><br>
  Below you will find an example:
</p>

<div class="row">
  <div class="col-md">

    <p><strong>Picture default recipe</strong></p>
    <snippet id="picture-recipe-default">
      @* Picture using the default *@
      @Kit.Image.Picture(Content.Field("Image"))
    </snippet>

  </div>
  <div class="col-md">
    <p><strong>Picture with variants for 2x and 3x of the image size</strong></p>
    <snippet id="picture-recipe-custom">
      @{
        var customRecipe = Kit.Image.Recipe("2*, 3*");
      }
      @* Picture using recipe with 2x and 3x variants *@
      @Kit.Image.Picture(Content.Field("Image"), recipe: customRecipe)
    </snippet>

  </div>
</div>

<hide-silent> @* Show only this snippet *@

<br>
<h6>Image to the LEFT - code and generated HTML</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "picture-recipe-default", Size = 75 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Picture(Content.Field("Image")), 350))

<br>
<h6>Image to the RIGHT (note different variants)</h6>
@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "picture-recipe-custom", Size = 125 }) 
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(Kit.Image.Picture(Content.Field("Image"), recipe: customRecipe), 350))
</hide-silent>


<br>

<h2>Choose the optimal alt text</h2>
<p>
  By passing the image object, the picture tag will apply the alt text automatically.
  <br>
  Because alt texts are not always defined in the settings, different texts can be set as fallback.2sxc
  Preferably in that case, the image alt text has priority over other texts.
  We can create a fallback by using the <code>Text.First(text1, text2)</code> Method from Razor Blade. 
  <br><br>
  Below you will find an example:
</p>

<hide>
  @{
    Content = AsList(App.Data["ImgDemoData"]).FirstOrDefault();
  }
</hide>
<snippet id="image-alt-text">
@{
  var fallbackAltText = "Fallback";

  var imageFieldWithAltText = Content.Field("Image"); 
  var optimalAltText = Text.First(imageFieldWithAltText.Metadata.Description, fallbackAltText);
}
<div>
  <p><strong>Image with optimal alt text (@optimalAltText)</strong></p>
  <div style="width: 25%;">
    @Kit.Image.Picture(imageFieldWithAltText, imgAlt: optimalAltText)
  </div>
</div>
</snippet>
<hide-silent> @* Show only this snippet *@

@Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "image-alt-text", Size = 250 }) 

<h6>This generates:</h6>
@{ var previewTag = Kit.Image.Picture(Content.Field("Image"), imgAlt: optimalAltText); }
@Html.Partial("../shared/_result.cshtml", PictureTagPreview(previewTag, 300))
</hide-silent>

<hide>
  @Html.Partial("../shared/_PreCodeFooter.cshtml")

  @Html.Partial("../shared/_source-code.cshtml", new { 
    Path,
    Size = 3100
  }) 
</hide>