@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>

<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>Use the ImageResizer for Server-Side Resizing</h2>
    <p>
      2sxc comes with a built-in image resizer. 
      V12 and before used <a href="https://imageresizing.net/" target="_blank">ImageResizer.net</a>, 
      while v13 now uses <a href="https://www.imageflow.io/" target="_blank">imageflow</a>. 
      They work the same way. 
    </p>
    <p>The core principles:</p>
    <ol>
      <li>Add parameters like <code>?w=200</code> or <code>?w=200&h=150</code> to the url, so the server knows what size to deliver</li>
      <li>Additional parameters like <code>mode=crop</code> specify how to handle scenarios where the size doesn't match what you need</li>
    </ol>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>

  <h2>The Unmodified Image</h2>
  <p>
    For starters - this is the image we'll resize later on:
  </p>
  <snippet id="img-default">
    @{
      var imgUrl = App.Path + "/settings/demo.png";
    }
    @* <img loading="lazy" src='@imgUrl'> <-- don't do this *@
    <img loading="lazy" src='@Link.Image(imgUrl)'>
  </snippet>
  <hide-silent> @* Show only this snippet *@
    @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "img-default", Size = 120 }) 
  </hide-silent>

  <h2>The <code>Link.Image(...)</code> Helper</h2>
  <p>
    Above you can see that you shouldn't do <code>src='@@imgUrl'</code> because it can cause trouble in a CMS - like when the image has special characters in the name. 
    So you should always use <code>@@Link.Image(imgUrl)</code> instead. 
    <br>
    <br>
    The <code>Link.Image</code> also makes it easy to create image urls containing the correct resize parameters. 
    Even better: The parameters can be in a global setting for re-use across all apps and templates. 
  </p>

  <hr>
  <h2>Simple Examples with Parameters</h2>
  <p>
    Look at the source-code below to see how they are made. Note that we're adding a pink border around all <code>img</code> tags to make it easier to see the image bounds. 
  </p>
</trim>

<h3>Resize to 200px Width</h3>
<snippet id="size-1">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 200)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "size-1", Size = 50 }) 
</hide-silent>

<h3>Width: 200px</h3>
<snippet id="size-1">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 200)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "size-1", Size = 50 }) 
</hide-silent>

<h3>Height: 150px</h3>
<snippet id="size-2">
  <img loading="lazy" src='@Link.Image(url: imgUrl, height: 150)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "size-2", Size = 50 }) 
</hide-silent>

<h3>Width: 200px, Height 150px</h3>
<snippet id="size-3">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 200, height: 150)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "size-3", Size = 50 }) 
</hide-silent>

<h2>Resize and Change Format to JPG</h2>

<h3>200px, jpg</h3>
<snippet id="resize-format-1">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 200, format: "jpg")'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "resize-format-1", Size = 50 }) 
</hide-silent>

<h3>200px, jpg, 15% quality only</h3>
<snippet id="resize-format-2">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 200, format: "jpg", quality: 15)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "resize-format-2", Size = 50 }) 
</hide-silent>

<h2>Resize Modes</h2>
<p>
  All of these examples are width 250px, height 150px
</p>

<h3>Resize mode <code>crop</code></h3>
<snippet id="resize-mode-1">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 250, height: 150, resizeMode: "crop")'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "resize-mode-1", Size = 50 }) 
</hide-silent>

<h3>Resize Mode <code>max</code></h3>
<snippet id="resize-mode-2">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 250, height: 150, resizeMode: "max")'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "resize-mode-2", Size = 50 }) 
</hide-silent>

<h3>Resize Mode <code>stretch</code></h3>
<snippet id="resize-mode-3">
  <img loading="lazy" src='@Link.Image(url: imgUrl, width: 250, height: 150, resizeMode: "stretch")'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "resize-mode-3", Size = 50 }) 
</hide-silent>

<p>Other modes not demonstrated here, see <a href="https://imageresizing.net/docs/v4/reference" target="_blank">Image Resizer docs</a>.</p>

<hide>
<style>
  div.examples img { border: 2px pink dotted;}
</style>
@Html.Partial("../shared/_PreCodeFooter.cshtml")
@Html.Partial("../shared/_source-code.cshtml", new { 
  Path,
  Size = 1300
}) 

</hide>