@inherits Custom.Hybrid.Razor14
<hide>
  @using ToSic.Razor.Blade;
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }
  @Html.Partial("_header.cshtml", new { Sys = Sys })
@{
  var imgUrl = App.Path + "/img/assets/demo1.png";
  var imgUrl2 = App.Path + "/img/assets/demo2.png";
}
@functions {
    dynamic ShowCurrentSrc(string id)
    {
      return Tag.Div().Class("alert alert-light").Wrap(
      Tag.Div("To see the currentSrc change, make the window narrow, reload, and then drag it to become larger."),
      Tag.Code().Id(id + "-label")
      );
    }
  }
</hide>

<trim>
<div class="row mb-5">
  <div class="col-lg-7">
    <h2>Resize with Reusable Settings</h2>
    <p>
      If you want to specify resize-rules many times, you will usually want the configuration as a <strong>bundle</strong> to use multiple times. 
      The following examples show how to do this.
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
</trim>

  <h3>Basic Bundle of Settings (Height, Width and ResizeMode Crop)</h3>
  <p>This example uses the configuration as is, to create an image according to following specs</p>

@Sys.SourceCode.SnippetStart("custom-settings-1")
  @{// Create a configuration bundle as a Dynamic object with these specs
    var customSize = AsDynamic(new {
      Height = 100,
      Width = 500,
      ResizeMode = "Crop"
    });
  }
  <img loading="lazy" src='@Link.Image(imgUrl, customSize)'> - 
  <img loading="lazy" src='@Link.Image(imgUrl2, customSize)'>
@Sys.SourceCode.SnippetEnd("custom-settings-1")

<h3>Another Example (ResizeMode Stretch)</h3>
<p>This example uses the configuration as is, to create an image according to following specs</p>

@Sys.SourceCode.SnippetStart("custom-settings-2")
  @{
    var customSettingsStreched = AsDynamic(new {
      Height = 300,
      Width = 100,
      ResizeMode = "Stretch"
    });
  }
  <img loading="lazy" src='@Link.Image(imgUrl, customSettingsStreched)'> - 
  <img loading="lazy" src='@Link.Image(imgUrl2, customSettingsStreched)'>
@Sys.SourceCode.SnippetEnd("custom-settings-2")

<h3>Combine Config-Bundle with additional Params</h3>
<p>This example uses a config-bundle, but also specifies additional parameters in <code>Link.Image(...)</code>.</p>

@Sys.SourceCode.SnippetStart("custom-settings-3")
  @{
    var customSettingsMax = AsDynamic(new {
      Height = 300,
      Width = 100,
      ResizeMode = "Max"
    });
  }
  <img loading="lazy" src='@Link.Image(imgUrl, customSettingsMax, format: "jpg", quality: 1)'> - 
  <img loading="lazy" src='@Link.Image(imgUrl, customSettingsMax, format: "jpg", quality: 10)'> -
  <img loading="lazy" src='@Link.Image(imgUrl, customSettingsMax, format: "jpg", quality: 75)'>
@Sys.SourceCode.SnippetEnd("custom-settings-3")

@Sys.PageParts.FooterWithSource()
