@inherits Custom.Hybrid.Razor12
<hide>
@Html.Partial("_header.cshtml")
@{
  var imgUrl = App.Path + "/settings/demo.png";
}
</hide>

<trim>
  <h2>Examples using custom presets</h2>
  <p>
    The following example show custom presets.
  </p>
</trim>

<snippet id="custom-settings-1">
  <h3>Image with custom settings (Height, Width and ResizeMode Crop)</h3>
  <p>This example uses the configuration as is, to create an image according to following specs</p>
  @{
    var customSize = new {
      Height = 100,
      Width = 500,
      ResizeMode = "Crop"
    };
  }
  <img loading="lazy" src='@Link.Image(imgUrl, AsDynamic(customSize))'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "custom-settings-1", Size = 225 }) 
</hide-silent>

<snippet id="custom-settings-2">
  <h3>Image with custom settings (Height, Width and ResizeMode Stretch)</h3>
  <p>This example uses the configuration as is, to create an image according to following specs</p>
  @{
    var customSettingsStreched = new {
      Height = 300,
      Width = 100,
      ResizeMode = "Stretch"
    };
  }
  <img loading="lazy" src='@Link.Image(imgUrl, AsDynamic(customSettingsStreched))'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "custom-settings-2", Size = 225 }) 
</hide-silent>

<snippet id="custom-settings-3">
  <h3>Image with custom settings (Height, Width and ResizeMode Max)</h3>
  <p>This example uses the configuration as is, to create an image according to following specs</p>
  @{
    var customSettingsMax = new {
      Height = 300,
      Width = 100,
      ResizeMode = "Max"
    };
  }
  <img loading="lazy" src='@Link.Image(imgUrl, AsDynamic(customSettingsMax), format: "jpg", quality: 1)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "custom-settings-3", Size = 225 }) 
</hide-silent>