@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{
  var imgUrl = App.Path + "/img/assets/demo1.png";
  var imgUrl2 = App.Path + "/img/assets/demo2.png";
  var hlp = CreateInstance("../shared/Helpers.cs");
}
</hide>

<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>Resize with Reusable Settings</h2>
    <p>
      If you want to specify resize-rules many times, you will usually want the configuration as a <strong>bundle</strong> to use multiple times. 
      The following examples show how to do this.
    </p>
  </div>
  @Html.Partial("../shared/_DefaultInfoSection.cshtml")
</div>
</trim>

  <h3>Basic Bundle of Settings (Height, Width and ResizeMode Crop)</h3>
  <p>This example uses the configuration as is, to create an image according to following specs</p>
<snippet id="custom-settings-1">
@{// Create a configuration bundle as a Dynamic object with these specs
  var customSize = AsDynamic(new {
    Height = 100,
    Width = 500,
    ResizeMode = "Crop"
  });
}
<img loading="lazy" src='@Link.Image(imgUrl, customSize)'> - 
<img loading="lazy" src='@Link.Image(imgUrl2, customSize)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "custom-settings-1", Size = 200 }) 
</hide-silent>

<h3>Another Example (ResizeMode Stretch)</h3>
<p>This example uses the configuration as is, to create an image according to following specs</p>
<snippet id="custom-settings-2">
@{
  var customSettingsStreched = AsDynamic(new {
    Height = 300,
    Width = 100,
    ResizeMode = "Stretch"
  });
}
<img loading="lazy" src='@Link.Image(imgUrl, customSettingsStreched)'> - 
<img loading="lazy" src='@Link.Image(imgUrl2, customSettingsStreched)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "custom-settings-2", Size = 200 }) 
</hide-silent>

<h3>Combine Config-Bundle with additional Params</h3>
<p>This example uses a config-bundle, but also specifies additional parameters in <code>Link.Image(...)</code>.</p>
<snippet id="custom-settings-3">
@{
  var customSettingsMax = AsDynamic(new {
    Height = 300,
    Width = 100,
    ResizeMode = "Max"
  });
}
<img loading="lazy" src='@Link.Image(imgUrl, customSettingsMax, format: "jpg", quality: 1)'> - 
<img loading="lazy" src='@Link.Image(imgUrl, customSettingsMax, format: "jpg", quality: 10)'> -
<img loading="lazy" src='@Link.Image(imgUrl, customSettingsMax, format: "jpg", quality: 75)'>
</snippet>
<hide-silent> @* Show only this snippet *@
  @Html.Partial("../shared/_source-code.cshtml", new { Path, Snippet = "custom-settings-3", Size = 220 }) 
</hide-silent>
<hide>
  @Html.Partial("../shared/_PreCodeFooter.cshtml")
</hide>